<section id="casd_desk">

    <!-- Cash Desk opening / closing section -->
    <section class="breadcrums">
        <div class="row">
            <div class="col-sm-8 col-md-8 col-lg-8">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span style="font-weight: bold;">{{ 'Cash_Desk.Opening Date' | translate }} : </span> <span style="font-weight: bolder; color: #956FE6">{{cash_desk_lists?.case_date | date}}</span>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                ||
                            </div>
                            <div class="col-sm-5 col-md-5 col-lg-5">
                                <span style="font-weight: bold;">{{ 'Cash_Desk.Case Status' | translate }} : </span> <span style="font-weight: bolder; color: #956FE6">{{cash_desk_lists.is_case_closed == '0' ? 'Open' : 'Close'}}</span>
                            </div>
                    </ol>
                </nav>
            </div>
            <!-- Opening Button -->
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="btn-group mb-2 mr-2" style="width: inherit;" ngbDropdown [placement]="'bottom-right'">
                    <button type="back" class="btn btn-primary" [disabled] = "cash_desk_lists.is_case_closed == 0" (click)="opening_Cash_Desk()" data-toggle="tooltip"
                        data-placement="bottom" title="Open Cash Desk" style="letter-spacing: 1px;">{{ 'Cash_Desk.Opening' | translate }}</button>
                </div>
            </div>
            <!-- Closing Button -->
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="btn-group mb-2 mr-2" style="width: inherit;" ngbDropdown [placement]="'bottom-right'">
                    <button type="back" class="btn btn-danger" [disabled] = "cash_desk_lists.is_case_closed == 1" (click)="closing_Cash_Desk(cash_desk_lists?.id)" data-toggle="tooltip"
                        data-placement="bottom" title="Close Cash Desk" style="letter-spacing: 1px;">{{ 'Cash_Desk.Closing' | translate }}</button>
                </div>
            </div>
        </div>
    </section>
    
    <div class="row">
        <!-- Profit -->
        <div class="col-md-4">
            <app-card [hidHeader]="true" cardClass="prod-p-card">
                <div class="row align-items-center m-b-0">
                    <div class="col">
                        <h6 class="m-b-5" style="color: #323258;" class="card-font-size">{{ 'Cash_Desk.Cash Balance' | translate }}</h6>
                        <h3 class="m-b-0" style="color: #323258;">{{cash_desk_lists?.total_amount}}</h3>
                    </div>
                    <div class="col-auto">
                        <h4>MAD</h4>
                    </div>
                </div>
            </app-card>
        </div>
        <!-- Openeing -->
        <div class="col-md-4">
            <app-card [hidHeader]="true" cardClass="prod-p-card" style="background-color: white;">
                <div class="row align-items-center m-b-0">
                    <div class="col">
                        <h6 class="m-b-5" style="color: #323258;" class="card-font-size">{{ 'Cash_Desk.Opening Balance' | translate }}</h6>
                        <h3 class="m-b-0" style="color: #323258;">{{cash_desk_lists?.opening_balance}}</h3>
                    </div> 
                    <div class="col-auto">
                        <h4>MAD</h4>
                    </div>
                </div>
            </app-card>
        </div>
        <!-- Closing -->
        <div class="col-md-4">
            <app-card [hidHeader]="true" cardClass="prod-p-card" style="background-color: white;">
                <div class="row align-items-center m-b-0">
                    <div class="col">
                        <h6 class="m-b-5" style="color: #323258;" class="card-font-size">{{ 'Cash_Desk.Closing Balance' | translate }}</h6>
                        <h3 class="m-b-0" style="color: #323258;">{{cash_desk_lists?.closing_balance}}</h3>
                    </div>
                    <div class="col-auto">
                        <h4>MAD</h4>
                    </div>
                </div>
            </app-card>
        </div>
    </div>

    <!-- Amount Section -->
    <div class="row">
        <!-- Remaning Amount -->
        <div class="col-md-4">
            <app-card [hidHeader]="true" cardClass="prod-p-card" style="background-color: white;">
                <div class="row align-items-center m-b-0">
                    <div class="col">
                        <h6 class="m-b-5" style="color: #323258;" class="card-font-size">{{ 'Cash_Desk.Total Receipts' | translate }}</h6>
                        <h3 class="m-b-0" style="color: #323258;">{{cash_desk_lists?.receipt_amount?.receipt}}</h3>
                    </div>
                    <div class="col-auto">
                        <h4>MAD</h4>
                    </div>
                </div>
            </app-card>
        </div>
        <!-- Receiving Amount -->
        <div class="col-md-4">
            <app-card [hidHeader]="true" cardClass="prod-p-card" style="background-color: white;">
                <div class="row align-items-center m-b-0">
                    <div class="col">
                        <h6 class="m-b-5" style="color: #323258;" class="card-font-size">{{ 'Cash_Desk.Total Expenses' | translate }}</h6>
                        <h3 class="m-b-0" style="color: #323258;">{{cash_desk_lists?.expense_amount?.expense}}</h3>
                    </div>
                    <div class="col-auto">
                        <h4>MAD</h4>
                    </div>
                </div>
            </app-card>
        </div>
    </div>

    <!-- breadcrums section -->
    <section class="breadcrums">
        <div class="row">
            <div class="col-sm-9 col-md-9 col-lg-9">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>
                                {{ 'Cash_Desk.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Cash_Desk.Cash Desk' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="btn-group mb-2 mr-2" style="width: inherit;" ngbDropdown [placement]="'bottom-right'">
                    <button type="back" class="btn btn-primary" ngbDropdownToggle data-toggle="tooltip"
                        data-placement="bottom" title="Add" style="letter-spacing: 1px;">{{ 'Cash_Desk.Miscellaneous' | translate }}</button>
                    <div ngbDropdownMenu style="width: 100% !important;">
                        <a class="dropdown-item" style="letter-spacing: 1px;"
                            routerLink="/manage-cash-desk/add-miscellaneous-receipt">{{ 'Cash_Desk.Receipts' | translate }}</a>
                        <a class="dropdown-item" style="letter-spacing: 1px;"
                            routerLink="/manage-cash-desk/add-miscellaneous-expense">{{ 'Cash_Desk.Expenses' | translate }}</a>
                    </div>
                </div>
                <!-- <button type="back" style="width: inherit;" class="btn btn-primary" ngbDropdownToggle routerLink="/events/add-event-circuit" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button> -->
            </div>
        </div>
    </section>


    <!-- Today's Earning -->
    <!-- <div class="row">
        <div class="col-sm-4">
            <app-card [hidHeader]="true">
                <div class="row" style="border-bottom: 0.25px solid #a568ff;">
                    <div class="col-md-12" style="text-align: center;">
                        <span style="font-size: large; font-weight: bold; color: #323258;">Today's Earning</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6" style="text-align: center;">
                        <h3 style="font-size: xx-large; font-weight: bold; color: #97a7c1;">1000</h3>
                    </div>
                    <div class="col-md-6">
                        <h6
                            style="font-weight: bold; font-size: medium; color: #323258; text-align: center; padding-top: 15px;">
                            MAD</h6>
                    </div>
                </div>

                <app-apex-chart chartID="analytics-apex-user-chart" [chartConfig]="this.chartDB.userAACC">
                </app-apex-chart>
            </app-card>
        </div>


     
        <div class="col-sm-4">
            <app-card [hidHeader]="true">
                <div class="row" style="border-bottom: 0.25px solid #a568ff;">
                    <div class="col-md-12" style="text-align: center;">
                        <span style="font-size: large; font-weight: bold; color: #323258;">Today's Opening
                            Balance</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6" style="text-align: center;">
                        <h3 style="font-size: xx-large; font-weight: bold; color: #97a7c1;">100</h3>
                    </div>
                    <div class="col-md-6">
                        <h6
                            style="font-weight: bold; font-size: medium; color: #323258; text-align: center; padding-top: 15px;">
                            MAD</h6>
                    </div>
                </div>

                <app-apex-chart chartID="analytics-apex-session-chart" [chartConfig]="this.chartDB.sessionAACC">
                </app-apex-chart>
            </app-card>
        </div>

        <div class="col-sm-4">
            <app-card [hidHeader]="true">
                <div class="row" style="border-bottom: 0.25px solid #a568ff;">
                    <div class="col-md-12" style="text-align: center;">
                        <span style="font-size: large; font-weight: bold; color: #323258;">Today's Closing
                            Balance</span>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-6" style="text-align: center;">
                        <h3 style="font-size: xx-large; font-weight: bold; color: #97a7c1;">1100</h3>
                    </div>
                    <div class="col-md-6">
                        <h6
                            style="font-weight: bold; font-size: medium; color: #323258; text-align: center; padding-top: 15px;">
                            MAD</h6>
                    </div>
                </div>

                <app-apex-chart chartID="analytics-apex-bounce-rate-chart" [chartConfig]="this.chartDB.bounceRateAACC">
                </app-apex-chart>
            </app-card>
        </div>
    </div> -->



    <!-- Filter Section -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="{{'list_Cash_Desk.Filter Section' | translate}}" [options]="false">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="date">{{ 'list_Cash_Desk.From' | translate }}</label>
                            <input type="date" class="form-control form-control-md" name="circuit_date_of"
                                [(ngModel)]="from_date" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="date">{{ 'list_Cash_Desk.To' | translate }}</label>
                            <input type="date" class="form-control form-control-md" name="circuit_date_of"
                                [(ngModel)]="to_date" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{ 'list_Cash_Desk.Directions' | translate }}</label>
                            <select class="form-control form-control-md" name="direction" [(ngModel)]="direction">
                                <option value="">{{ 'list_Cash_Desk.Select Direction' | translate }}</option>
                                <option [value]="direction.id" *ngFor="let direction of directionArr">{{direction.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>{{ 'list_Cash_Desk.Operation' | translate }}</label>
                                <input type="text" class="form-control form-control-md" placeholder="Operation" name="operation" [(ngModel)]="operation" />
                        </div>
                    </div>
                </div>

                <!-- Button Section -->
                <div class="row">
                    <div class="col-sm-12" style="text-align: end;">
                        <button type="submit" class="btn btn-primary" (click)="filterAction()"
                            style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom"
                            title="Filter"><i class="feather icon-filter"></i></button>
                        <button type="submit" class="btn btn-danger" (click)="cancelAction()"
                            tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom"
                            title="Cancel"><i class="feather icon-x"></i></button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger"
                        class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'list_Cash_Desk.ID' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Operation Date' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Operation' | translate }}</th>
                                <th width="20%">{{ 'list_Cash_Desk.Reference' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Amount' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Direction' | translate }}</th>
                                <th width="10%">{{ 'list_Cash_Desk.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="miscellaneous_lists.length !== 0; else emptyCashDesk">
                                <tr *ngFor="let item of miscellaneous_lists;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.opration_date}}</td>
                                    <td>{{item.operation_name}}</td>
                                    <td>{{item.reference}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>{{item.meaning}}</td>
                                    <td>
                                        <div class="actions"> 
                                            <ng-container *ngIf="item.direction == '1'; else expensseForEdit">
                                                <a class="ng2-smart-action"  [routerLink]="['/manage-cash-desk/edit-miscellaneous-receipt', item.id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            </ng-container>
                                            <ng-template #expensseForEdit>
                                                <a class="ng2-smart-action"  [routerLink]="['/manage-cash-desk/edit-miscellaneous-expense', item.id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            </ng-template>
                                            <ng-container *ngIf="item.direction == '1'; else expensseForDelete">
                                                <a class="ng2-smart-action" (click)="deleteReceiptAction(item.id)" style="cursor: pointer;" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                            </ng-container>
                                            <ng-template #expensseForDelete>
                                                <a class="ng2-smart-action" (click)="deleteExpenseAction(item.id)" style="cursor: pointer;" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                            </ng-template>
                                            
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>

                            <ng-template #emptyCashDesk>
                                <tr>
                                    <td colspan="7" class="empty-row" style="text-align: center;">
                                        {{ 'list_Cash_Desk.No Miscellaneous List Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'list_Cash_Desk.ID' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Operation Date' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Operation' | translate }}</th>
                                <th width="20%">{{ 'list_Cash_Desk.Reference' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Amount' | translate }}</th>
                                <th width="15%">{{ 'list_Cash_Desk.Direction' | translate }}</th>
                                <th width="10%">{{ 'list_Cash_Desk.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>

</section>