<section id="view_circuit">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0
                    rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white;
                        border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'List_Circuit.dashboard' | translate }}</a></li>
                        <li class="breadcrumb-item" routerLink="/manage-circuit/list-circuit" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'List_Circuit.circuits' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'view_circuit.view circuit' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-circuit/list-circuit" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Section -->
    

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12"> 
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <tbody>
                                        
                                        <tr>
                                            <!-- Client Name -->
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.client_name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.client_name}}
                                            </td>
                                            <!-- Reference -->
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.reference' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.refrence}}
                                            </td>
                                        </tr>
                                        

                                        <!-- path -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.path' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.route}}
                                            </td>

                                             <!-- Departure date -->
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.departure date' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.departure_date}}
                                            </td>
                                        </tr>

                                       
                                        

                                        <!-- Arrival date -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.arrival date' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.arrival_date}}
                                            </td>

                                            <!-- driver -->
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.driver' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.driver}}
                                            </td>
                                        </tr>

                                        <!-- vehicle -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.vehicle' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.vehicle}}
                                            </td>

                                            <!-- payment mode -->
                                            <th width="25%" style="font-size: 18px;">{{ 'view_circuit.payment mode' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{circuit_details?.circuit?.mode}}
                                            </td>
                                        </tr>
                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Passenger Details Section -->
                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'view_circuit.Passenger Detail Table' | translate }}</h5>
                    </div>
                </div>

                <div class="table-responsive" id="feature">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'view_circuit.id' | translate }}</th>
                                <th width="30%">{{ 'view_circuit.Full Name' | translate }}</th>
                                <th width="20%">{{ 'view_circuit.Mobile No' | translate }}</th>
                                <th width="20%">{{ 'view_circuit.Age' | translate }}</th>
                                <th width="20%">{{ 'view_circuit.Gender' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="passengers_details_list.length !== 0; else emptyPassengerDetails">
                            <tr *ngFor="let item of passengers_details_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.full_name}}</td>
                                <td>{{item.mobile_no}}</td>
                                <td>{{item.age}}</td>
                                <td>{{item.gender}}</td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyPassengerDetails>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align:center">{{'view_circuit.No Passenger Deatils list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                    </table>
                </div>

                <!-- Route Details Section -->
                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'view_circuit.Route Detail Table' | translate }}</h5>
                    </div>
                </div>

                <div class="table-responsive" id="feature">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'view_circuit.id' | translate }}</th>
                                <th width="30%">{{ 'view_circuit.city' | translate }}</th>
                                <th width="30%">{{ 'view_circuit.schedule_date' | translate }}</th>
                                <th width="30%">{{ 'view_circuit.actual_date' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="route_details_list.length !== 0; else emptyRouteDetails">
                            <tr *ngFor="let item of route_details_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.city}}</td>
                                <td>{{item.schedule_date}}</td>
                                <td>{{item.actual_date}}</td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyRouteDetails>
                                <tr>
                                    <td colspan="4" class="empty-row" style="text-align:center">{{'view_circuit.no Route Deatils list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                    </table>
                </div>

                <!-- Affection Route Details Section -->
                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'view_circuit.Affection Route Table' | translate }}</h5>
                    </div>
                </div>

                <div class="table-responsive" id="feature">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'view_circuit.id' | translate }}</th>
                                <th width="20%">{{ 'view_circuit.vehicle_name' | translate }}</th>
                                <th width="15%">{{ 'view_circuit.km_departure' | translate }}</th>
                                <th width="15%">{{ 'view_circuit.km_arrival' | translate }}</th>
                                <th width="15%">{{ 'view_circuit.from_date' | translate }}</th>
                                <th width="15%">{{ 'view_circuit.to_date' | translate }}</th>
                                <th width="10%">{{ 'view_circuit.driver_name' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="route_affections_list.length !== 0; else emptyRouteAffectionDetails">
                            <tr *ngFor="let item of route_affections_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.vehicle}}</td>
                                <td>{{item.km_departure}}</td>
                                <td>{{item.km_arrival}}</td>
                                <td>{{item.from_date}}</td>
                                <td>{{item.to_date}}</td>
                                <td>{{item.driver}}</td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyRouteAffectionDetails>
                                <tr>
                                    <td colspan="7" class="empty-row" style="text-align:center">{{'view_circuit.no Route Affection Details list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                    </table>
                </div>

            </app-card>
        </div>
    </div>

</section>