<!-- <div class="col-sm-12">
    <app-card [hidHeader]="true" cardClass="tab-card">
        <h5 class="mb-3 text-center">Profile Details</h5>
        <hr>
        <ngb-tabset type="pills">
            <ngb-tab title="Profile" class="mb-3 t">
                <ng-template ngbTabContent>
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3">
                            <app-card [hidHeader]="true">
                                <h5 class="card-title text-center">Profile Info</h5>
                                <hr>
                                <p class="card-text">First Name: <b>Emad</b></p>
                                <p class="card-text">Last Name: <b>Jaweed</b></p>
                                <p class="card-text">Email: <b>emad@gmail.com</b></p>
                                <p class="card-text">Phone Number: <b>9028123456</b></p>
                                <p class="card-text">User Role: <b>Super Admin</b></p>
                            </app-card>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Edit Profile">
                <ng-template ngbTabContent>
                    <form [formGroup]="edit_profile_frm" (submit)="save()" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12">
                                <app-card cardTitle="Edit Profile Form" [options]="false">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group" [ngClass]="{'has-error': checkValidation('first_name').errors}">
                                                <label>{{ 'Edit_Profile.First_Name' | translate }}</label>
                                                <input type="text" name="first_name" formControlName="first_name" class="form-control form-control-md" placeholder="{{ 'Edit_Profile.Enter_First_Name' | translate }}" [ngClass]="{'is-invalid': checkValidation('first_name').errors}">

                                                <ng-container *ngIf="checkValidation('first_name').errors">
                                                    <ng-container *ngIf="checkValidation('first_name').required">
                                                        <span class="invalid-feedback">Please provide First Name</span>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" [ngClass]="{'has-error': checkValidation('last_name').errors}">
                                                <label>{{ 'Edit_Profile.Last_Name' | translate }}</label>
                                                <input type="text" name="last_name" formControlName="last_name" class="form-control form-control-md" placeholder="{{ 'Edit_Profile.Enter_Last_Name' | translate }}" [ngClass]="{'is-invalid': checkValidation('last_name').errors}">

                                                <ng-container *ngIf="checkValidation('last_name').errors">
                                                    <ng-container *ngIf="checkValidation('last_name').required">
                                                        <span class="invalid-feedback">Please provide Last Name</span>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group" [ngClass]="{'has-error': checkValidation('email').errors}">
                                                <label>{{ 'Edit_Profile.Email' | translate }}</label>
                                                <input type="text" name="email" formControlName="email" class="form-control form-control-md" placeholder="{{ 'Edit_Profile.Enter_Email' | translate }}" [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                                <ng-container *ngIf="checkValidation('email').errors">
                                                    <ng-container *ngIf="checkValidation('email').required">
                                                        <span class="invalid-feedback">Please provide Email</span>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" [ngClass]="{'has-error': checkValidation('phone').errors}">
                                                <label>{{ 'Edit_Profile.Phone' | translate }}</label>
                                                <input type="text" name="phone" formControlName="phone" class="form-control form-control-md" placeholder="{{ 'Edit_Profile.Enter_Phone' | translate }}" [ngClass]="{'is-invalid': checkValidation('phone').errors}">

                                                <ng-container *ngIf="checkValidation('phone').errors">
                                                    <ng-container *ngIf="checkValidation('phone').required">
                                                        <span class="invalid-feedback">Please provide Phone</span>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" [ngClass]="{'has-error': checkValidation('user_role').errors}">
                                                <label>{{ 'Edit_Profile.User_Role' | translate }}</label>
                                                <input type="text" name="user_role" formControlName="user_role" class="form-control form-control-md" placeholder="{{ 'Edit_Profile.Enter_User_Role' | translate }}" [ngClass]="{'is-invalid': checkValidation('user_role').errors}">

                                                <ng-container *ngIf="checkValidation('user_role').errors">
                                                    <ng-container *ngIf="checkValidation('user_role').required">
                                                        <span class="invalid-feedback">Please provide User Role</span>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-lg btn-primary">{{ 'Edit_Profile.Button_Save' | translate }}</button>
                                            <button type="cancel" class="btn btn-lg btn-secondary" routerLink="/dashboard/analytics">{{ 'Edit_Profile.Button_Cancel' | translate }}</button>
                                        </div>
                                    </div>
                                </app-card>
                            </div>
                        </div>
                    </form>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </app-card>
</div> -->


<div class="user-profile user-card mb-4">
    <div class="card-header border-0 p-0 pb-0">
        <!-- <div class="cover-img-block"> -->
        <div>
            <img src="assets/images/profile/cover.jpg" alt="" class="img-fluid">
            <div class="overlay"></div>
            <!-- <div class="change-cover">
                <div class="dropdown" ngbDropdown placement="bottom-left">
                    <a class="drp-icon dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon feather icon-camera"></i></a>
                    <div class="dropdown-menu" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-film mr-2"></i> upload video</a>
                        <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <div class="card-body py-0">
        <div class="user-about-block m-0">
            <div class="row">
                <!-- <div class="col-md-4 text-center mt-n5">
                    <div class="change-profile text-center">
                        <div class="dropdown w-auto d-inline-block" ngbDropdown>
                            <a class="dropdown-toggle" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="false">
                                <div class="profile-dp">
                                    <div class="position-relative d-inline-block">
                                        <img class="img-radius img-fluid wid-100" src="assets/images/user/avatar-5.jpg" alt="User image">
                                    </div>
                                    <div class="overlay">
                                        <span>change</span>
                                    </div>
                                </div>
                                <div class="certificated-badge">
                                    <i class="fas fa-certificate text-c-blue bg-icon"></i>
                                    <i class="fas fa-camera front-icon" style="cursor: pointer; top: 10px; left: 9px; color: #d4d2d2;"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-image mr-2"></i>from photos</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-shield mr-2"></i>Protact</a>
                                <a class="dropdown-item" href="javascript:"><i class="feather icon-trash-2 mr-2"></i>remove</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="mb-1">Lary Doe</h5>
                    <p class="mb-2 text-muted">Driver</p>
                </div> -->
                <!-- <div class="col-md-8 mt-md-4">  -->
                <div class="col-md-12 mt-md-2">
                    <!-- Company Details Section -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <a href="javascript:" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i class="feather icon-globe mr-2 f-18"></i>www.codedthemes.com</a>
                            <div class="clearfix"></div>
                            <a href="mailto:demo@domain.com" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i class="feather icon-mail mr-2 f-18"></i>demo@domain.com</a>
                            <div class="clearfix"></div>
                            <a href="javascript:" class="mb-1 text-muted d-flex align-items-end text-h-primary"><i class="feather icon-phone mr-2 f-18"></i>+1 9999-999-999</a>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <i class="feather icon-map-pin mr-2 mt-1 f-18"></i>
                                <div class="media-body">
                                    <p class="mb-0 text-muted">4289 Calvin Street</p>
                                    <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                                    <p class="mb-0 text-muted">Maryland (21201)</p>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
                        <!-- <li class="nav-item">
                            <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'home'}" (click)="this.activeTab = 'home'" id="home-tab" data-toggle="tab" href="javascript:" role="tab" aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i>Home</a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'profile'}"
                                (click)="this.activeTab = 'profile'" id="profile-tab" data-toggle="tab"
                                href="javascript:" role="tab" aria-controls="profile" aria-selected="true"><i
                                    class="feather icon-user mr-2"></i>Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'contact'}"
                                (click)="this.activeTab = 'contact'" id="contact-tab" data-toggle="tab"
                                href="javascript:" role="tab" aria-controls="contact" aria-selected="false"><i
                                    class="feather icon-lock mr-2"></i>Change Password</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link text-reset" [ngClass]="{'active': this.activeTab === 'gallery'}" (click)="this.activeTab = 'gallery'" id="gallery-tab" data-toggle="tab" href="javascript:" role="tab" aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i>Gallery</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- profile body start -->
<div class="row">
    <!-- <div class="col-md-8 order-md-2"> -->
    <div class="col-md-12 order-md-2">
        <div class="tab-content" id="myTabContent">
            <!-- <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'home'}" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="merge-card">
                    <app-card cardTitle="Josephin Doe" cardCaption="50 minutes ago - posted on your timeline" captionClass="mb-0 text-muted" cardClass="mb-0" blockClass="p-0">
                        <a href="javascript:"><img src="assets/images/profile/bg-1.jpg" alt="" class="img-fluid"></a>
                    </app-card>
                    <app-card [hidHeader]="true" cardClass="mb-0">
                        <a href="javascript:" class="text-h-primary">
                            <h6>The new Lorem Ipsum is simply</h6>
                        </a>
                        <p class="text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </app-card>
                    <app-card [hidHeader]="true" cardClass="mb-0" blockClass="border-top border-bottom">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item"><a href="javascript:" class="text-danger text-h-danger"><i class="feather icon-heart-on mr-2"></i>Like</a></li>
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-primary"><i class="feather icon-message-square mr-2"></i>Comment</a></li>
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-primary"><i class="feather icon-share-2 mr-2"></i>Share</a></li>
                        </ul>
                    </app-card>
                    <app-card [hidHeader]="true">
                        <div class="row justify-content-between mb-4">
                            <div class="col-auto"><a href="javascript:" class="text-muted text-h-primary">Comment (50)</a></div>
                            <div class="col-auto"><a href="javascript:" class="text-muted text-h-primary">See All</a></div>
                        </div>
                        <div class="media mb-0">
                            <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-30 align-top m-r-15">
                            <div class="media-body">
                                <a href="javascript:">
                                    <h6 class="mb-0 text-h-primary">Alex Thompson</h6>
                                </a>
                                <p class="m-b-0">Looking Very nice type and scrambled
                                    <a href="javascript:" class="text-muted text-h-danger ml-1"><small>Like</small></a>
                                    <a href="javascript:" class="text-muted text-h-primary ml-1"><small>Comment</small></a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="media mb-0">
                            <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-30 align-top m-r-15">
                            <div class="media-body">
                                <a href="javascript:">
                                    <h6 class="mb-0 text-h-primary">Alex Thompson</h6>
                                </a>
                                <p class="m-b-0">Nice Pic printing and typesetting industry
                                    <a href="javascript:" class="text-muted text-h-danger ml-1"><small>Like</small></a>
                                    <a href="javascript:" class="text-muted text-h-primary ml-1"><small>Comment</small></a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="media mb-0">
                            <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                            <div class="media-body">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control border-0 shadow-none px-0" placeholder="Write comment hear !. . .">
                                    <div class="input-group-append">
                                        <button class="btn  btn-primary" type="button"><i class="feather icon-message-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-card>
                </div>
                <div class="merge-card">
                    <app-card cardTitle="Josephin Doe" cardCaption="50 minutes ago - posted on your timeline" captionClass="mb-0 text-muted" cardClass="mb-0" blockClass="p-0">
                        <a href="javascript:"><img src="assets/images/profile/bg-2.jpg" alt="" class="img-fluid"></a>
                    </app-card>
                    <app-card [hidHeader]="true" cardClass="mb-0">
                        <a href="javascript:" class="text-h-primary">
                            <h6>The new Lorem Ipsum is simply</h6>
                        </a>
                        <p class="text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </app-card>
                    <app-card [hidHeader]="true" cardClass="mb-0" blockClass="border-top border-bottom">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-danger"><i class="feather icon-heart mr-2"></i>Like</a></li>
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-primary"><i class="feather icon-message-square mr-2"></i>Comment</a></li>
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-primary"><i class="feather icon-share-2 mr-2"></i>Share</a></li>
                        </ul>
                    </app-card>
                    <app-card [hidHeader]="true">
                        <div class="row justify-content-between mb-4">
                            <div class="col-auto"><a href="javascript:" class="text-muted text-h-primary">Comment (50)</a></div>
                            <div class="col-auto"><a href="javascript:" class="text-muted text-h-primary">See All</a></div>
                        </div>
                        <div class="media mb-0">
                            <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-30 align-top m-r-15">
                            <div class="media-body">
                                <a href="javascript:">
                                    <h6 class="mb-0 text-h-primary">Alex Thompson</h6>
                                </a>
                                <p class="m-b-0">Looking Very nice type and scrambled
                                    <a href="javascript:" class="text-muted text-h-danger ml-1"><small>Like</small></a>
                                    <a href="javascript:" class="text-muted text-h-primary ml-1"><small>Comment</small></a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="media mb-0">
                            <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                            <div class="media-body">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control border-0 shadow-none px-0" placeholder="Write comment hear !. . .">
                                    <div class="input-group-append">
                                        <button class="btn  btn-primary" type="button"><i class="feather icon-message-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-card>
                </div>
                <div class="merge-card">
                    <app-card cardTitle="Josephin Doe" cardCaption="50 minutes ago - posted on your timeline" captionClass="mb-0 text-muted" cardClass="mb-0" blockClass="p-0">
                        <a href="javascript:"><img src="assets/images/profile/bg-3.jpg" alt="" class="img-fluid"></a>
                    </app-card>
                    <app-card [hidHeader]="true" cardClass="mb-0">
                        <a href="javascript:" class="text-h-primary">
                            <h6>The new Lorem Ipsum is simply</h6>
                        </a>
                        <p class="text-muted mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </app-card>
                    <app-card [hidHeader]="true" cardClass="mb-0" blockClass="border-top border-bottom">
                        <ul class="list-inline m-0">
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-danger"><i class="feather icon-heart mr-2"></i>Like</a></li>
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-primary"><i class="feather icon-message-square mr-2"></i>Comment</a></li>
                            <li class="list-inline-item"><a href="javascript:" class="text-muted text-h-primary"><i class="feather icon-share-2 mr-2"></i>Share</a></li>
                        </ul>
                    </app-card>
                    <app-card [hidHeader]="true">
                        <div class="row justify-content-between mb-4">
                            <div class="col-auto"><a href="javascript:" class="text-muted text-h-primary">Comment (0)</a></div>
                            <div class="col-auto"><a href="javascript:" class="text-muted text-h-primary">See All</a></div>
                        </div>
                        <div class="media mb-0">
                            <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius wid-40 align-top m-r-15">
                            <div class="media-body">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control form-control border-0 shadow-none px-0" placeholder="Write comment hear !. . .">
                                    <div class="input-group-append">
                                        <button class="btn  btn-primary" type="button"><i class="feather icon-message-circle"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </app-card>
                </div>
            </div> -->

            <!-- Profile Details Section -->
            <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'profile'}" id="profile"
                role="tabpanel" aria-labelledby="profile-tab">

                <!-- Admin profile View -->
                <div class="merge-card" *ngIf="this.global.currentUser.user_role == '1'">
                    <app-card [hidHeader]="true" cardClass="mb-0"
                        blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">{{"View_Profile.Personal details" | translate}}</h5> 
                        <button type="edit" style="width: inherit;" class="btn btn-primary"
                            routerLink="/profile-details/edit-admin-personal-info" data-toggle="tooltip" data-placement="bottom"
                            title="Edit"><i class="feather icon-edit-2"></i>
                        </button>

                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show"
                        *ngIf="!editProfile"> 
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Full Name" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.City Name" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.city_name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Country Name" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.country_name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Phone" | translate}}</label>
                            <div class="col-sm-9">
                                <p class="mb-0 text-muted">{{profile_details?.phone}}</p>
                            </div>
                        </div>
                    </app-card>
                </div>

                <!-- Staff Member profile View -->
                <div class="merge-card" *ngIf="this.global.currentUser.user_role == '4'">
                    <app-card [hidHeader]="true" cardClass="mb-0"
                        blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">{{"View_Profile.Personal details" | translate}}</h5> 
                        <button type="edit" style="width: inherit;" class="btn btn-primary"
                            routerLink="/profile-details/edit-staff-member-personal-info" data-toggle="tooltip" data-placement="bottom"
                            title="Edit"><i class="feather icon-edit-2"></i>
                        </button>

                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show"
                        *ngIf="!editProfile"> 
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Full Name" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.City Name" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.city_name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.marital_status" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.marital_status}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Phone" | translate}}</label>
                            <div class="col-sm-9">
                                <p class="mb-0 text-muted">{{profile_details?.phone}}</p>
                            </div>
                        </div>
                    </app-card>
                </div>

                <!-- Tourism Company Profile View -->
                <div class="merge-card" *ngIf="this.global.currentUser.user_role == '2' || this.global.currentUser.user_role == '3'">
                    <app-card [hidHeader]="true" cardClass="mb-0"
                        blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">{{"View_Profile.Personal details" | translate}}</h5> 
                        <!-- <button type="button"
                            (click)="this.editProfile = !this.editProfile; this.editProfileIcon = this.editProfile ? 'icon-x': 'icon-edit-2';"
                            class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse"
                            data-target=".pro-det-edit" aria-expanded="false"
                            aria-controls="pro-det-edit-1 pro-det-edit-2">
                            <i class="feather" [ngClass]="editProfileIcon"></i>
                        </button> -->
                        <!-- Edit Button UI change -->
                        <button type="edit" style="width: inherit;" class="btn btn-primary"
                            routerLink="/profile-details/edit-personal-info" data-toggle="tooltip" data-placement="bottom"
                            title="Edit"><i class="feather icon-edit-2"></i>
                        </button>

                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show"
                        *ngIf="!editProfile">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Full Name" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.City Name" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.city_name}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Region" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.region_name}}
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Martail Status</label>
                            <div class="col-sm-9">
                                Unmarried
                            </div>
                        </div> -->
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Location" | translate}}</label>
                            <div class="col-sm-9">
                                <p class="mb-0 text-muted">{{profile_details?.address}}</p>
                                <!-- <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                                <p class="mb-0 text-muted">Maryland (21201)</p> -->
                            </div>
                        </div>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editProfile">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Full Name" | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Full Name" value="{{profile_details?.name}}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.City Name" | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="City" value="{{profile_details?.city_name}}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Region" | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Region" value="{{profile_details?.region_name}}">
                            </div>
                        </div>
                        <!-- <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
                            <div class="col-sm-9">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" checked>
                                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
                            <div class="col-sm-9">
                                <input type="date" class="form-control" value="1994-12-16">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Martail Status</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>Select Marital Status</option>
                                    <option>Married</option>
                                    <option selected>Unmarried</option>
                                </select>
                            </div>
                        </div> -->
                        <!-- <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Profile Picture</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="file" class="form-control-file" aria-describedby="inputGroupFileAddon01">
                                </div>
                                
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Profile Picture</label>
                            <div class="col-sm-9">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                                    <label class="custom-file-label" for="validatedCustomFile">Choose file</label>
                                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                                </div>
                                
                            </div>
                        </div> -->

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Location" | translate}}</label>
                            <div class="col-sm-9">
                                <textarea
                                    class="form-control">{{profile_details?.address}}</textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary"><i class="feather icon-save"></i></button>
                            </div>
                        </div>
                    </app-card>
                </div>

                <!-- Tourism Company Profile View -->
                <div class="merge-card" *ngIf="this.global.currentUser.user_role == '2' || this.global.currentUser.user_role == '3'">
                    <app-card [hidHeader]="true" cardClass="mb-0"
                        blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">{{"View_Profile.Contact Information" | translate}}</h5>
                        <!-- <button type="button"
                            (click)="this.editContact = !this.editContact; this.editContactIcon = this.editContact ? 'icon-x': 'icon-edit-2';"
                            class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse"
                            data-target=".pro-det-edit" aria-expanded="false"
                            aria-controls="pro-det-edit-1 pro-det-edit-2">
                            <i class="feather" [ngClass]="editContactIcon"></i>
                        </button> -->

                        <!-- Edit Button UI change -->
                        <button type="edit" style="width: inherit;" class="btn btn-primary"
                            routerLink="/profile-details/edit-contact-info" data-toggle="tooltip" data-placement="bottom"
                            title="Edit"><i class="feather icon-edit-2"></i>
                        </button>

                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show"
                        *ngIf="!editContact">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Mobile Number" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.phone}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Email Address" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.email}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Website" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.website}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Fax Number" | translate}}</label>
                            <div class="col-sm-9">
                                {{profile_details?.fax_number}}
                            </div>
                        </div>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editContact">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Mobile Number" | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Mobile Number" value="{{profile_details?.phone}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Email Address" | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Email Address" value="{{profile_details?.email}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Website" | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Website" value=" {{profile_details?.website}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">{{"View_Profile.Fax Number" | translate}}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Fax Number" value="{{profile_details?.fax_number}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary"><i class="feather icon-save"></i></button>
                            </div>
                        </div>
                    </app-card>
                </div>
                <!-- Other Informatin -->
                <!-- <div class="merge-card">
                    <app-card [hidHeader]="true" cardClass="mb-0" blockClass="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Other Information</h5>
                        <button type="button" (click)="this.editOtherInfo = !this.editOtherInfo; this.editOtherInfoIcon = this.editOtherInfo ? 'icon-x': 'icon-edit-2';" class="btn btn-primary btn-sm rounded m-0 float-right" data-toggle="collapse" data-target=".pro-det-edit" aria-expanded="false"
                            aria-controls="pro-det-edit-1 pro-det-edit-2">
                                <i class="feather" [ngClass]="editOtherInfoIcon"></i>
                        </button>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="!editOtherInfo">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Occupation</label>
                            <div class="col-sm-9">
                                Driver
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Skills</label>
                            <div class="col-sm-9">
                                C#, Javascript, Scss
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Jobs</label>
                            <div class="col-sm-9">
                                Codedthemes
                            </div>
                        </div>
                    </app-card>
                    <app-card [hidHeader]="true" blockClass="border-top pro-det-edit collapse show" *ngIf="editOtherInfo">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Occupation</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Full Name" value="Designer">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Skill</label>
                            <div class="col-sm-9">
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-1" checked>
                                    <label class="custom-control-label" for="pro-wrk-chk-1">C#</label>
                                </div>
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-2" checked>
                                    <label class="custom-control-label" for="pro-wrk-chk-2">Javascript</label>
                                </div>
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-3" checked>
                                    <label class="custom-control-label" for="pro-wrk-chk-3">Scss</label>
                                </div>
                                <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                    <input type="checkbox" class="custom-control-input" id="pro-wrk-chk-4">
                                    <label class="custom-control-label" for="pro-wrk-chk-4">Html</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label font-weight-bolder">Jobs</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Ema" value="Codedthemes">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <button type="button" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </app-card>
                </div> -->
            </div>

            <!-- Change Password Section -->
            <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'contact'}" id="contact"
                role="tabpanel" aria-labelledby="contact-tab">

                <section id="change-password">
                    <!-- Form Section -->
                    <form [formGroup]="Change_Password_frm" (ngSubmit)="changePassword()" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12">
                                <app-card cardTitle="Change Passowrd Form" [options]="false">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                [ngClass]="{'has-error': checkValidation('old_password').errors}">
                                                <label>{{ 'Change_Password.Old_Password' | translate }}</label>
                                                <input type="text" name="old_password" formControlName="old_password"
                                                    class="form-control form-control-md"
                                                    placeholder="{{ 'Change_Password.Enter_Old_Password' | translate }}"
                                                    [ngClass]="{'is-invalid': checkValidation('old_password').errors}">

                                                <ng-container *ngIf="checkValidation('old_password').errors">
                                                    <ng-container *ngIf="checkValidation('old_password').required">
                                                        <span class="invalid-feedback">{{ 'Change_Password.Please provide Old Password' | translate }}</span>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                [ngClass]="{'has-error': checkValidation('new_password').errors}">
                                                <label>{{ 'Change_Password.New_Password' | translate }}</label>
                                                <input type="text" name="new_password" formControlName="new_password"
                                                    class="form-control form-control-md"
                                                    placeholder="{{ 'Change_Password.Enter_New_Password' | translate }}"
                                                    [ngClass]="{'is-invalid': checkValidation('new_password').errors}">

                                                <ng-container *ngIf="checkValidation('new_password').errors">
                                                    <ng-container *ngIf="checkValidation('new_password').required">
                                                        <span class="invalid-feedback">{{ 'Change_Password.Please provide New Password' | translate }}</span>
                                                    </ng-container>
                                                    <ng-container *ngIf="checkValidation('new_password').minLengthValidate">
                                                        <span
                                                            class="invalid-feedback">{{ 'Change_Password.accept minimum 8 numeric character only' | translate }}.</span>
                                                    </ng-container>
                                                </ng-container>
                                                <!-- <ng-container *ngIf="checkValidation('new_password').minlengthValidate">
                                                    <span
                                                        class="invalid-feedback">{{ 'Change_Password.accept minimum 8 numeric character only' | translate }}.</span>
                                                </ng-container> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group"
                                                [ngClass]="{'has-error': checkValidation('confirm_password').errors}">
                                                <label>{{ 'Change_Password.Confirm_Password' | translate }}</label>
                                                <input type="text" name="confirm_password"
                                                    formControlName="confirm_password"
                                                    class="form-control form-control-md"
                                                    placeholder="{{ 'Change_Password.Enter_Confirm_Password' | translate }}"
                                                    [ngClass]="{'is-invalid': checkValidation('confirm_password').errors}">

                                                <ng-container *ngIf="checkValidation('confirm_password').errors">
                                                    <ng-container *ngIf="checkValidation('confirm_password').required">
                                                        <span class="invalid-feedback">{{ 'Change_Password.Please provide Confirm Password' | translate }}
                                                            </span>

                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Button Section -->
                                    <div class="row">
                                        <div class="col-sm-12" style="text-align: end;">
                                            <button type="submit" class="btn btn-primary"
                                                style="width: auto; margin-right: 8px;" data-toggle="tooltip"
                                                data-placement="bottom" title="Save"><i
                                                    class="feather icon-save"></i></button>
                                            <button type="cancel" routerLink="/dashboard/analytics"
                                                class="btn btn-danger" style="width: auto; margin-right: 0px;"
                                                data-toggle="tooltip" data-placement="bottom" title="Cancel"><i
                                                    class="feather icon-x"></i></button>
                                        </div>
                                    </div>

                                </app-card>
                            </div>
                        </div>
                    </form>
                </section>

                <!-- <div class="row">
                    <div class="col-md-6">
                        <app-card [customHeader]="true" headerClass="border-0 p-2 pb-0" [options]="false" cardClass="user-card user-card-1" blockClass="pt-0 users-contact">
                            <div class="app-card-header">
                                <div class="cover-img-block">
                                    <ngb-carousel [showNavigationIndicators]="false">
                                        <ng-template ngbSlide>
                                            <img src="assets/images/widget/slider5.jpg" alt="" class="img-fluid">
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="assets/images/widget/slider6.jpg" alt="" class="img-fluid">
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="assets/images/widget/slider7.jpg" alt="" class="img-fluid">
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                            <div class="user-about-block text-center">
                                <div class="row align-items-end">
                                    <div class="col text-left pb-3"><a href="javascript:"><i class="icon feather icon-star text-muted f-20"></i></a></div>
                                    <div class="col"><img class="img-radius img-fluid wid-80" src="assets/images/user/avatar-4.jpg" alt="User image"></div>
                                    <div class="col text-right pb-3">
                                        <div class="dropdown" ngbDropdown>
                                            <a class="drp-icon dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-more-horizontal"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                <a class="dropdown-item" href="javascript:">Action</a>
                                                <a class="dropdown-item" href="javascript:">Another action</a>
                                                <a class="dropdown-item" href="javascript:">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h6 class="mb-1 mt-3">Joseph William</h6>
                                <p class="mb-3 text-muted">UI/UX Designer</p>
                                <p class="mb-1">Lorem Ipsum is simply dummy text</p>
                                <p class="mb-0">been the industry's standard</p>
                            </div>
                            <hr class="wid-80 b-wid-3 my-4">
                            <div class="row text-center">
                                <div class="col">
                                    <h6 class="mb-1">37</h6>
                                    <p class="mb-0">Mails</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">2749</h6>
                                    <p class="mb-0">Followers</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">678</h6>
                                    <p class="mb-0">Following</p>
                                </div>
                            </div>
                        </app-card>
                    </div>
                    <div class="col-md-6">
                        <app-card [customHeader]="true" headerClass="border-0 p-2 pb-0" [options]="false" cardClass="user-card user-card-1" blockClass="pt-0 users-contact">
                            <div class="app-card-header">
                                <div class="cover-img-block">
                                    <img src="assets/images/widget/slider6.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="user-about-block text-center">
                                <div class="row align-items-end">
                                    <div class="col text-left pb-3"><a href="javascript:"><i class="icon feather icon-star-on text-c-yellow f-20"></i></a></div>
                                    <div class="col">
                                        <div class="position-relative d-inline-block">
                                            <img class="img-radius img-fluid wid-80" src="assets/images/user/avatar-5.jpg" alt="User image">
                                            <div class="certificated-badge">
                                                <i class="fas fa-certificate text-c-blue bg-icon"></i>
                                                <i class="fas fa-check front-icon text-white"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col text-right pb-3">
                                        <div class="dropdown" ngbDropdown>
                                            <a class="drp-icon dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-more-horizontal"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                <a class="dropdown-item" href="javascript:">Action</a>
                                                <a class="dropdown-item" href="javascript:">Another action</a>
                                                <a class="dropdown-item" href="javascript:">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h6 class="mb-1 mt-3">Suzen</h6>
                                <p class="mb-3 text-muted">UI/UX Designer</p>
                                <p class="mb-1">Lorem Ipsum is simply dummy text</p>
                                <p class="mb-0">been the industry's standard</p>
                            </div>
                            <hr class="wid-80 b-wid-3 my-4">
                            <div class="row text-center">
                                <div class="col">
                                    <h6 class="mb-1">37</h6>
                                    <p class="mb-0">Mails</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">2749</h6>
                                    <p class="mb-0">Followers</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">678</h6>
                                    <p class="mb-0">Following</p>
                                </div>
                            </div>
                        </app-card>
                    </div>
                    <div class="col-md-6">
                        <app-card [customHeader]="true" headerClass="border-0 p-2 pb-0" [options]="false" cardClass="user-card user-card-1" blockClass="pt-0 users-contact">
                            <div class="app-card-header">
                                <div class="cover-img-block">
                                    <img src="assets/images/widget/slider7.jpg" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="user-about-block text-center">
                                <div class="row align-items-end">
                                    <div class="col"></div>
                                    <div class="col">
                                        <div class="position-relative d-inline-block">
                                            <img class="img-radius img-fluid wid-80" src="assets/images/user/avatar-1.jpg" alt="User image">
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h6 class="mb-1 mt-3">John Doe</h6>
                                <p class="mb-3 text-muted">UI/UX Designer</p>
                                <p class="mb-1">Lorem Ipsum is simply dummy text</p>
                                <p class="mb-0">been the industry's standard</p>
                            </div>
                            <hr class="wid-80 b-wid-3 my-4">
                            <div class="row text-center">
                                <div class="col">
                                    <h6 class="mb-1">37</h6>
                                    <p class="mb-0">Mails</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">2749</h6>
                                    <p class="mb-0">Followers</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">678</h6>
                                    <p class="mb-0">Following</p>
                                </div>
                            </div>
                            <div class="hover-data text-white btn-page">
                                <div class="">
                                    <h4 class="text-white">Hire Me?</h4>
                                    <p class="mb-1">Lorem Ipsum is simply dummy text</p>
                                    <p class="mb-3">been the industry's standard</p>
                                    <button type="button" class="btn waves-effect waves-light btn-warning"><i class="feather icon-link"></i> Meating</button>
                                    <button type="button" class="btn waves-effect waves-light btn-danger"><i class="feather icon-download"></i> Resume</button>
                                </div>
                            </div>
                        </app-card>
                    </div>
                    <div class="col-md-6">
                        <app-card [customHeader]="true" headerClass="border-0 p-2 pb-0" [options]="false" cardClass="user-card user-card-2 shape-center" blockClass="pt-0 users-contact">
                            <div class="app-card-header">
                                <div class="cover-img-block">
                                    <ngb-carousel [showNavigationIndicators]="false">
                                        <ng-template ngbSlide>
                                            <img src="assets/images/widget/slider5.jpg" alt="" class="img-fluid">
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="assets/images/widget/slider6.jpg" alt="" class="img-fluid">
                                        </ng-template>
                                        <ng-template ngbSlide>
                                            <img src="assets/images/widget/slider7.jpg" alt="" class="img-fluid">
                                        </ng-template>
                                    </ngb-carousel>
                                </div>
                            </div>
                            <div class="user-about-block text-center">
                                <div class="row align-items-end">
                                    <div class="col text-left pb-3"><a href="javascript:"><i class="icon feather icon-star text-muted f-20"></i></a></div>
                                    <div class="col"><img class="img-radius img-fluid wid-80" src="assets/images/user/avatar-4.jpg" alt="User image"></div>
                                    <div class="col text-right pb-3">
                                        <div class="dropdown" ngbDropdown>
                                            <a class="drp-icon dropdown-toggle" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-more-horizontal"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                                                <a class="dropdown-item" href="javascript:">Action</a>
                                                <a class="dropdown-item" href="javascript:">Another action</a>
                                                <a class="dropdown-item" href="javascript:">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h6 class="mb-1 mt-3">Joseph William</h6>
                                <p class="mb-3 text-muted">UI/UX Designer</p>
                                <p class="mb-1">Lorem Ipsum is simply dummy text</p>
                                <p class="mb-0">been the industry's standard</p>
                            </div>
                            <hr class="wid-80 b-wid-3 my-4">
                            <div class="row text-center">
                                <div class="col">
                                    <h6 class="mb-1">37</h6>
                                    <p class="mb-0">Mails</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">2749</h6>
                                    <p class="mb-0">Followers</p>
                                </div>
                                <div class="col">
                                    <h6 class="mb-1">678</h6>
                                    <p class="mb-0">Following</p>
                                </div>
                            </div>
                        </app-card>
                    </div>
                </div> -->
            </div>

            <!-- Gallery Section -->
            <!-- <div class="tab-pane fade" [ngClass]="{'show active': this.activeTab === 'gallery'}" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                <div class="row text-center">
                    <div class="col-xl-3 col-lg-4 col-sm-6 img-row" *ngFor="let image of albums; let i=index">
                        <img class="img-fluid m-b-10 img-thumbnail bg-white" [src]="image.thumb" (click)="open(i)" />
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <div class="col-md-4 order-md-1">
        <div class="merge-card">
            <app-card [hidHeader]="true" blockClass="p-10" cardClass="m-b-0">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Friends</h5>
                    <span class="badge badge-light-primary float-right">100+</span>
                </div>
            </app-card>
            <app-card [hidHeader]="true">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius mb-2 wid-50" placement="auto" ngbTooltip="Joseph William"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius mb-2 wid-50" placement="auto" ngbTooltip="Sara Soudein"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius mb-2 wid-50" placement="auto" ngbTooltip="John Doe"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius mb-2 wid-50" placement="auto" ngbTooltip="Joseph William"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-5.jpg" alt="user image" class="img-radius wid-50" placement="auto" ngbTooltip="Sara Soudein"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius wid-50" placement="auto" ngbTooltip="Joseph William"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius wid-50" placement="auto" ngbTooltip="Sara Soudein"></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:"><img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius wid-50" placement="auto" ngbTooltip="John Doe"></a>
                    </li>
                </ul>
            </app-card>
        </div>

        <app-card cardTitle="Message" cardClass="new-cust-card" blockClass="p-0 scrollable-body">
            <perfect-scrollbar [style.max-height]="'415px'" [style.padding-top]="0">
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Alex Thompson</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">stay hungry!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Alex Thompson</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status deactive">30 min ago</span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-4.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status deactive">10 min ago</span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-5.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Shirley Hoe</h6>
                        </a>
                        <p class="m-b-0">stay hungry!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-1.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-2.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>Jon Alex</h6>
                        </a>
                        <p class="m-b-0">stay hungry!</p>
                        <span class="status active"></span>
                    </div>
                </div>
                <div class="align-middle m-b-25">
                    <img src="assets/images/user/avatar-3.jpg" alt="user image" class="img-radius align-top m-r-15">
                    <div class="d-inline-block">
                        <a href="javascript:">
                            <h6>John Doue</h6>
                        </a>
                        <p class="m-b-0">Cheers!</p>
                        <span class="status deactive">10 min ago</span>
                    </div>
                </div>
            </perfect-scrollbar>
        </app-card>
    </div> -->
</div>
<!-- profile body end -->