<section id="list_pay_bill">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Pay_Bill.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/accounts/list-pay-bill" style="cursor: pointer;"><a class="breadcrumb-font-style">Pay Bill</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Pay_Bill.Pay_Bill' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/add-pay-bill" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <form enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="Filter Section" [options]="false">
                    <div class="row">
                        <!-- Client Name --> 
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'List_Pay_Bill.Client_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="client_Name" [(ngModel)]="client_name">
                                    <option value="">{{ 'List_Pay_Bill.Select_Client' | translate }}</option>
                                    <option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- Bank Name -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'List_Pay_Bill.Payment_Mode' | translate }}</label>
                                <select class="form-control form-control-md" name="bank" [(ngModel)]="bank">
                                    <option value="">{{ 'List_Pay_Bill.Select_Bank' | translate }}</option>
                                    <option [value]="bank.id" *ngFor="let bank of bank_name">
                                        {{bank.bank_name}}</option>
                                </select>
                            </div>
                        </div>
                        <!-- Submitted Date -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date">{{ 'List_Pay_Bill.Payment_Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md" name="submitted_date" [(ngModel)]="submitted_date">
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                            <button type="submit" class="btn btn-danger" (click)="cancelAction()" tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="5%">{{ 'List_Pay_Bill.ID' | translate }}</th>
                                <th width="15%">{{ 'List_Pay_Bill.Reglement_No' | translate }}</th>
                                <th width="20%">{{ 'List_Pay_Bill.Payment_Mode' | translate }}</th>
                                <th width="18%">{{ 'List_Pay_Bill.Client_Name' | translate }}</th>
                                <th width="12%">{{ 'List_Pay_Bill.Payment_Date' | translate }}</th>
                                <th width="15%">{{ 'List_Pay_Bill.Amount' | translate }}</th>
                                <th width="15%">{{ 'List_Pay_Bill.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="pay_bills_list.length !== 0; else emptyPaybill">
                                <tr *ngFor="let item of pay_bills_list;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.wallet_id}}</td>
                                    <td>{{item.bank_name}}</td>
                                    <td>{{item.client_name}}</td>
                                    <td>{{item.payment_submitted_date}}</td>
                                    <td>{{item.paid_amount}}</td>
                                    <!-- <td class="status">
                                        <div class="form-group" style="text-align: center; margin-bottom: 0px;">
                                            <div class="switch switch-primary d-inline">
                                                <input type="checkbox" id="switch-p-1" checked>
                                                <label for="switch-p-1" style="margin-bottom: 0rem !important;" class="cr"></label>
                                            </div>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="actions">
                                            <!-- <a data-toggle="tooltip" data-placement="bottom" title="Download Data" class="ng2-smart-action"><i class="feather icon-download" style="color: #a568ff; font-size: large;"></i></a> -->
                                            <a data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" (click)="downloadAction(item.id)" title="Download PDF" class="ng2-smart-action"><i class="feather icon-download" style="color: #a568ff; font-size: large;"></i></a>
                                            <a class="ng2-smart-action" [routerLink]="['/accounts/edit-pay-bill', item.id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(item.id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                            <a class="ng2-smart-action" [routerLink]="['/accounts/view-pay-bill', item.id]" title="View"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            
                            <ng-template #emptyPaybill>
                                <tr>
                                    <td colspan="7" class="empty-row" style="text-align: center;">{{ 'List_Pay_Bill.No Pay Bill Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="5%">{{ 'List_Pay_Bill.ID' | translate }}</th>
                                <th width="15%">{{ 'List_Pay_Bill.Reglement_No' | translate }}</th>
                                <th width="20%">{{ 'List_Pay_Bill.Payment_Mode' | translate }}</th>
                                <th width="18%">{{ 'List_Pay_Bill.Client_Name' | translate }}</th>
                                <th width="12%">{{ 'List_Pay_Bill.Payment_Date' | translate }}</th>
                                <th width="15%">{{ 'List_Pay_Bill.Amount' | translate }}</th>
                                <th width="15%">{{ 'List_Pay_Bill.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>