<section id="list_receipt">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Receipt.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/accounts/list-receipt" style="cursor: pointer;"><a class="breadcrumb-font-style">receipt</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Receipt.Receipt' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/add-receipt" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <form enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="Filter Section" [options]="false">
                    <div class="row">
                        <!-- Meaning -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'Add_Receipt.Meaning' | translate }}</label>
                                <select class="form-control form-control-md" name="client_Name" [(ngModel)]="meaning">
                                    <option value="">{{ 'Add_Receipt.Select_Meaning' | translate }}</option>
                                    <option value="1">Plus (+)</option>
                                    <option value="2">Minus (-)</option>
                                </select>
                            </div>
                        </div>
                        <!-- Active -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'Add_Receipt.Active' | translate }}</label>
                                <select class="form-control form-control-md" name="bank" [(ngModel)]="active">
                                    <option value="">{{ 'Add_Receipt.Select_Meaning' | translate }}</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4" style="text-align: end; margin-top: 30px;">
                            <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                            <button type="submit" class="btn btn-danger" (click)="cancelAction()" tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Receipt.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt.Mvt Code' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt.Designation' | translate }}</th>
                                <th width="25%">{{ 'List_Receipt.TRN number' | translate }}</th>
                                <th width="15%">{{ 'List_Receipt.Meaning' | translate }}</th>
                                <th width="10%">{{ 'List_Receipt.active' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="cash_movement.length !== 0; else emptyReceipt">
                            <tr *ngFor="let item of cash_movement;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.movement_code}}</td>
                                <td>{{item.designation}}</td>
                                <td>{{item.accounting_account}}</td>
                                <td>{{item.meaning}}</td>
                                <td>{{item.movementnt_status}}</td>
                            </tr>
                            </ng-container>
                            <ng-template #emptyReceipt>
                                <tr>
                                    <td colspan="6" class="empty-row" style="text-align: center;">{{'List_Receipt.No Receipt Available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_Receipt.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt.Mvt Code' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt.Designation' | translate }}</th>
                                <th width="25%">{{ 'List_Receipt.TRN number' | translate }}</th>
                                <th width="15%">{{ 'List_Receipt.Meaning' | translate }}</th>
                                <th width="10%">{{ 'List_Receipt.active' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>