<section id="view_invoice">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'view_invoice.dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-invoice" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'view_invoice.invoice' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'view_invoice.view invoice' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-invoice" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tbody>
                                        <!-- Invoice Number -->
                                        <tr>
                                            <th width="10%" style="font-size: 18px;">{{ 'view_invoice.Invoice' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{invoice_details?.invoice?.inv_identity_num}}
                                            </td>
                                        </tr>
                                        <!-- Client Name -->
                                        <tr>
                                            <th width="10%" style="border-bottom: 1px solid #e2e5e8; font-size: 18px;">{{ 'view_invoice.Client Name' | translate }} :</th>
                                            <td style="border-bottom: 1px solid #e2e5e8; font-weight: bold; font-size: 18px;">
                                                {{invoice_details?.invoice?.client_name}}
                                            </td>
                                        </tr>
                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'view_invoice.id' | translate }}</th>
                                <th width="30%">{{ 'view_invoice.Circuit identity' | translate }}</th>
                                <th width="20%">{{ 'view_invoice.Departure Date' | translate }}</th>
                                <th width="20%">{{ 'view_invoice.Vehicle' | translate }}</th>
                                <th width="20%">{{ 'view_invoice.Amount' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="invoice_list.length !== 0; else emptyInvoice">
                            <tr *ngFor="let item of invoice_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.refrence}}</td>
                                <td>{{item.departure_date}}</td>
                                <td>{{item.vehicle_name}}</td>
                                <td>{{item.gross_amount}}</td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyInvoice>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align:center">{{'view_invoice.no invoice list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                        <!-- <tfoot>
                            <tr>
                                <th width="10%">{{ 'view_invoice.id' | translate }}</th>
                                <th width="30%">{{ 'view_invoice.invoice identity' | translate }}</th>
                                <th width="30%">{{ 'view_invoice.amount' | translate }}</th>
                                <th width="30%">{{ 'view_invoice.status' | translate }}</th>
                            </tr>
                        </tfoot> -->
                    </table>
                </div>
            </app-card>
        </div>
    </div>

</section>
