.table td,
.table th {
    // border-bottom: 1px solid #a568ff;
    white-space: nowrap;
    padding: 12px;
}

.table tr {
    background-color: white;
}

.breadcrumb-font-style {
    color: #97a7c1;
    font-weight: bold;
    font-size: initial;
     :hover {
        color: #323258;
        font-weight: bold;
        font-size: initial;
    }
}

.breadcrumb-active {
    color: #323258;
    font-weight: bold;
    font-size: 15px;
}