.breadcrumb-font-style {
    color: #97a7c1;
    font-weight: bold;
    font-size: initial;
     :hover {
        color: #323258;
        font-weight: bold;
        font-size: initial;
    }
}

.breadcrumb-active {
    color: #42424b;
    font-weight: bold;
    font-size: 15px;
}

@media(min-width:320px) {
    .btn-primary {
        margin-right: 8px;
        width: 115px;
    }
    .btn-secondary {
        width: 115px;
    }
}

@media(min-width:360px) {
    .btn-primary {
        margin-right: 8px;
        width: 135px;
    }
    .btn-secondary {
        width: 135px;
    }
}

@media(min-width:375px) {
    .btn-primary {
        margin-right: 8px;
        width: 143px;
    }
    .btn-secondary {
        width: 143px;
    }
}

@media(min-width:393px) {
    .btn-primary {
        margin-right: 8px;
        width: 152px;
    }
    .btn-secondary {
        width: 152px;
    }
}

@media(min-width:411px) {
    .btn-primary {
        margin-right: 8px;
        width: 161px;
    }
    .btn-secondary {
        width: 161px;
    }
}

@media(min-width: 768px) {
    .btn-primary {
        margin-right: 8px;
        width: 150px;
    }
    .btn-secondary {
        width: 150px;
    }
}