<section id="edit_tourism_company">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'edit_tourism_company.Dashboard' | translate }}
                            </a> 
                        </li>
                        <li class="breadcrumb-item" routerLink="/user/list-tourism-company" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'edit_tourism_company.Tourism companies' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'edit_tourism_company.edit tourism company' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/user/list-tourism-company" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_tourism_company_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card [cardTitle]="'edit_tourism_company.edit tourism company form' | translate" [options]="false">
                    <div class="row">
                        <!-- Tourism Company Name -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('company_name').errors}">
                                <label>{{ 'edit_tourism_company.tourism company name' | translate }}</label>
                                <input type="text" name="company_name" formControlName="company_name"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.enter tourism company name' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('company_name').errors}">

                                <ng-container *ngIf="checkValidation('company_name').errors">
                                    <ng-container *ngIf="checkValidation('company_name').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide tourism company name' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('company_name').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'edit_tourism_company.please provide alphabetical characters only' | translate}}</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('phone').errors}">
                                <label>{{ 'edit_tourism_company.Phone' | translate }}</label>
                                <input type="text" name="phone" formControlName="phone"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Phone' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('phone').errors}">

                                <ng-container *ngIf="checkValidation('phone').errors">
                                    <ng-container *ngIf="checkValidation('phone').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide phone' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('phone').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'edit_tourism_company.please provide valid 10 digit phone number' | translate}}</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('email').errors}">
                                <label>{{ 'edit_tourism_company.Email' | translate }}</label>
                                <input type="text" name="email" formControlName="email"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Email' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                <ng-container *ngIf="checkValidation('email').errors">
                                    <ng-container *ngIf="checkValidation('email').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide email' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('email').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'edit_tourism_company.Please provide Proper email' | translate}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        
                        <!-- Password -->
                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('password').errors}">
                                <label>{{ 'edit_tourism_company.Password' | translate }}</label>
                                <input type="password" name="password" formControlName="password"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Password' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('password').errors}">

                                <ng-container *ngIf="checkValidation('password').errors">
                                    <ng-container *ngIf="checkValidation('password').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide password' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div> -->
                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('web_site').errors}">
                                <label>{{ 'edit_tourism_company.Web_Site' | translate }}</label>
                                <input type="text" name="web_site" formControlName="web_site"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Web_Site' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('web_site').errors}">

                                <ng-container *ngIf="checkValidation('web_site').errors">
                                    <ng-container *ngIf="checkValidation('web_site').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide Web Site' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- CP -->
                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('cp').errors}">
                                <label>{{ 'edit_tourism_company.CP' | translate }}</label>
                                <input type="text" name="cp" formControlName="cp" class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_CP' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('cp').errors}">

                                <ng-container *ngIf="checkValidation('cp').errors">
                                    <ng-container *ngIf="checkValidation('cp').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide CP' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Fax Number -->
                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('fax_number').errors}">
                                <label>{{ 'edit_tourism_company.Fax_Number' | translate }}</label>
                                <input type="text" name="fax_number" formControlName="fax_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Fax_Number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('fax_number').errors}">

                                <ng-container *ngIf="checkValidation('fax_number').errors">
                                    <ng-container *ngIf="checkValidation('fax_number').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide Fax Number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Number of Employee -->
                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('cut').errors}">
                                <label>{{ 'add_tourism_company.Cut' | translate }}</label>
                                <select class="form-control form-control-md" name="cut" formControlName="cut"
                                    [ngClass]="{'is-invalid': checkValidation('cut').errors}"> 
                                    <option value="">{{ 'add_tourism_company.Select_Cut' | translate }}</option>
                                    <option [value]="employee.id" *ngFor="let employee of numberOfEmployeeArr">{{employee.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('cut').errors">
                                    <ng-container *ngIf="checkValidation('cut').required">
                                        <span
                                            class="invalid-feedback">{{'add_tourism_company.please select Cut' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid black;">
                    <div class="account_info">
                        <h6>
                            {{ 'add_tourism_company.Company Details' | translate }}
                        </h6>
                    </div>

                    <div class="row" id="4">
                        <!-- ICE -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('ice').errors}">
                                <label>{{ 'edit_tourism_company.ICE' | translate }}</label>
                                <input type="text" name="ice" formControlName="ice"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_ICE' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('ice').errors}">

                                <ng-container *ngIf="checkValidation('ice').errors">
                                    <ng-container *ngIf="checkValidation('ice').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide ICE' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- RC -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('rc').errors}">
                                <label>{{ 'edit_tourism_company.RC' | translate }}</label>
                                <input type="text" name="rc" formControlName="rc"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_RC' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('rc').errors}">

                                <ng-container *ngIf="checkValidation('rc').errors">
                                    <ng-container *ngIf="checkValidation('rc').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide RC' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- LF -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('lf').errors}">
                                <label>{{ 'edit_tourism_company.LF' | translate }}</label>
                                <input type="text" name="lf" formControlName="lf"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_LF' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('lf').errors}">

                                <ng-container *ngIf="checkValidation('lf').errors">
                                    <ng-container *ngIf="checkValidation('lf').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide LF' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="4">
                        <!-- CNSS -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('cnss').errors}">
                                <label>{{ 'edit_tourism_company.CNSS' | translate }}</label>
                                <input type="text" name="cnss" formControlName="cnss"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_CNSS' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('cnss').errors}">

                                <ng-container *ngIf="checkValidation('cnss').errors">
                                    <ng-container *ngIf="checkValidation('cnss').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide CNSS' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Patent -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('patent').errors}">
                                <label>{{ 'edit_tourism_company.Patent' | translate }}</label>
                                <input type="text" name="patent" formControlName="patent"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Patent' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('patent').errors}">

                                <ng-container *ngIf="checkValidation('patent').errors">
                                    <ng-container *ngIf="checkValidation('patent').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide Patent' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Activity -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('activity').errors}">
                                <label>{{ 'edit_tourism_company.Activity' | translate }}</label>
                                <input type="text" name="activity" formControlName="activity"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Activity' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('activity').errors}">

                                <ng-container *ngIf="checkValidation('activity').errors">
                                    <ng-container *ngIf="checkValidation('activity').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide Activity' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid black;">
                    <div class="account_info">
                        <h6>
                            {{ 'add_tourism_company.Address Details' | translate }}
                        </h6>
                    </div>

                    <div class="row">
                        <!-- Country Name -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('country_name').errors}">
                                <label>{{ 'edit_tourism_company.Country_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="country_name"
                                    formControlName="country_name"
                                    [ngClass]="{'is-invalid': checkValidation('country_name').errors}">
                                    <option value="">{{ 'edit_tourism_company.Select_Country_Name' | translate }}</option>
                                    <option [value]="country.country_id" *ngFor="let country of countries">{{country.country_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('country_name').errors">
                                    <ng-container *ngIf="checkValidation('country_name').required">
                                        <span class="invalid-feedback">{{ 'edit_tourism_company.Please Select Country Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- City Name -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('city_name').errors}">
                                <label>{{ 'edit_tourism_company.City_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="city_name"
                                    formControlName="city_name"
                                    [ngClass]="{'is-invalid': checkValidation('city_name').errors}">
                                    <option value="">{{ 'edit_tourism_company.Select_City_Name' | translate }}</option>
                                    <option [value]="city.city_id" *ngFor="let city of cities">{{city.city_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('city_name').errors">
                                    <ng-container *ngIf="checkValidation('city_name').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please select city name' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Region Name -->
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('region_name').errors}">
                                <label>{{ 'edit_tourism_company.Region_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="region_name"
                                    formControlName="region_name"
                                    [ngClass]="{'is-invalid': checkValidation('region_name').errors}">
                                    <option value="">{{ 'edit_tourism_company.Select_Region_Name' | translate }}</option>
                                    <option [value]="region.id" *ngFor="let region of regions">{{region.regions}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('region_name').errors">
                                    <ng-container *ngIf="checkValidation('region_name').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please select region name' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Address -->
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('address').errors}">
                                <label for="address">{{ 'edit_tourism_company.Address' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="address" [ngClass]="{'is-invalid': checkValidation('address').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('address').errors">
                                    <ng-container *ngIf="checkValidation('address').required">
                                        <span class="invalid-feedback">Address is required</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid black;">
                    <div class="account_info">
                        <h6>
                            {{ 'add_tourism_company.Author Details' | translate }}
                        </h6>
                    </div>

                    <div class="row" id="4">
                        <!-- Director Name -->
                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('director_name').errors}">
                                <label>{{ 'edit_tourism_company.Director_Name' | translate }}</label>
                                <input type="text" name="director_name" formControlName="director_name"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Director_Name' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('director_name').errors}">

                                <ng-container *ngIf="checkValidation('director_name').errors">
                                    <ng-container *ngIf="checkValidation('director_name').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide Director Name' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Director Email -->
                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('director_email').errors}">
                                <label>{{ 'edit_tourism_company.Director_Email' | translate }}</label>
                                <input type="text" name="director_email" formControlName="director_email"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Director_Email' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('director_email').errors}">

                                <ng-container *ngIf="checkValidation('director_email').errors">
                                    <ng-container *ngIf="checkValidation('director_email').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide director email' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('director_email').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'edit_tourism_company.Please provide Proper director email' | translate}}</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Director Phone Number -->
                        <div class="col-md-3">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('director_phone_number').errors}">
                                <label>{{ 'edit_tourism_company.Director_Phone_Number' | translate }}</label>
                                <input type="text" name="director_phone_number" formControlName="director_phone_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Director_Phone_Number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('director_phone_number').errors}">

                                <ng-container *ngIf="checkValidation('director_phone_number').errors">
                                    <ng-container *ngIf="checkValidation('director_phone_number').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide Director Phone Number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Manager Email -->
                        <div class="col-md-3">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('manager_email').errors}">
                                <label>{{ 'edit_tourism_company.Manager_Email' | translate }}</label>
                                <input type="text" name="manager_email" formControlName="manager_email"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'edit_tourism_company.Enter_Manager_Email' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('manager_email').errors}">

                                <ng-container *ngIf="checkValidation('manager_email').errors">
                                    <ng-container *ngIf="checkValidation('manager_email').required">
                                        <span
                                            class="invalid-feedback">{{'edit_tourism_company.please provide manager email' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('director_email').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'edit_tourism_company.Please provide Proper director email' | translate}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"
                                ></i></button>
                        </div>
                    </div>

                </app-card>
            </div>
        </div>
    </form>
</section>