<section id="list_invoice">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80,
					138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid
						#e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'list_invoice.dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'list_invoice.invoice' | translate }}</li>        
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/add-invoice" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Amount Section -->
    <!-- <div class="row"> -->
        <!-- Remaning Amount -->
        <!-- <div class="col-md-6">
            <app-card [hidHeader]="true">
                <div class="row">
                    <div class="col-md-9">
                        <span style="font-weight: 600; font-size: 18px;">{{ 'list_invoice.Total Remaning Amount' | translate }}</span>
                    </div>
                    <div class="col-md-3">
                        <span><strong style="color: #a568ff; font-size: 24px;">1000 <span style="font-size: 15px; color: #323258;">MAD</span></strong></span> 
                    </div>
                </div>
            </app-card>
        </div> -->
        <!-- Receiving Amount -->
        <!-- <div class="col-md-6">
            <app-card [hidHeader]="true">
                <div class="row">
                    <div class="col-md-9">
                        <span style="font-weight: 600; font-size: 18px;">{{ 'list_invoice.Total Receiving Amount' | translate }}</span>
                    </div>
                    <div class="col-md-3">
                        <span><strong style="color: #a568ff; font-size: 24px;">5000 <span style="font-size: 15px; color: #323258;">MAD</span></strong></span>
                    </div>
                </div>
            </app-card>
        </div>
    </div> -->

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'list_invoice.id' | translate }}</th>
                                <th width="30%">{{ 'list_invoice.invoice identity' | translate }}</th>
                                <th width="25%">{{ 'list_invoice.amount' | translate }}</th>
                                <th width="15%">{{ 'list_invoice.status' | translate }}</th>
                                <th width="20%">{{ 'list_invoice.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="invoice_list.length !== 0; else emptyInvoice">
                            <tr *ngFor="let item of invoice_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.inv_identity_num}}</td>
                                <td>{{item.total_amount}}</td>
                                <td>{{item.paid_status}}</td>
                                <td>
                                    <div class="actions">
                                        <a data-toggle="tooltip" data-placement="bottom" style="cursor: pointer;" (click)="downloadAction(item.invoice_id)" title="Download PDF" class="ng2-smart-action"><i class="feather icon-download" style="color: #a568ff; font-size: large;"></i></a>
                                        <a class="ng2-smart-action" [routerLink]="['/accounts/edit-invoice', item.invoice_id,item.client_id]" ngClass="{{ item.is_paid == '1' ? 'a-disabled' : '' || item.is_canceled == 1 ? 'a-disabled' : '' }}" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                        <a class="ng2-smart-action" [routerLink]="['/accounts/view-invoice', item.invoice_id]" title="View"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                        <ng-container *ngIf="item.is_canceled == 0; else invoiceReason">
                                            <a class="ng2-smart-action" ngClass="{{ item.is_paid == '1' ? 'a-disabled' : ''}}" (click)="cancelInvocieAction(item.invoice_id)" title="Cancel Invoice"><i class="feather icon-x" style="color: #FF5252 !important; cursor: pointer; height: 18px;"></i></a>
                                        </ng-container>
                                        <ng-template #invoiceReason>
                                            <a class="ng2-smart-action" ngClass="{{ item.is_paid == '1' ? 'a-disabled' : ''}}" (click)="invoiceCanceledReason(item.invoice_id)" title="Cancel Invoice Reason"><i class="feather icon-eye" style="color: #FF5252 !important; cursor: pointer;"></i></a>
                                        </ng-template>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyInvoice>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align:center">{{'list_invoice.no invoice list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'list_invoice.id' | translate }}</th>
                                <th width="30%">{{ 'list_invoice.invoice identity' | translate }}</th>
                                <th width="25%">{{ 'list_invoice.amount' | translate }}</th>
                                <th width="15%">{{ 'list_invoice.status' | translate }}</th>
                                <th width="20%">{{ 'list_invoice.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>