<section id="edit_miscellaneous_receipt">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Edit_Miscellaneous_Receipt.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/manage-cash-desk/cash-desk" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Edit_Miscellaneous_Receipt.Miscellaneous_Receipt' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Edit_Miscellaneous_Receipt.Edit_Miscellaneous_Receipts' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/manage-cash-desk/cash-desk" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_miscellaneous_receipt_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Miscellaneous_Receipt.Edit Miscellaneous Receipt Form' | translate }}"
                    [options]="false">

                    <div class="row">
                        <!-- Operation -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('operation').errors}">
                                <label>{{ 'List_Expense.Operation' | translate }}</label>
                                <input type="text" name="operation" formControlName="operation"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Edit_Miscellaneous_Receipt.Enter_operation' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('reference').errors}">

                                <ng-container *ngIf="checkValidation('operation').errors">
                                    <ng-container *ngIf="checkValidation('operation').required">
                                        <span
                                            class="invalid-feedback">{{ 'Edit_Miscellaneous_Receipt.Please Select Operation' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Reference -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('reference').errors}">
                                <label>{{ 'Edit_Miscellaneous_Receipt.Reference' | translate }}</label>
                                <input type="text" name="reference" formControlName="reference"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Edit_Miscellaneous_Receipt.Enter_Reference' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('reference').errors}">

                                <ng-container *ngIf="checkValidation('reference').errors">
                                    <ng-container *ngIf="checkValidation('reference').required">
                                        <span
                                            class="invalid-feedback">{{ 'Edit_Miscellaneous_Receipt.Please provide Reference' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Amount -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('amount').errors}">
                                <label>{{ 'Edit_Miscellaneous_Receipt.Amount' | translate }}</label>
                                <input type="text" name="amount" formControlName="amount"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Edit_Miscellaneous_Receipt.Enter_Amount' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('amount').errors}">

                                    <ng-container *ngIf="checkValidation('amount').errors">
                                        <ng-container *ngIf="checkValidation('amount').required">
                                            <span
                                                class="invalid-feedback">{{ 'Edit_Miscellaneous_Receipt.Please provide Amount' | translate }}</span>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="checkValidation('amount').patternValidate">
                                        <span class="invalid-feedback">{{ 'Edit_Miscellaneous_Receipt.Please provider this format (10.00),(100.00),(1000.00) etc' | translate }}.</span>
                                    </ng-container>
                            </div>
                        </div>

                        <!-- operation Date -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('opration_date').errors}">
                                <label for="date">{{ 'Edit_Expense.Opration_date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    name="opration_date" formControlName="opration_date"
                                    [ngClass]="{'is-invalid': checkValidation('opration_date').errors}" />

                                <ng-container *ngIf="checkValidation('opration_date').errors">
                                    <ng-container *ngIf="checkValidation('opration_date').required">
                                        <span
                                            class="invalid-feedback">{{ 'Edit_Expense.permit validate payment dateopration date Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Description -->
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('description').errors}">
                                <label
                                    for="description">{{ 'Edit_Miscellaneous_Receipt.Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="description"
                                    [ngClass]="{'is-invalid': checkValidation('description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('description').errors">
                                    <ng-container *ngIf="checkValidation('description').required">
                                        <span
                                            class="invalid-feedback">{{ 'Edit_Miscellaneous_Receipt.Description is required' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>