<div class="auth-wrapper">
	<!-- [ reset-password ] start -->
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="assets/images/logo_300x96.png" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">Admin Reset password</h4>
						<!-- Form Section -->
						<form [formGroup]="reset_Admin_Form">
							<div class="input-group mb-4">
								<div class="input-group-prepend" [ngClass]="{'has-error': checkValidation('email').errors}">
									<span class="input-group-text"><i class="feather icon-mail"></i></span>
								</div>
								<!-- <input type="email" class="form-control" placeholder="Email address"> -->
								<input type="email" name="email" formControlName="email" required class="form-control" placeholder="Email address" [ngClass]="{'is-invalid': checkValidation('email').errors}">
	
								<ng-container *ngIf="checkValidation('email').errors">
									<ng-container *ngIf="checkValidation('email').required">
										<span class="invalid-feedback" style="text-align: left;">email is required.</span>
									</ng-container>
								</ng-container>
								<ng-container *ngIf="checkValidation('email').patternValidate">
									<span class="invalid-feedback" style="text-align: left;">Please provide Proper email only.</span>
								</ng-container>
	
							</div>
							<button class="btn btn-block btn-primary mb-4" style="width: 100%;" (click)="reset_Admin_Password()">Reset password</button>
						</form>
						<!-- <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']"
								class="f-w-400">Signup</a></p> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- [ reset-password ] end -->
</div>