<section id="add_event_manage">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Manage_Event.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/master/list-event" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Manage_Event.Event' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Manage_Event.Add Event' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/list-event"
                    data-toggle="tooltip" data-placement="bottom" title="Back"><i
                        class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_event_manage_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Add_Manage_Event.Add Event Form' | translate }}" [options]="false">
                    <div class="row">

                        <!-- MVT Code -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('even_code').errors}">
                                <label>{{ 'Add_Manage_Event.Even Code' | translate }}</label>
                                <input type="text" name="even_code" formControlName="even_code"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Manage_Event.Enter_even_code' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('even_code').errors}">

                                <ng-container *ngIf="checkValidation('even_code').errors">
                                    <ng-container *ngIf="checkValidation('even_code').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Manage_Event.Please provide Even Code' | translate }}</span>
                                    </ng-container>
                                    <ng-container *ngIf="checkValidation('even_code').patternValidate">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Manage_Event.please provide character only' | translate }}.</span>
                                    </ng-container>
                                    <ng-container *ngIf="checkValidation('even_code').maxLengthValidate">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Manage_Event.accept 4 character only' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                               
                            </div>
                        </div>

                        <!-- Designation -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('designation').errors}">
                                <label>{{ 'Add_Manage_Event.Designation' | translate }}</label>
                                <input type="text" name="designation" formControlName="designation"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Manage_Event.Enter_Designation' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('designation').errors}">

                                <ng-container *ngIf="checkValidation('designation').errors">
                                    <ng-container *ngIf="checkValidation('designation').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Manage_Event.Please provide Designation' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label>{{ 'Add_Manage_Event.Automatic' | translate }}</label>
                        </div>
                        <div class="col-md-6">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" [value]="1" class="custom-control-input"
                                    formControlName="automatic" [checked]='true'>
                                <label class="custom-control-label"
                                    for="customRadioInline1">{{ 'Add_Manage_Event.yes' | translate }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" [value]="2" class="custom-control-input"
                                    formControlName="automatic">
                                <label class="custom-control-label"
                                    for="customRadioInline2">{{ 'Add_Manage_Event.no' | translate }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>