<section id="view_pay_bill">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'view_pay_bill.Dashboard' | translate }}</a></li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-pay-bill" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'view_pay_bill.Pay Bill' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'view_pay_bill.View Pay Bill' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-pay-bill" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <tbody>
                                        
                                        <tr>
                                            <!-- Reference Number -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_pay_bill.reference' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.reference}}
                                            </td>
                                            <!-- Client Name -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_pay_bill.Client Name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.client_name}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- Amount -->
                                            <th width="10%" style="border-bottom: 1px solid #e2e5e8; font-size: 18px;">{{ 'view_pay_bill.paid_amount' | translate }}</th>
                                            <td style="border-bottom: 1px solid #e2e5e8; font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.paid_amount}}
                                            </td>
                                            <!-- Payment Date -->
                                            <th width="10%" style="border-bottom: 1px solid #e2e5e8; font-size: 18px;">{{ 'view_pay_bill.payment_date' | translate }}</th>
                                            <td style="border-bottom: 1px solid #e2e5e8; font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.payment_date}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- bank name -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_pay_bill.bank_name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.bank_name}}
                                            </td>
                                            <!-- account number -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_pay_bill.account_number' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.account_number}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- bank name -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_pay_bill.payment_submitted_date' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.payment_submitted_date}}
                                            </td>
                                            <!-- wallet id -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_pay_bill.wallet_id' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{pay_bill_details?.paybill?.wallet_id}}
                                            </td>
                                        </tr>
                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'view_pay_bill.id' | translate }}</th>
                                <th width="30%">{{ 'view_pay_bill.Invoice identity' | translate }}</th>
                                <th width="30%">{{ 'view_pay_bill.Client Name' | translate }}</th>
                                <th width="30%">{{ 'view_pay_bill.Invoice Amount' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="pay_bill_list.length !== 0; else emptyPayBill">
                            <tr *ngFor="let item of pay_bill_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.inv_identity_num}}</td>
                                <td>{{item.client_name}}</td>
                                <td>{{item.invoice_amount}}</td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyPayBill>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align:center">{{'view_pay_bill.no pay bill list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                        <!-- <tfoot>
                            <tr>
                                <th width="10%">{{ 'view_pay_bill.id' | translate }}</th>
                                <th width="30%">{{ 'view_pay_bill.invoice identity' | translate }}</th>
                                <th width="30%">{{ 'view_pay_bill.amount' | translate }}</th>
                                <th width="30%">{{ 'view_pay_bill.status' | translate }}</th>
                            </tr>
                        </tfoot> -->
                    </table>
                </div>
            </app-card>
        </div>
    </div>

</section>