<section id="add_staff_members">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Staff_Members.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/manage-staff/list-staff-members"
                            style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Staff_Members.Staff_Members' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Staff_Members.Add_Staff_Members' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/manage-staff/list-staff-members" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_staff_members_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Add_Staff_Members.Basic Information' | translate }} :" [options]="false">
                    <div class="row" id="1">
                        <!-- Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('name').errors}">
                                <label>{{ 'Add_Staff_Members.Name' | translate }}</label>
                                <input type="text" name="name" formControlName="name"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_Name' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('name').errors}">

                                <ng-container *ngIf="checkValidation('name').errors">
                                    <ng-container *ngIf="checkValidation('name').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('name').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Staff_Members.Please provide alphabetical characters only' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('phone').errors}">
                                <label>{{ 'Add_Staff_Members.Phone' | translate }}</label>
                                <input type="text" name="phone" formControlName="phone"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_Phone' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('phone').errors}">

                                <ng-container *ngIf="checkValidation('phone').errors">
                                    <ng-container *ngIf="checkValidation('phone').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Phone' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('phone').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Staff_Members.Please provide valid 10 digit phone number' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="2">
                        <!-- City Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('city_name').errors}">
                                <label>{{ 'Add_Vehicle_Provider.City_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="city_name"
                                    formControlName="city_name"
                                    [ngClass]="{'is-invalid': checkValidation('city_name').errors}">
                                    <option value="">{{ 'Add_Vehicle_Provider.Select_City_Name' | translate }}</option>
                                    <option [value]="city.city_id" *ngFor="let city of cities">{{city.city_name}}
                                    </option>
                                </select>

                                <ng-container *ngIf="checkValidation('city_name').errors">
                                    <ng-container *ngIf="checkValidation('city_name').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle_Provider.Please Select City Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Marital Status -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('marital_status').errors}">
                                <label>{{ 'Add_Staff_Members.Marital_Status' | translate }}</label>
                                <input type="text" name="marital_status" formControlName="marital_status"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_Marital_Status' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('marital_status').errors}">

                                <ng-container *ngIf="checkValidation('marital_status').errors">
                                    <ng-container *ngIf="checkValidation('marital_status').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Marital Status' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="3">
                        <!-- Registration Number -->
                        <div class="col-md-6">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('registration_number').errors}">
                                <label>{{ 'Add_Staff_Members.Registration_Number' | translate }}</label>
                                <input type="text" name="registration_number" formControlName="registration_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_Registration_Number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('registration_number').errors}">

                                <ng-container *ngIf="checkValidation('registration_number').errors">
                                    <ng-container *ngIf="checkValidation('registration_number').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Registration Number' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Date of Birth -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('date_of_birth').errors}">
                                <label for="date">{{ 'Add_Staff_Members.Date_of_Birth' | translate }}</label>
                                <input type="date" placeholder="Date" class="datepicker form-control form-control-md"
                                    data-date-format="mm/dd/yyyy" name="date_of_birth" formControlName="date_of_birth"
                                    [ngClass]="{'is-invalid': checkValidation('date_of_birth').errors}" />

                                <ng-container *ngIf="checkValidation('date_of_birth').errors">
                                    <ng-container *ngIf="checkValidation('date_of_birth').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Date of birth is Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="4">
                        <!-- CIN -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('cin').errors}">
                                <label>{{ 'Add_Staff_Members.CIN' | translate }}</label>
                                <input type="text" name="cin" formControlName="cin" class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_CIN' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('cin').errors}">

                                <ng-container *ngIf="checkValidation('cin').errors">
                                    <ng-container *ngIf="checkValidation('cin').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide cin' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- CNSS -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('cnss').errors}">
                                <label>{{ 'Add_Staff_Members.CNSS' | translate }}</label>
                                <input type="text" name="cnss" formControlName="cnss"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_CNSS' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('cnss').errors}">

                                <ng-container *ngIf="checkValidation('cnss').errors">
                                    <ng-container *ngIf="checkValidation('cnss').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide CNSS' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid black;">
                    <div class="account_info">
                        <h6>
                            {{ 'Add_Staff_Members.Account Information' | translate }} :
                        </h6>
                    </div>

                    <!-- <div class="row" id="5">
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('email').errors}">
                                <label>{{ 'Add_Staff_Members.Email' | translate }}</label>
                                <input type="text" name="email" formControlName="email" class="form-control form-control-md" placeholder="{{ 'Add_Staff_Members.Enter_Email' | translate }}" [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                <ng-container *ngIf="checkValidation('email').errors">
                                    <ng-container *ngIf="checkValidation('email').required">
                                        <span class="invalid-feedback">{{ 'Add_Staff_Members.Please provide email' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('email').patternValidate">
                                    <span class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Proper email' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('password').errors}">
                                <label>{{ 'Add_Staff_Members.Password' | translate }}</label>
                                <input type="password" name="password" formControlName="password" class="form-control form-control-md" placeholder="{{ 'Add_Staff_Members.Enter_Password' | translate }}" [ngClass]="{'is-invalid': checkValidation('password').errors}">

                                <ng-container *ngIf="checkValidation('password').errors">
                                    <ng-container *ngIf="checkValidation('password').required">
                                        <span class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Password' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('password').minLengthValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Staff_Members.accept minimum 8 numeric character only' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                    </div> -->

                    <div class="row" id="6">
                        <!-- Function Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('function_name').errors}">
                                <label>{{ 'Add_Staff_Members.Function_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="function_name"
                                    formControlName="function_name"
                                    [ngClass]="{'is-invalid': checkValidation('function_name').errors}">
                                    <option value="">{{ 'Add_Staff_Members.Select_Function_Name' | translate }}</option>
                                    <option [value]="function.id" *ngFor="let function of staff_functions">
                                        {{function.function_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('function_name').errors">
                                    <ng-container *ngIf="checkValidation('function_name').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please Select Function Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Permit Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('permit_number').errors}">
                                <label>{{ 'Add_Staff_Members.Permit_Number' | translate }}</label>
                                <input type="text" name="permit_number" formControlName="permit_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_Permit_Number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('permit_number').errors}">

                                <ng-container *ngIf="checkValidation('permit_number').errors">
                                    <ng-container *ngIf="checkValidation('permit_number').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Permit Number' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="7">
                        <!-- Permit Type -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('permit_type').errors}">
                                <label>{{ 'Add_Staff_Members.Permit_Type' | translate }}</label>
                                <select class="form-control form-control-md" name="permit_type"
                                    formControlName="permit_type"
                                    [ngClass]="{'is-invalid': checkValidation('permit_type').errors}">
                                    <option value="">{{ 'Add_Staff_Members.Select_Permit_Type' | translate }}</option>
                                    <option [value]="permit_type.id" *ngFor="let permit_type of permit_types">
                                        {{permit_type.permit_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('permit_type').errors">
                                    <ng-container *ngIf="checkValidation('permit_type').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please Select Permit Type' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Permit Date -->
                        <div class="col-md-6">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('permit_validate_date').errors}">
                                <label for="date">{{ 'Add_Staff_Members.Permit_Validate_Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    name="permit_validate_date" formControlName="permit_validate_date"
                                    [ngClass]="{'is-invalid': checkValidation('permit_validate_date').errors}" />

                                <ng-container *ngIf="checkValidation('permit_validate_date').errors">
                                    <ng-container *ngIf="checkValidation('permit_validate_date').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.permit validate date is Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="8">
                        <!-- Joining Date -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('joining_date').errors}">
                                <label for="date">{{ 'Add_Staff_Members.Joining_Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    name="joining_date" formControlName="joining_date"
                                    [ngClass]="{'is-invalid': checkValidation('joining_date').errors}" />

                                <ng-container *ngIf="checkValidation('joining_date').errors">
                                    <ng-container *ngIf="checkValidation('joining_date').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Joining Date is Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- releasing Date -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('releasing_date').errors}">
                                <label for="date">{{ 'Add_Staff_Members.Releasing_Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    name="releasing_date" formControlName="releasing_date"
                                    [ngClass]="{'is-invalid': checkValidation('releasing_date').errors}" />

                                <ng-container *ngIf="checkValidation('releasing_date').errors">
                                    <ng-container *ngIf="checkValidation('releasing_date').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Releasing Date is Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="9">
                        <!-- Email -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('email').errors}">
                                <label>{{ 'Add_Staff_Members.Email' | translate }}</label>
                                <input type="text" name="email" formControlName="email"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Staff_Members.Enter_Email' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                <ng-container *ngIf="checkValidation('email').errors">
                                    <ng-container *ngIf="checkValidation('email').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please provide email' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('email').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Proper email' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Contract -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('contract').errors}">
                                <label>{{ 'Add_Staff_Members.Contract' | translate }}</label>
                                <select class="form-control form-control-md" name="contract" formControlName="contract"
                                    [ngClass]="{'is-invalid': checkValidation('contract').errors}">
                                    <option value="">{{ 'Add_Staff_Members.Select_Contract' | translate }}</option>
                                    <option [value]="contract.id" *ngFor="let contract of contractArr">{{contract.name}}
                                    </option>
                                </select>

                                <ng-container *ngIf="checkValidation('contract').errors">
                                    <ng-container *ngIf="checkValidation('contract').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Please Select Contract' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Act As a User -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('accesibility').errors}">
                                <label>{{ 'Add_Staff_Members.Accesibility(Act as a User)' | translate }}</label>
                                <select class="form-control form-control-md" name="accesibility"
                                    formControlName="accesibility" [(ngModel)]="accesibility"
                                    (change)="onDatabseChange()"
                                    [ngClass]="{'is-invalid': checkValidation('accesibility').errors}">
                                    <option value="">{{"Add_Staff_Members.Select Accesibility" | translate}}</option>
                                    <option *ngFor="let item of accesibilityValue" [value]="item.id">{{item.viewValue}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('accesibility').errors">
                                    <ng-container *ngIf="checkValidation('accesibility').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Staff_Members.please select Accesibility' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Password -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('password').errors}">
                                <label>{{ 'Add_Staff_Members.Password' | translate }}</label>
                                <input type="password" name="password" formControlName="password" class="form-control form-control-md" placeholder="{{ 'Add_Staff_Members.Enter_Password' | translate }}" [ngClass]="{'is-invalid': checkValidation('password').errors}">

                                <ng-container *ngIf="checkValidation('password').errors">
                                    <ng-container *ngIf="checkValidation('password').required">
                                        <span class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Password' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <!-- <ng-container *ngIf="checkValidation('password').minLengthValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Staff_Members.accept minimum 8 numeric character only' | translate }}.</span>
                                </ng-container> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('description').errors}">
                                <label for="description">{{ 'Add_Staff_Members.Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="description"
                                    [ngClass]="{'is-invalid': checkValidation('description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('description').errors">
                                    <ng-container *ngIf="checkValidation('description').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Staff_Members.Description is required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-md-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>

                </app-card>
            </div>
        </div>
    </form>
</section>

<script>
    $('.datepicker').datepicker({
        startDate: '-3d'
    });
</script>