.breadcrumb-font-style {
    color: #97a7c1;
    font-weight: bold;
    font-size: initial;
     :hover {
        color: #323258;
        font-weight: bold;
        font-size: initial;
    }
}

.breadcrumb-active {
    color: #323258;
    font-weight: bold;
    font-size: 15px;
}

@media (min-width : 760px) {
    .radio-button {
        margin-top: 28px;
    }
} 