<ul class="navbar-nav ml-auto">

    <li>
        <div id="select language">
            <select #langSelect (change)="translate.use(langSelect.value)" class="form-control form-control-sm" style="background: rgb(50, 50, 88, 0.8); font-weight: bold;
            font-size: 14px; color: white; box-shadow: 0 1px 3px 0 rgb(117, 117, 184);" name="select language">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang" style="background-image:url(assets/images/flags/flag-uk.png);">{{ lang }}
                    <img alt="" src="../../../../../../assets/images/flags/flag-uk.png" width="21" height="23">
                </option> 
            </select>  

            <!-- <select #langSelect [multiple]="true" (change)="translate.use(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}
                  <div class="famfamfam-flags {{option?.value.toLowerCase()}}"></div>
                  {{option?.label}}
                </option>
            </select> -->

        </div>
        <!-- <select #langSelect (change)="translate.use(langSelect.value)">  
            <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{ lang }}</option>  
        </select> -->
    </li>

    <!-- NOtification Section -->
    <!-- <li>
        <div class="dropdown" ngbDropdown placement="auto">
            <a ngbDropdownToggle href="javascript:" data-toggle="dropdown"><i class="icon feather icon-bell"></i></a>
            <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right notification">
                <div class="noti-head">
                    <h6 class="d-inline-block m-b-0">Notifications</h6>
                    <div class="float-right">
                        <a href="javascript:" class="m-r-10">mark as read</a>
                        <a href="javascript:">clear all</a>
                    </div>
                </div>
                <ul class="noti-body">
                    <li class="n-title">
                        <p class="m-b-0">NEW</p>
                    </li>
                    <li class="notification">
                        <div class="media">
                            <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                <p>New ticket Added</p>
                            </div>
                        </div>
                    </li>
                    <li class="n-title">
                        <p class="m-b-0">EARLIER</p>
                    </li>
                    <li class="notification">
                        <div class="media">
                            <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                <p>Prchace New Theme and make payment</p>
                            </div>
                        </div>
                    </li>
                    <li class="notification">
                        <div class="media">
                            <img class="img-radius" src="assets/images/user/avatar-3.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                                <p>currently login</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="noti-footer">
                    <a href="javascript:">show all</a>
                </div>
            </div>
        </div>
    </li> -->
    <ng-container *ngIf="this.global.currentUser.user_role == '1' || this.global.currentUser.user_role == '2' || this.global.currentUser.user_role == '4'">
        <li>
            <div class="dropdown drp-user" ngbDropdown placement="auto">
                <a href="javascript:" ngbDropdownToggle data-toggle="dropdown">
                    <i class="icon feather icon-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-notification" ngbDropdownMenu>
                    <div class="pro-head"> 
                        <img [src]="imageSrc || 'assets/images/profile/profile.png'" class="img-radius" alt="User-Profile-Image" style="height:30px; width:30px">
                        <span>{{ profile_details?.name }}</span>
                        <a (click)="logout()" class="dud-logout" title="SignOut">
                            <i class="feather icon-log-out" style="cursor: pointer;"></i>
                        </a>
                    </div>
                    <ul class="pro-body">
                        <li><a routerLink="/profile-details/view-profile-info" class="dropdown-item"><i class="feather icon-user"></i>{{"nav-right.Profile" | translate}}</a></li>
                        <!-- <li><a routerLink="/change-passwords/change-password" class="dropdown-item"><i class="feather icon-settings"></i>Change Password</a></li> -->
                        <!-- <li><a href="javascript:" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li> -->
                        <li><a (click)="logout()" style="cursor: pointer;" class="dropdown-item"><i class="feather icon-lock"></i>{{"nav-right.SignOut" | translate}}</a></li>
                        <!-- <li><a href="javascript:" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li> -->
                    </ul>
                </div>
            </div>
        </li>
    </ng-container>
    
</ul>