<section id="Edit_pay_bill">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'Edit_Pay_Bill.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-pay-bill" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Pay_Bill.Accounts' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Pay_Bill.Pay_Bill' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-pay-bill" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_pay_bill_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Pay_Bill.Edit Pay Bill Form' | translate }}" [options]="false">
                    <div class="row">

                        <!-- Reglement No -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('reglement_no').errors}">
                                <label>{{ 'Edit_Pay_Bill.Reglement No' | translate }}</label>
                                <input type="text" name="reglement_no" formControlName="reglement_no" class="form-control form-control-md" placeholder="{{ 'Edit_Pay_Bill.Enter_Reglement_No' | translate }}" [ngClass]="{'is-invalid': checkValidation('reglement_no').errors}">

                                <ng-container *ngIf="checkValidation('reglement_no').errors">
                                    <ng-container *ngIf="checkValidation('reglement_no').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.Please provide Reglement No' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Payment Date -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('payment_date').errors}">
                                <label for="date">{{ 'Edit_Pay_Bill.Payment_Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md" name="payment_date" formControlName="payment_date" [ngClass]="{'is-invalid': checkValidation('payment_date').errors}" />

                                <ng-container *ngIf="checkValidation('payment_date').errors">
                                    <ng-container *ngIf="checkValidation('payment_date').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.permit validate payment date Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Payment Mode -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('payment_mode').errors}">
                                <label>{{ 'Edit_Pay_Bill.Payment Mode' | translate }}</label>
                                <select class="form-control form-control-md" name="payment_mode" formControlName="payment_mode" [ngClass]="{'is-invalid': checkValidation('payment_mode').errors}">
                                    <option value="">{{ 'Edit_Pay_Bill.Select_Payment Mode' | translate }}</option>
                                    <option [value]="payment.id" *ngFor="let payment of paymentModeArr">{{payment.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('payment_mode').errors">
                                    <ng-container *ngIf="checkValidation('payment_mode').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.Please Select Payment Mode' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Amount -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('amount').errors}">
                                <label>{{ 'Edit_Pay_Bill.Amount' | translate }}</label>
                                <input type="text" appOnlynumber name="amount" formControlName="amount" class="form-control form-control-md" placeholder="{{ 'Edit_Pay_Bill.Enter_Amount' | translate }}" [ngClass]="{'is-invalid': checkValidation('amount').errors}">

                                <ng-container *ngIf="checkValidation('amount').errors">
                                    <ng-container *ngIf="checkValidation('amount').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.Please provide Amount' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('amount').patternValidate">
                                    <span class="invalid-feedback">{{ 'Add_Vehicle.Please provider this format (10.00),(100.00),(1000.00) etc' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Reference -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('reference').errors}">
                                <label>{{ 'Edit_Pay_Bill.Reference' | translate }}</label>
                                <input type="text"  name="reference" formControlName="reference" class="form-control form-control-md" placeholder="{{ 'Edit_Pay_Bill.Enter_Reference' | translate }}" [ngClass]="{'is-invalid': checkValidation('reference').errors}">

                                <ng-container *ngIf="checkValidation('reference').errors">
                                    <ng-container *ngIf="checkValidation('reference').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.Please provide Reference' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Bank -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('bank').errors}">
                                <label>{{ 'Edit_Pay_Bill.Bank' | translate }}</label>
                                <select class="form-control form-control-md" name="bank" formControlName="bank" [ngClass]="{'is-invalid': checkValidation('bank').errors}">
                                    <option value="">{{ 'Edit_Pay_Bill.Select_Bank' | translate }}</option>
                                    <option [value]="bank.id" *ngFor="let bank of bank_name">
                                        {{bank.bank_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('bank').errors">
                                    <ng-container *ngIf="checkValidation('bank').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.Please Select bank' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>    

                    <div class="row">
                        <!-- To Submit On -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('to_submit_on').errors}">
                                <label>{{ 'Edit_Pay_Bill.To Submit On' | translate }}</label>
                                <input type="date" name="to_submit_on" formControlName="to_submit_on" class="form-control form-control-md" placeholder="{{ 'Edit_Pay_Bill.Enter_To_Submit_On' | translate }}" [ngClass]="{'is-invalid': checkValidation('to_submit_on').errors}">

                                <ng-container *ngIf="checkValidation('to_submit_on').errors">
                                    <ng-container *ngIf="checkValidation('to_submit_on').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.Please provide To Submit On' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Client -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('client').errors}">
                                <label>{{ 'Edit_Pay_Bill.Client' | translate }}</label>
                                <select class="form-control form-control-md" name="client" formControlName="client" [ngClass]="{'is-invalid': checkValidation('client').errors}"
                                (change)="unpaidInvoiceList()">
                                    <option value="">{{ 'Edit_Pay_Bill.Select_Client' | translate }}</option>
                                    <option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('client').errors">
                                    <ng-container *ngIf="checkValidation('client').required">
                                        <span class="invalid-feedback">{{ 'Edit_Pay_Bill.Please Select Client' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <hr style="border-top: 1px solid black;">

                    <div class="row">
                        <!-- Bill and Amount table -->
                        <div class="col-md-12">
                            <label>{{ 'Edit_Pay_Bill.Pay Bill' | translate }}</label>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="path_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="5%">{{ 'Edit_Pay_Bill.Checkbox' | translate }}</th>
                                            <th width="50%">{{ 'Edit_Pay_Bill.Bill' | translate }}</th>
                                            <th width="45%">{{ 'Edit_Pay_Bill.Amounts' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngIf="unpaid_invoice_list.length !== 0; else emptyUnPaidInvoice">
                                            <tr *ngFor="let item of unpaid_invoice_list;let i=index">
                                                <td style="text-align: center;">
                                                    <!-- <input type="checkbox" name="checkbox"> -->
                                                    <div class="form-check">
                                                        <input class="form-check-input" (change)="addRowIntoArray($event, item)"  type="checkbox" id="gridCheck">
                                                    </div>
                                                </td>
                                                <td>{{item.inv_identity_num}}</td>
                                                <td>{{item.total_amount}}</td>
                                            </tr>
                                        </ng-container>
                                        <ng-template #emptyUnPaidInvoice>
                                            <tr>
                                                <td colspan="3" class="empty-row" style="text-align:center">{{'Edit_Pay_Bill.No UnPaid Invoice List Available' | translate}}</td>
                                                <td style="display: none;"></td>
                                                <td style="display: none;"></td>
                                            </tr>
                                        </ng-template>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                    <!-- Button Section -->
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"
                            ><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>