<section id="view_region">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-10">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;"><a class="breadcrumb-font-style">Dashboard</a></li>
                        <li class="breadcrumb-item" routerLink="/master/list-region" style="cursor: pointer;"><a class="breadcrumb-font-style">Region</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">View Region</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-2">
                <button type="back" style="width: inherit;" class="btn btn-lg btn-primary" routerLink="/master/list-region">Back to List</button>
            </div>
        </div>
    </section>

    <!-- Table Section -->
    <section id="Table">
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <tbody>

                        <tr>
                            <th width="50%">City Name:</th>
                            <td>
                                <!-- {{ProductArr.product_category}} -->
                            </td>
                        </tr>

                        <tr>
                            <th width="50%">Region Name:</th>
                            <td>
                                <!-- {{ProductArr.product_category}} -->
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>