<section id="change_passsword">
    <div class="auth-wrapper align-items-stretch aut-bg-img">
        <div class="flex-grow-1">
            <div class="h-100 d-md-flex align-items-center auth-side-img">
                <div class="col-sm-10 auth-content w-auto">
                    <img src="assets/images/auth/logo_300x96.png" style="height:
                        70px;" alt="" class="img-fluid">
                    <h1 class="text-white my-4">Change securely!</h1>
                    <h4 class="text-white font-weight-normal">Change your account password and make your self more securely Next Dashboard Template.
                        <br/>Do not forget to play with live customizer
                    </h4>
                </div>
            </div>
            <div class="auth-side-form">
                <div class="auth-content">
                    <img src="assets/images/auth/logo_300x96.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
                    <h4 class="mb-4 f-w-400">Change your password</h4>

                    <form [formGroup]="change_Password_Form" (ngSubmit)="changePassword()">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend" [ngClass]="{'has-error':
                                checkValidation('current_password').errors}">
                                <span class="input-group-text"><i
                                        class="feather
                                        icon-mail"></i></span>
                            </div>
                            <!-- <input type="current_password" class="form-control" placeholder="current_password address"> -->
                            <input type="current_password" name="current_password" formControlName="current_password" required class="form-control" placeholder="Current Password" [ngClass]="{'is-invalid':
                                checkValidation('current_password').errors}">
                            <ng-container *ngIf="checkValidation('current_password').errors">
                                <ng-container *ngIf="checkValidation('current_password').required">
                                    <span class="invalid-feedback">current
                                        password is required.</span>
                                </ng-container>
                            </ng-container>

                        </div>

                        <div class="input-group mb-2">
                            <div class="input-group-prepend" [ngClass]="{'has-error':
                                checkValidation('new_password').errors}">
                                <span class="input-group-text"><i
                                        class="feather
                                        icon-mail"></i></span>
                            </div>
                            <!-- <input type="new_password" class="form-control" placeholder="new_password address"> -->
                            <input type="new_password" name="new_password" formControlName="new_password" required class="form-control" placeholder="New Password" [ngClass]="{'is-invalid':
                                checkValidation('new_password').errors}">
                            <ng-container *ngIf="checkValidation('new_password').errors">
                                <ng-container *ngIf="checkValidation('new_password').required">
                                    <span class="invalid-feedback">new
                                        password
                                        is required.</span>
                                </ng-container>
                            </ng-container>

                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group-prepend" [ngClass]="{'has-error':
                                checkValidation('confirm_password').errors}">
                                <span class="input-group-text"><i
                                        class="feather
                                        icon-mail"></i></span>
                            </div>
                            <!-- <input type="confirm_password" class="form-control" placeholder="confirm_password address"> -->
                            <input type="confirm_password" name="confirm_password" formControlName="confirm_password" required class="form-control" placeholder="Confirm Password" [ngClass]="{'is-invalid':
                                checkValidation('confirm_password').errors}">
                            <ng-container *ngIf="checkValidation('confirm_password').errors">
                                <ng-container *ngIf="checkValidation('confirm_password').required">
                                    <span class="invalid-feedback">confirm
                                        password is required.</span>
                                </ng-container>
                            </ng-container>
                            <!-- <ng-container *ngIf="checkValidation('confirm_password').Match">
                                <span class="invalid-feedback">password do not match.</span>
                            </ng-container> -->

                        </div>

                        <button class="btn btn-block btn-primary mb-4" (click)="changePassword()">Change
                            password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>