<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
        <div class="h-100 d-md-flex align-items-center auth-side-img">
            <div class="col-sm-10 auth-content w-auto">
                <img src="assets/images/auth/logo_300x96.png" style="height: 70px;" alt="" class="img-fluid">
                <h1 class="text-white my-4">{{'staff-login.welcome back' | translate}}</h1>
                <h4 class="text-white font-weight-normal">{{'staff-login.Signin to your account and get explore the Next Dashboard.' | translate}}<br/>{{'staff-login.Do not forget to play with live customizer' | translate}}</h4>
            </div>
        </div>
        <div class="auth-side-form">
            <div class=" auth-content">
                <img src="assets/images/auth/logo_300x96.png" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
                <h3 class="mb-4 f-w-400">{{'staff-login.staff member signin' | translate}}</h3>
                <form [formGroup]="loginForm" (ngSubmit)="login()">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend" [ngClass]="{'has-error': checkValidation('email').errors}">
                            <span class="input-group-text"><i class="feather icon-mail"></i></span>
                        </div>
                        <input type="email" name="email" formControlName="email" required class="form-control" placeholder="{{'staff-login.email' | translate}}" [ngClass]="{'is-invalid': checkValidation('email').errors}">

                        <ng-container *ngIf="checkValidation('email').errors">
                            <ng-container *ngIf="checkValidation('email').required">
                                <span class="invalid-feedback">{{'staff-login.email is required' | translate}}</span>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="checkValidation('email').patternValidate">
                            <span class="invalid-feedback">{{'staff-login.please provide proper email only' | translate}}</span>
                        </ng-container>

                    </div>

                    <div class="input-group mb-4">
                        <div class="input-group-prepend" [ngClass]="{'has-error': checkValidation('password').errors}">
                            <span class="input-group-text"><i class="feather icon-lock"></i></span>
                        </div>
                        <input type="password" name="password" formControlName="password" required class="form-control" placeholder="{{'staff-login.password' | translate}}" [ngClass]="{'is-invalid': checkValidation('password').errors}">

                        <ng-container *ngIf="checkValidation('password').errors">
                            <ng-container *ngIf="checkValidation('password').required">
                                <span class="invalid-feedback">{{'admin-login.password is required' | translate}}</span>
                            </ng-container>
                        </ng-container>
                        <!-- <ng-container *ngIf="checkValidation('password').minlengthValidate">
                            <span class="invalid-feedback">Password must be at least 4 characters.</span>
                        </ng-container> -->

                    </div>

                    <!-- <div class="form-group text-left mt-2">
                        <div class="checkbox checkbox-primary d-inline">
                            <input type="checkbox" name="checkbox-p-1" id="checkbox-p-1" checked="">
                            <label for="checkbox-p-1" class="cr">Save credentials</label>
                        </div>
                    </div> -->

                    <button class="btn btn-block btn-primary mb-5">{{'admin-login.signin' | translate}}</button>
                </form>
            </div>
        </div>
    </div>
</div>