<section id="add_function">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'Add_Function.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/master/list-function" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Add_Function.Function' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Add_Function.Add_Function' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/list-function" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_function_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <app-card cardTitle="{{ 'Add_Function.Add Function Form' | translate }}" [options]="false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('function_name').errors}">
                                <label>{{ 'Add_Function.Function_Name' | translate }}</label>
                                <input type="text" name="function_name" formControlName="function_name" class="form-control form-control-md" placeholder="{{ 'Add_Function.Enter_Function_Name' | translate }}" [ngClass]="{'is-invalid': checkValidation('function_name').errors}">

                                <ng-container *ngIf="checkValidation('function_name').errors">
                                    <ng-container *ngIf="checkValidation('function_name').required">
                                        <span class="invalid-feedback">{{ 'Add_Function.Please provide function Name' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>