<section id="view_clients">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0
                    rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white;
                        border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'View_Clients.Dashboard' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/user/list-tourism-company" style="cursor:
                            pointer;"><a
                                class="breadcrumb-font-style">{{ 'view_tourism_company.tourism company' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'view_tourism_company.view tourism company' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <!-- <div class="col-sm-2">
                <button type="back" style="width: inherit;" class="btn btn-lg
                    btn-primary" routerLink="/user/list-tourism-company">{{ 'View_Clients.Button_Back_To_List' | translate }}</button>
            </div> -->
            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/user/list-tourism-company" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>



    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tbody>


                                        <tr>
                                            <!-- Tourism Company Name -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'view_tourism_company.tourism company name' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.name}}
                                            </td>
                                            <!-- Phone Number -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.Phone' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.phone}}
                                            </td>
                                        </tr>

                                        <!-- Email -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.Email' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.email}}
                                            </td>

                                            <!-- Region Name -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.Region_Name' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.region_name}}
                                            </td>
                                        </tr>

                                        <!-- City Name -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.City_Name' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.city_name}}
                                            </td>

                                            <!-- Country Name -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.Country_Name' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.country_name}}
                                            </td>
                                        </tr>

                                        <!-- Fax -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.Fax_Number' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.fax_number}}
                                            </td>

                                            <!-- website -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.Website' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.website}}
                                            </td>
                                        </tr>

                                        <!-- IF -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.IF' | translate }} :
                                            </th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.IF}}
                                            </td>

                                            <!-- ICE -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.ICE' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.ICE}}
                                            </td>
                                        </tr>

                                        <!-- CP -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.CP' | translate }} :
                                            </th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.CP}}
                                            </td>

                                            <!-- RC -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.RC' | translate }} :
                                            </th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.RC}}
                                            </td>
                                        </tr>

                                        <!-- CNSS -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.CNSS' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.CNSS}}
                                            </td>

                                            <!-- director_email -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.director_email' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.director_email}}
                                            </td>
                                        </tr>

                                        <!-- director_name -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.director_name' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.director_name}}
                                            </td>

                                            <!-- director_phone_number -->
                                            <th width="25%" style="font-size: 18px;">
                                                {{ 'View_Clients.director_phone_number' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{company?.director_phone_number}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</section>