<section id="list_claim_circuit">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Claim_Circuit.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/manage-claim/list-claim-circuit" style="cursor: pointer;"><a class="breadcrumb-font-style">claim-circuit</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Claim_Circuit.Claim_Circuit' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-claim/add-claim-circuit" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="Filter Section" [options]="false">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{ 'List_Claim_Circuit.Driver' | translate }}</label>
                            <select class="form-control form-control-md" name="claim_user"  [(ngModel)]="driver_id">
                                <option value="">{{ 'List_Claim_Circuit.Select_Driver' | translate }}</option>
                                <option [value]="claim_user.id" *ngFor="let claim_user of all_claim_users">{{claim_user.name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{ 'List_Claim_Circuit.Reclamination_Type' | translate }}</label>
                            <select class="form-control form-control-md" name="reclamination_type"  [(ngModel)]="claim_id">
                                <option value="">{{ 'List_Claim_Circuit.Select_Reclamination_Type' | translate }}</option>
                                <option [value]="claim_type.claim_id" *ngFor="let claim_type of claim_types">{{claim_type.type_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{ 'List_Claim_Circuit.Claim_Priority' | translate }}</label>
                            <select class="form-control form-control-md" name="claim_priority"  [(ngModel)]="priority_id">
                                <option value="">{{ 'List_Claim_Circuit.Select_Claim_Priority' | translate }}</option>
                                <!-- <option [value]="priority.id" *ngFor="let priority of priorityArr">{{priority.name}}</option> -->
                                <option value="1" data-icon="feather icon-settings"><span>Low</span></option>
                                <option value="2" data-icon="feather icon-settings"><span>Medium</span></option>
                                <option value="3" data-icon="feather icon-settings"><span>High</span></option>
                            </select>
                        </div> 
                    </div>

                </div>

                <!-- Button Section -->
                <div class="row">
                    <div class="col-sm-12" style="text-align: end;">
                        <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                        <button type="submit" class="btn btn-danger" (click)="cancelAction()" tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Claim_Circuit.ID' | translate }}</th>
                                <th width="25%">{{ 'List_Claim_Circuit.Circuit' | translate }}</th>
                                <th width="15%">{{ 'List_Claim_Circuit.Driver' | translate }}</th>
                                <th width="25%">{{ 'List_Claim_Circuit.Reclamination_Type' | translate }}</th>
                                <th width="15%">{{ 'List_Claim_Circuit.Claim_Priority' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Claim_Circuit.Status' | translate }}</th> -->
                                <th width="10%">{{ 'List_Claim_Circuit.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="claim_circuit_list.length !== 0; else emptyClaimCircuit">
                                <tr *ngFor="let item of claim_circuit_list;let i=index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.refrence}}</td>
                                    <td>{{item.driver_name}}</td>
                                    <td>{{item.claim_type}}</td>
                                    <td>{{item.priority}}</td>
                                    <!-- <td class="status">
                                        <div class="form-group" style="text-align: center; margin-bottom: 0px;">
                                            <div class="switch switch-primary d-inline">
                                                <input type="checkbox" id="{{item.complain_id}}" [checked]="item.status == '1' ? true : false" (change)="statusChange(i, item.complain_id, $event)">
                                                <label for="{{item.complain_id}}" class="cr"></label>
                                            </div>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" [routerLink]="['/manage-claim/edit-claim-circuit', item.complain_id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(item.complain_id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            
                            
                            <ng-template #emptyClaimCircuit>
                                <tr>
                                    <td colspan="6" class="empty-row" style="text-align: center;">{{ 'List_Claim_Circuit.No Claim Circuit Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_Claim_Circuit.ID' | translate }}</th>
                                <th width="25%">{{ 'List_Claim_Circuit.Circuit' | translate }}</th>
                                <th width="15%">{{ 'List_Claim_Circuit.Driver' | translate }}</th>
                                <th width="25%">{{ 'List_Claim_Circuit.Reclamination_Type' | translate }}</th>
                                <th width="15%">{{ 'List_Claim_Circuit.Claim_Priority' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Claim_Circuit.Status' | translate }}</th> -->
                                <th width="10%">{{ 'List_Claim_Circuit.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>