<section id="list_event_circuit">
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;"> 
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Event_Circuit.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Event_Circuit.Event Circuit' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/events/add-event-circuit" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="{{'List_Event_Circuit.Filter Section' | translate}}" [options]="false">
                <div class="row">
                    <!-- Circuit -->
                    <div class="col-md-3">
                        <div class="form-group" >
                            <label>{{ 'List_Event_Circuit.Circuit' | translate }}</label>
                            <select class="form-control form-control-md" name="circuit" [(ngModel)]="circuit">
                                <option value="">{{ 'List_Event_Circuit.select circuit' | translate }}</option>
                                <option [value]="circuit.circuit_id" *ngFor="let circuit of circuits">
                                    {{circuit.refrence}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Event Circuit -->
                    <div class="col-md-3">
                        <div class="form-group" >
                            <label>{{ 'List_Event_Circuit.Event_Circuit' | translate }}</label>
                            <select class="form-control form-control-md" name="event circuit" [(ngModel)]="event_circuit">
                                <option value="">{{ 'List_Event_Circuit.select event circuit' | translate }}</option>
                                <option [value]="event_circuit.event_id" *ngFor="let event_circuit of event_circuits">
                                    {{event_circuit.designation}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- From Date -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="date">{{ 'List_Event_Circuit.from' | translate }}</label>
                            <input type="date"   class="form-control form-control-md" name="circuit_date_of" [(ngModel)]="from_date" />
                        </div>
                    </div>
                    <!-- To Date -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="date">{{ 'List_Event_Circuit.at' | translate }}</label>
                            <input type="date"  class="form-control form-control-md" name="at" [(ngModel)]="to_date" />
                        </div>
                    </div>
                </div>
                <!-- Button Section -->
                <div class="row">
                <div class="col-sm-12" style="text-align: end;">
                    <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                    <button type="submit" class="btn btn-danger" (click)="cancelAction()" tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                </div>
                <!-- <div class="col-sm-1" style="text-align: end;">
                    <button type="submit" class="btn btn-secondary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                </div> -->

            </div>
            </app-card>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Event_Circuit.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Event_Circuit.Circuit' | translate }}</th>
                                <th width="20%">{{ 'List_Event_Circuit.Event_Circuit' | translate }}</th>
                                <th width="10%">{{ 'List_Event_Circuit.Date' | translate }}</th>
                                <th width="10%">{{ 'List_Event_Circuit.Hour' | translate }}</th>
                                <th width="15%">{{ 'List_Event_Circuit.Creation Date' | translate }}</th>
                                <th width="15%">{{ 'List_Event_Circuit.Creation Time' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Event_Circuit.Action' | translate }}</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="event_Circuit_List.length !== 0; else emptyEventCircuit">
                                <tr *ngFor="let item of event_Circuit_List;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.refrence}}</td>
                                    <td>{{item.event_code}}</td>
                                    <td>{{item.date}}</td>
                                    <td>{{item.hour}}</td>
                                    <td>{{item.genration_date}}</td>
                                    <td>{{item.genration_time}}</td>
                                    <!-- <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" [routerLink]="['/events/edit-event-circuit', item.event_id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(item.event_id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                        </div>
                                    </td> -->
                                </tr>
                            </ng-container>
                            
                            
                            <ng-template #emptyEventCircuit>
                                <tr>
                                    <td colspan="8" class="empty-row" style="text-align: center;">{{ 'List_Event_Circuit.No Event Circuit Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <!-- <td style="display: none;"></td> -->
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_Event_Circuit.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Event_Circuit.Circuit' | translate }}</th>
                                <th width="20%">{{ 'List_Event_Circuit.Event_Circuit' | translate }}</th>
                                <th width="10%">{{ 'List_Event_Circuit.Date' | translate }}</th>
                                <th width="10%">{{ 'List_Event_Circuit.Hour' | translate }}</th>
                                <th width="15%">{{ 'List_Event_Circuit.Creation Date' | translate }}</th>
                                <th width="15%">{{ 'List_Event_Circuit.Creation Time' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Event_Circuit.Action' | translate }}</th> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>