<section id="view_staff_members">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0
                    rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white;
                        border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'View_Staff_Members.Dashboard' | translate }}</a></li>
                        <li class="breadcrumb-item" routerLink="/manage-staff/list-staff-members" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'View_Staff_Members.Staff_Members' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'View_Staff_Members.View_Staff_Members' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-staff/list-staff-members" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <tbody>
                                        <!-- Name -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.First_Name' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                                {{user_details?.name}}
                                            </td>

                                        <!-- Phone Number -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Phone' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.phone}}
                                            </td>
                                        </tr>

                                        <!-- City Name -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.City_Name' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.city_name}}
                                            </td>

                                        <!-- Email -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Email' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.email}}
                                            </td>
                                        </tr>

                                        <!-- Country Name -->
                                        <!-- <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Country_Name' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.city_name}}
                                            </td>
                                        </tr> -->

                                        <!-- Marital status -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Marital_Status' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.marital_status}}
                                            </td>

                                        <!-- Permit Type -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Permit_Type' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.permit_name}}
                                            </td>
                                        </tr>

                                        <!-- Peermit Number -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Permit_Number' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.permit_number}}
                                            </td>

                                        <!-- Permit Validate Date -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Permit_Validate_Date' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.permit_valid_date}}
                                            </td>
                                        </tr>

                                        <!-- CLN -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.CIN' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.CIN}}
                                            </td>

                                        <!-- Date of Birth -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Date_of_Birth' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.date_of_birth}}
                                            </td>
                                        </tr>

                                        <!-- Joining Date -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Joining_Date' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.joining_date}}
                                            </td>

                                        <!-- Releasing Date -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Releasing_Date' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.releasing_date}}
                                            </td>
                                        </tr> 

                                        <!-- Registration Number -->
                                        <tr>
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Registration_Number' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.registration}}
                                            </td>

                                        <!-- Contract -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Staff_Members.Contract' | translate }}</th>
                                            <td width="25%" style="font-weight: bold; font-size: 18px;">
                                            {{user_details?.contract_type}}
                                            </td>
                                        </tr>   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>                                    

</section>