<section id="List_Receipt_Circuit">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>
                                {{ 'List_Receipt_Circuit.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'List_Receipt_Circuit.Receipt' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/receipt-circuit/add-receipt" data-toggle="tooltip" data-placement="bottom"
                    title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <!-- <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="Filter Section" [options]="false">
                <div class="row">
                    Circuit
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{ 'List_Event_Circuit.Circuit' | translate }}</label>
                            <select class="form-control form-control-md" name="circuit" [(ngModel)]="circuit">
                                <option value="">{{ 'List_Event_Circuit.select circuit' | translate }}</option>
                                <option [value]="circuit.circuit_id" *ngFor="let circuit of circuits">
                                    {{circuit.refrence}}</option>
                            </select>
                        </div>
                    </div>
                    Claim User (Driver)
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>{{ 'List_Claim_Circuit.Driver' | translate }}</label>
                            <select class="form-control form-control-md" name="claim_user" [(ngModel)]="driver_id">
                                <option value="">{{ 'List_Claim_Circuit.Select_Driver' | translate }}</option>
                                <option [value]="claim_user.id" *ngFor="let claim_user of all_claim_users">
                                    {{claim_user.name}}</option>
                            </select>
                        </div>
                    </div>
                    Button Section
                    <div class="col-md-4" style="text-align: end; margin-top: 30px;">
                        <button type="submit" class="btn btn-primary" (click)="filterAction()"
                            style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom"
                            title="Filter"><i class="feather icon-filter"></i></button>
                        <button type="submit" class="btn btn-danger" (click)="cancelAction()"
                            tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom"
                            title="Cancel"><i class="feather icon-x"></i></button>
                    </div>
                </div>
            </app-card>
        </div>
    </div> -->

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger"
                        class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Receipt_Circuit.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Circuit' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Driver' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Operation' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Amount' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Receipt_Circuit.Status' | translate }}</th> -->
                                <th width="10%">{{ 'List_Receipt_Circuit.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="receipt_circuit_list.length !== 0; else emptyReceipt">
                                <tr *ngFor="let item of receipt_circuit_list;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.circuit}}</td>
                                    <td>{{item.driver}}</td>
                                    <td>{{item.operation_name}}</td>
                                    <!-- <td>{{item.opration_date}}</td> -->
                                    <td>{{item.amount}}</td>
                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action"
                                                [routerLink]="['/receipt-circuit/edit-receipt', item.id]"
                                                title="Edit"><i class="feather icon-edit"
                                                    style="color: #009DA0 !important;"></i></a>
                                            <!-- <a class="ng2-smart-action" style="cursor: pointer;"
                                                (click)="deleteAction(item.id)" title="Delete"><i
                                                    class="feather icon-trash"
                                                    style="color: #FF586B !important;"></i></a> -->
                                            <a class="ng2-smart-action" ngClass="{{ item.is_cash == '1' ? 'a-disabled' : ''}}" (click)="shareAction(item.id)" 
                                                title="Add receipt to cash desk"><i class="feather icon-navigation" 
                                                style="color: #a568ff !important; font-size: 20px; cursor: pointer;"></i></a>          
                                        </div>
                                    </td>
                                    
                                </tr>
                            </ng-container>

                            <ng-template #emptyReceipt>
                                <tr>
                                    <td colspan="6" class="empty-row" style="text-align: center;">
                                        {{ 'List_Receipt_Circuit.No Receipt Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_Receipt_Circuit.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Circuit' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Driver' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Operation' | translate }}</th>
                                <th width="20%">{{ 'List_Receipt_Circuit.Amount' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Receipt_Circuit.Status' | translate }}</th> -->
                                <th width="10%">{{ 'List_Receipt_Circuit.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>