<section id="edit_invoice">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'add_invoice.dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-invoice" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'edit_invoice.invoice' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'edit_invoice.edit invoice' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-invoice"
                    data-toggle="tooltip" data-placement="bottom" title="Back"><i
                        class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <form [formGroup]="edit_invoiced_frm" enctype="multipart/form-data">
        <!-- Table Data -->
        <div class="row">
            <div class="col-sm-12">
                <app-card cardClass="card-datatable" [options]="false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table">
                                        <tbody>
                                            <!-- Invoice Number -->
                                            <tr>
                                                <th width="10%" style="font-size: 18px;">
                                                    {{ 'view_invoice.Invoice' | translate }} :</th>
                                                <td style="font-weight: bold; font-size: 18px;">
                                                    {{invoiced_circuit?.invoice?.inv_identity_num}}
                                                </td>
                                            </tr>
                                            <!-- Client Name -->
                                            <tr>
                                                <th width="10%" style="border-bottom: 1px solid #e2e5e8; font-size: 18px;">
                                                    {{ 'view_invoice.Client Name' | translate }} :</th>
                                                <td
                                                    style="border-bottom: 1px solid #e2e5e8; font-weight: bold; font-size: 18px;">
                                                    {{invoiced_circuit?.invoice?.client_name}}
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="10%">{{ 'list_invoice.select' | translate }}</th>
                                    <th width="25%">{{ 'list_invoice.circuit' | translate }}</th>
                                    <th width="25%">{{ 'list_invoice.client' | translate }}</th>
                                    <th width="10%">{{ 'list_invoice.departure date' | translate }}</th>
                                    <th width="10%">{{ 'list_invoice.vehicles' | translate }}</th>
                                    <th width="10">{{ 'list_invoice.amount' | translate }}</th>
                                    <!-- <th width="10%">{{ 'list_invoice.action' | translate }}</th> -->
                                </tr>
                            </thead>
                            <!-- <tbody>
                                <ng-container *ngIf="invoiced_circuit; else emptyInvoice">
                                    <tr *ngFor="let item of invoiced_circuit.circuit;let i=index">
                                        <td>
                                            <div class="form-check">
                                                <input [checked]="item.is_invoiced == 1 ? true : false"
                                                    class="form-check-input" type="checkbox" id="gridCheck">
                                            </div>
                                        </td>
                                        <td>{{item.refrence}}</td>
                                        <td>{{item.client_name}}</td>
                                        <td>{{item.departure_date}}</td>
                                        <td>{{item.vehicle_name}}</td>
                                        <td>{{item.gross_amount}}</td>
                                    </tr>
                                </ng-container>
                                <ng-template #emptyInvoice>
                                    <tr>
                                        <td colspan="6" class="empty-row" style="text-align:center">
                                            {{'list_invoice.no invoice list available' | translate}}</td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                        <td style="display: none;"></td>
                                    </tr>
                                </ng-template>

                            </tbody> -->
                            <tbody formArrayName="invoice_details">
                                <tr *ngFor="let invoice of edit_invoiced_frm['controls'].invoice_details['controls']; let i = index;"
                                    [formGroupName]="i">
                                    <!-- <td>
                                        {{i+1}}
                                    </td> -->
                                    <td>
                                        <div class="form-check">
                                            <input disabled [checked]="invoice.controls.is_invoiced.value == 1 ? true : false"
                                                class="form-check-input" type="checkbox" id="gridCheck">
                                        </div>
                                    </td>
                                    <!-- 1 -->
                                    <td>
                                        <input formControlName="refrence" class="form-control mobile-responsive laptop-responsive" type="text" />
                                    </td>
                                    <!-- 2 -->
                                    <td>
                                        <input formControlName="client_name" class="form-control mobile-responsive laptop-responsive" type="text" />
                                    </td>
                                    <!-- 3 -->
                                    <td>
                                        <input formControlName="dept_date" class="form-control mobile-responsive laptop-responsive" type="text" />
                                    </td>
                                    <!-- 4 -->
                                    <td>
                                        <input formControlName="vehicle" class="form-control mobile-responsive laptop-responsive" type="text" />
                                    </td>
                                    <!-- 5 -->
                                    <td>
                                        <input formControlName="flat_rate" [ngClass]="{'is-invalid': (invoice.controls.flat_rate.touched || 
                                        invoice.controls.flat_rate.dirty) && 
                                        !invoice.controls.flat_rate.valid }"
                                            placeholder="{{'edit_invoice.enter amount' | translate}}"
                                            class="form-control mobile-responsive laptop-responsive" type="text" />
                                        <ng-container *ngIf="(invoice.controls.flat_rate.touched || 
                                        invoice.controls.flat_rate.dirty) && 
                                        !invoice.controls.flat_rate.valid">
                                            <ng-container *ngIf="invoice.controls.flat_rate.errors?.required">
                                                <span
                                                    class="invalid-feedback">{{ 'edit_invoice.amount is required' | translate }}</span>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="invoice.controls.flat_rate.errors?.pattern">
                                            <span
                                                class="invalid-feedback">{{ 'edit_invoice.Please provide Numeric only' | translate }}</span>
                                        </ng-container>
                                    </td>
        
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th width="10%">{{ 'list_invoice.select' | translate }}</th>
                                    <th width="25%">{{ 'list_invoice.circuit' | translate }}</th>
                                    <th width="25%">{{ 'list_invoice.client' | translate }}</th>
                                    <th width="10%">{{ 'list_invoice.departure date' | translate }}</th>
                                    <th width="10%">{{ 'list_invoice.vehicles' | translate }}</th>
                                    <th width="10">{{ 'list_invoice.amount' | translate }}</th>
                                    <!-- <th width="10%">{{ 'list_invoice.action' | translate }}</th> -->
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" (click)="save()" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>