<section id="vehicle_provider_list">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Vehicle_Provider.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/master/list-vehicle-provider" style="cursor: pointer;"><a class="breadcrumb-font-style">Vehicle Provider</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Vehicle_Provider.List_Vehicle_Provider' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/add-vehicle-provider" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="15%">{{ 'List_Vehicle_Provider.ID' | translate }}</th>
                                <th width="25%">{{ 'List_Vehicle_Provider.Name' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle_Provider.Email' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle_Provider.Mobile' | translate }}</th>
                                <th width="10%">{{ 'List_Vehicle_Provider.Status' | translate }}</th>
                                <th width="10%">{{ 'List_Vehicle_Provider.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="vehicle_providers_list.length !== 0; else emptyVehicleProvider">
                                <tr *ngFor="let item of vehicle_providers_list;let i=index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.mobile}}</td>
                                    <td class="status">
                                        <div class="form-group" style="text-align: center; margin-bottom: 0px;">
                                            <div class="switch switch-primary d-inline">
                                                <input type="checkbox" id="{{item.id}}" [checked]="item.status == '1' ? true : false"  (change)="statusChange(i, item.id, $event)">
                                                <label for="{{item.id}}" class="cr"></label>
                                            </div>
                                            <!-- <label>Checked</label> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" ngClass="{{item.status == '0' ? 'a-disabled' : ''}}" [routerLink]="['/master/edit-vehicle-provider', item.id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a class="ng2-smart-action" [routerLink]="['/master/view-vehicle-provider', item.id]" title="View"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                            <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(item.id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>

                            <ng-template #emptyVehicleProvider>
                                <tr>
                                    <td colspan="6" class="empty-row" style="text-align: center;">{{ 'List_Vehicle_Provider.No Vehicle Provider Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="15%">{{ 'List_Vehicle_Provider.ID' | translate }}</th>
                                <th width="25%">{{ 'List_Vehicle_Provider.Name' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle_Provider.Email' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle_Provider.Mobile' | translate }}</th>
                                <th width="10%">{{ 'List_Vehicle_Provider.Status' | translate }}</th>
                                <th width="10%">{{ 'List_Vehicle_Provider.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>