.actions {
    display: flex;
    width: 100%;
    height: 100%;
    .ng2-smart-action:not(:last-child) {
        border-right: 1px solid #cdd5dc;
    }
    .ng2-smart-action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 1.5rem !important;
        color: #a4abb3;
        i.fa {
            font-size: 18px !important;
        }
        &:hover {
            text-decoration: none;
            // color: #a568ff;
        }
    }
}

.breadcrumb-font-style {
    color: #97a7c1;
    font-weight: bold;
    font-size: initial;
     :hover {
        color: #323258;
        font-weight: bold;
        font-size: initial;
    }
}

.breadcrumb-active {
    color: #323258;
    font-weight: bold;
    font-size: 15px;
}

.status {
    padding: 0px !important;
}

// table.dataTable tbody td {
//     padding: 0.5rem 0.75rem !important;
// }

.a-disabled {
    pointer-events: none;
    cursor: default;
}