<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="assets/images/logo_300x96.png" alt="" class="img-fluid mb-4">
                        <h4 class="mb-3 f-w-400">{{'admin-login.admin signin' | translate}}</h4>
                        <form [formGroup]="admin_login_Form" (ngSubmit)="admin_login()">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend" [ngClass]="{'has-error': checkValidation('email').errors}">
                                    <span class="input-group-text"><i class="feather icon-mail"></i></span>
                                </div>
                                <input type="email" name="email" formControlName="email" required class="form-control" placeholder="{{'admin-login.email' | translate}}" [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                <ng-container *ngIf="checkValidation('email').errors">
                                    <ng-container *ngIf="checkValidation('email').required">
                                        <span class="invalid-feedback" style="text-align: left;">{{'admin-login.email is required' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('email').patternValidate">
                                    <span class="invalid-feedback" style="text-align: left;">{{'admin-login.please provide proper email only' | translate}}</span>
                                </ng-container>

                            </div>

                            <div class="input-group mb-4">
                                <div class="input-group-prepend" [ngClass]="{'has-error': checkValidation('password').errors}">
                                    <span class="input-group-text"><i class="feather icon-lock"></i></span>
                                </div>
                                <input type="password" name="password" formControlName="password" required class="form-control" placeholder="{{'admin-login.password' | translate}}" [ngClass]="{'is-invalid': checkValidation('password').errors}">

                                <ng-container *ngIf="checkValidation('password').errors">
                                    <ng-container *ngIf="checkValidation('password').required">
                                        <span class="invalid-feedback" style="text-align: left;">{{'admin-login.password is required' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <!-- <ng-container *ngIf="checkValidation('password').minlengthValidate">
									<span class="invalid-feedback">Password must be at least 4 characters.</span>
								</ng-container> -->

                            </div>
                            <button class="btn btn-block btn-primary mb-4">{{'admin-login.signin' | translate}}</button>
                        </form>
                        <!-- Reset Password -->
                        <div class="text-center">
                            <p class="mt-2 text-muted">{{'CT-login.forgot password' | translate}} <a [routerLink]="['/auth/admin-reset-password']" class="f-w-400">{{'CT-login.reset' | translate}}</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>