.breadcrumb-font-style {
    color: #97a7c1;
    font-weight: bold;
    font-size: initial;
     :hover {
        color: #323258;
        font-weight: bold;
        font-size: initial;
    }
}

.breadcrumb-active {
    color: #323258;
    font-weight: bold;
    font-size: 15px;
}

.status {
    padding: 0px !important;
}

// table.dataTable tbody td {
//     padding: 0.5rem 0.75rem !important;
// }