<section id="list_statement">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Statement.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/manage-statement/list-statement" style="cursor: pointer;"><a class="breadcrumb-font-style">Statement</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Statement.Statement' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/dashboard/analytics" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <form [formGroup]="filter_statement_frm" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'List_Statement.Statements' | translate }}" [options]="false">
                    <div class="row">
                        <!-- Client Name -->
                        <div class="col-md-4">
                            <div class="form-group" >
                                <label>{{ 'List_Statement.client' | translate }}</label>
                                <select class="form-control form-control-md" name="client" formControlName="client" [ngClass]="{'is-invalid': checkValidation('client').errors}">
									<option value="">{{ 'List_Statement.select client' | translate }}</option>
									<option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
                                </select>
                                
                                <ng-container *ngIf="checkValidation('client').errors">
                                    <ng-container *ngIf="checkValidation('client').required">
                                        <span class="invalid-feedback">{{ 'List_Statement.Please Select Client Name' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- From Date -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date">{{ 'List_Statement.From' | translate }}</label>
                                <input type="date" formControlName="date_from"  class="form-control form-control-md" name="date_from" [ngClass]="{'is-invalid': checkValidation('date_from').errors}"/>
                                <ng-container *ngIf="checkValidation('date_from').errors">
                                    <ng-container *ngIf="checkValidation('date_from').required">
                                        <span class="invalid-feedback">{{ 'List_Statement.Please provide From Date' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- To Date -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date">{{ 'List_Statement.To' | translate }}</label>
                                <input type="date" formControlName="date_to" class="form-control form-control-md" name="date_to" [ngClass]="{'is-invalid': checkValidation('date_to').errors}"/>
                                <ng-container *ngIf="checkValidation('date_to').errors">
                                    <ng-container *ngIf="checkValidation('date_to').required">
                                        <span class="invalid-feedback">{{ 'List_Statement.Please provide To Date' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" (click)="downloadAction()" class="btn btn-primary" style="width: auto;" data-toggle="tooltip" data-placement="bottom" title="Download Statement"><i class="feather icon-download"></i></button>
                            <!-- <button type="submit" (click)="cancelAction(clear())" class="btn btn-danger" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button> -->
                        </div>
                    </div>

                </app-card>
            </div>
        </div>
    </form>
</section>