<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <h3 class="d-inline-block mb-0">Customers</h3>
                    </div>
                    <div class="col-md-4 text-right">
                        <div class="btn-cust">
                            <app-ui-modal #modalDefault>
                                <div class="app-modal-header">
                                    <h5 class="modal-title"><i class="feather icon-user mr-1"></i>Add Customer</h5>
                                    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="modalDefault.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                                </div>
                                <div class="app-modal-body">
                                    <div class="text-left">
                                        <small id="emailHelp" class="form-text text-muted mb-2 mt-0">We'll never share your email with anyone else.</small>
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="email" class="form-control" id="fname" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="email" class="form-control" id="lname" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input type="email" class="form-control" id="emial" aria-describedby="emailHelp" placeholder="Enter email">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" id="passwd" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <label>Confirm Password</label>
                                            <input type="password" class="form-control" id="cnpasswd" placeholder="Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="app-modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalDefault.hide()">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </app-ui-modal>
                            <button type="button" class="btn btn-primary m-0" data-toggle="modal" data-target="#exampleModal" (click)="modalDefault.show()">
                New Customer
              </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-none">
                <div class="card-body shadow border-0">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="border-top-0">Name</th>
                                    <th class="border-top-0">Email</th>
                                    <th class="border-top-0">Account</th>
                                    <th class="border-top-0">Last Login</th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mark Jason</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Alice Nicol</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Harry Cook</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tom Hannry</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Martin Frank</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Endrew Khan</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Chritina Methewv</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jakson Pit</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nikolas Jons</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nik Cage</td>
                                    <td><a href="javascript:">mark@mark.com</a></td>
                                    <td>N/A</td>
                                    <td>January 01,2019 at 03:35 PM</td>
                                    <td>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-edit mr-1"></i></a>
                                        <a href="javascript:" class="text-muted"><i class="feather icon-trash-2"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="pagination-block text-center">
                            <nav aria-label="Page navigation example" class="d-inline-block">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="javascript:">Previous</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:">1</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:">2</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:">3</a></li>
                                    <li class="page-item"><a class="page-link" href="javascript:">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>