<section id="vehicle_list">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Vehicle.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/manage-vehicle/list-vehicle" style="cursor: pointer;"><a class="breadcrumb-font-style">Vehicle</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Vehicle.List_Vehicle' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-vehicle/add-vehicle" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <form enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="Filter Section" [options]="false">
                    <div class="row">
                        <!-- <div class="col-md-3">
                            <div class="form-group">
                                <label>{{ 'List_Vehicle.Vehicle_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="vehicle_name">
									<option value="">{{ 'List_Vehicle.Select_Vehicle_Name' | translate }}</option>
									<option value="1">Q3</option>
									<option value="2">Blazer</option>
									<option value="3">Standard Herald</option>
									<option value="4">Velar</option>
									<option value="5">E-Class</option>
								</select>
                            </div>
                        </div> -->

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'List_Vehicle.Vehicle_Category' | translate }}</label>
                                <!-- Pass [(ngModel)]="vehicle_category" for the filter -->
                                <select class="form-control form-control-md" name="vehicle_category" [(ngModel)]="vehicle_category">
									<option value="">{{ 'List_Vehicle.Select_Vehicle_Category' | translate }}</option>
									<option [value]="vehicle_category.id" *ngFor="let vehicle_category of vehicle_categorys">
                                        {{vehicle_category.category_name}}</option>
								</select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>{{ 'List_Vehicle.Brand_Name' | translate }}</label>
                                <!-- Pass [(ngModel)]="vehicle_brand" for the filter -->
                                <select class="form-control form-control-md" name="Brand_Name"  [(ngModel)]="vehicle_brand">
									<option value="">{{ 'List_Vehicle.Select_Brand_Name' | translate }}</option>
									<option [value]="brand.id" *ngFor="let brand of brands">{{brand.brand_name}}
								</select>
                            </div>
                        </div>

                        <div class="col-md-4">

                            <div class="form-group">
                                <label>{{ 'List_Vehicle.Vehicle_Carrier' | translate }}</label>
                                <!-- Pass [(ngModel)]="vehicle_carrier" for the filter -->
                                <select class="form-control form-control-md" name="Brand_Name"  [(ngModel)]="vehicle_carrier">
									<option value="">{{ 'List_Vehicle.Select_Vehicle_Carrier' | translate }}</option>
									<option [value]="vehicle_carrier.id" *ngFor="let vehicle_carrier of vehicle_carriers">{{vehicle_carrier.name}}
								</select>
                            </div>

                            <!-- <div class="form-group">
                                <label>{{ 'List_Vehicle.Capacity' | translate }}</label>
                                <input type="text" name="capacity" [(ngModel)]="capacity" class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.Enter_Capacity' | translate }}">
                            </div> -->
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                            <button type="submit" class="btn btn-danger" (click)="cancelAction()" tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Vehicle.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle.Vehicle_Name' | translate }}</th>
                                <th width="25%">{{ 'List_Vehicle.Vehicle_Category' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle.Brand_Name' | translate }}</th>
                                <th width="15%">{{ 'List_Vehicle.Provider_Name' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Vehicle.Status' | translate }}</th> -->
                                <th width="10%">{{ 'List_Vehicle.Action' | translate }}</th>
                            </tr> 
                        </thead>
                        <tbody>
                            <ng-container *ngIf="vehicleList.length !== 0; else emptyVehilce">
                                <tr *ngFor="let item of vehicleList;let i=index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.category}}</td>
                                    <td>{{item.brand_name}}</td>
                                    <td>{{item.provider_name}}</td>
                                    <!-- <td class="status">
                                        <div class="form-group" style="text-align: center; margin-bottom: 0px;">
                                            <div class="switch switch-primary d-inline">
                                                <input type="checkbox" id="switch-p-1" checked>
                                                <label for="switch-p-1" style="margin-bottom: 0rem !important;" class="cr"></label>
                                            </div>
                                        </div>
                                    </td> -->
                                    <td>
                                        <div class="actions">
                                            <a data-toggle="tooltip" data-placement="bottom" title="Edit Data" class="ng2-smart-action" [routerLink]="['/manage-vehicle/edit-vehicle', item.id]"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a data-toggle="tooltip" data-placement="bottom" title="View Data" class="ng2-smart-action" [routerLink]="['/manage-vehicle/view-vehicle', item.id]" title="View"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                            <a data-toggle="tooltip" data-placement="bottom" title="Delete Data" class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(item.id)"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            

                            <ng-template #emptyVehilce>
                                <tr>
                                    <td colspan="6" class="empty-row" style="text-align: center;">{{ 'List_Vehicle.No Vehicle Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr> 
                                <th width="10%">{{ 'List_Vehicle.ID' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle.Vehicle_Name' | translate }}</th>
                                <th width="25%">{{ 'List_Vehicle.Vehicle_Category' | translate }}</th>
                                <th width="20%">{{ 'List_Vehicle.Brand_Name' | translate }}</th>
                                <th width="15%">{{ 'List_Vehicle.Provider_Name' | translate }}</th>
                                <!-- <th width="10%">{{ 'List_Vehicle.Status' | translate }}</th> -->
                                <th width="10%">{{ 'List_Vehicle.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>