<section id="add_features">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Features.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/master/list-features" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Features.Features' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Features.Add_Features' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/list-features"
                    data-toggle="tooltip" data-placement="bottom" title="Back"><i
                        class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_features_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <app-card cardTitle="{{ 'Add_Features.Add Features Form' | translate }}" [options]="false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('features').errors}">
                                <label>{{ 'Add_Features.Features_Name' | translate }}</label>
                                <input type="text" name="features" formControlName="features"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Features.Enter_Features' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('features').errors}">

                                <ng-container *ngIf="checkValidation('features').errors">
                                    <ng-container *ngIf="checkValidation('features').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Features.Please provide Features' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Unit -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('unit').errors}">
                                <label>{{ 'Add_Features.Unit' | translate }}</label>
                                <select class="form-control form-control-md" name="unit"
                                    formControlName="unit"
                                    [ngClass]="{'is-invalid': checkValidation('unit').errors}">
                                    <option value="">{{ 'Add_Features.Select_Unit' | translate }}</option>
                                    <option [value]="unit.id" *ngFor="let unit of units">
                                        {{unit.unit}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('unit').errors">
                                    <ng-container *ngIf="checkValidation('unit').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Features.Please Select Unit' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>
                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>