<section id="edit_staff_member_personal_info">

    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Edit_Personal_Info.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/profile-details/view-profile-info" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Personal_Info.Profile Details' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Personal_Info.Edit_Personal_Info' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/profile-details/view-profile-info" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_admin_personal_info_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Personal_Info.Edit Personal Info Form' | translate }}" [options]="false">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('full_name').errors}">
                                <label>{{ 'Edit_Personal_Info.Full_Name' | translate }}</label>
                                <input type="text" name="full_name" formControlName="full_name" class="form-control form-control-md" placeholder="{{ 'Edit_Personal_Info.Enter_Name' | translate }}" [ngClass]="{'is-invalid': checkValidation('full_name').errors}">

                                <ng-container *ngIf="checkValidation('full_name').errors">
                                    <ng-container *ngIf="checkValidation('full_name').required">
                                        <span class="invalid-feedback">{{ 'Edit_Personal_Info.Please provide Full Name' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- City Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('city_name').errors}">
                                <label>{{ 'Edit_Personal_Info.City_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="city_name" formControlName="city_name" [ngClass]="{'is-invalid': checkValidation('city_name').errors}">
									<option value="">{{ 'Edit_Personal_Info.Select_City_Name' | translate }}</option>
									<option [value]="city.city_id" *ngFor="let city of cities">{{city.city_name}}</option>
								</select>

                                <ng-container *ngIf="checkValidation('city_name').errors">
                                    <ng-container *ngIf="checkValidation('city_name').required">
                                        <span class="invalid-feedback">{{ 'Edit_Personal_Info.Please Select City Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Marital Status -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('marital_status').errors}">
                                <label>{{ 'Edit_Personal_Info.marital_status' | translate }}</label>
                                <input type="text" name="marital_status" formControlName="marital_status" class="form-control form-control-md" placeholder="{{ 'Edit_Personal_Info.Enter_Name' | translate }}" [ngClass]="{'is-invalid': checkValidation('marital_status').errors}">

                                <ng-container *ngIf="checkValidation('marital_status').errors">
                                    <ng-container *ngIf="checkValidation('marital_status').required">
                                        <span class="invalid-feedback">{{ 'Edit_Personal_Info.Please provide Marital Status' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('phone').errors}">
                                <label>{{ 'Add_Staff_Members.Phone' | translate }}</label>
                                <input type="text" name="phone" formControlName="phone" class="form-control form-control-md" placeholder="{{ 'Add_Staff_Members.Enter_Phone' | translate }}" [ngClass]="{'is-invalid': checkValidation('phone').errors}">

                                <ng-container *ngIf="checkValidation('phone').errors">
                                    <ng-container *ngIf="checkValidation('phone').required">
                                        <span class="invalid-feedback">{{ 'Add_Staff_Members.Please provide Phone' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('phone').patternValidate">
                                    <span class="invalid-feedback">{{ 'Add_Staff_Members.Please provide valid 10 digit phone number' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('logo').errors}">
                                <label>{{ 'Edit_Personal_Info.company_logo' | translate }}</label>
                                <input type="file" name="logo"  formControlName="logo" class="form-control form-control-md" (change)="onFileChange($event, 'logo')" [ngClass]="{'is-invalid': checkValidation('logo').errors}">
                                
                                <ng-container *ngIf="checkValidation('logo').errors">
                                    <ng-container *ngIf="checkValidation('logo').required"> 
                                        <span class="invalid-feedback">{{ 'Edit_Personal_Info.Please provide Company Logo Image' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-md-1">
                            <img [src]="imageSrc || 'assets/images/profile/profile.png'" height="68px" width="68px">
                        </div>

                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-md-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>