<section id="add_bank_account">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Bank_Account.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-bank-account" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Bank_Account.Bank Accounts' | translate }}</a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Bank_Account.Bank_Account' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/accounts/list-bank-account" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_bank_account_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Add_Bank_Account.Add Bank Account Form' | translate }}" [options]="false">
                    <div class="row">

                        <!-- Bank Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('bank_name').errors}">
                                <label>{{ 'Add_Bank_Account.Bank_Name' | translate }}</label>
                                <input type="text" name="bank_name" formControlName="bank_name"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Bank_Account.Enter_Bank_Name' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('bank_name').errors}">

                                <ng-container *ngIf="checkValidation('bank_name').errors">
                                    <ng-container *ngIf="checkValidation('bank_name').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Bank_Account.Please provide Bank Name' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Account Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('account_number').errors}">
                                <label>{{ 'Add_Bank_Account.Account_Number' | translate }}</label>
                                <input type="text" name="account_number" formControlName="account_number" class="form-control form-control-md" placeholder="{{ 'Add_Bank_Account.Enter_Account_Number' | translate }}" [ngClass]="{'is-invalid': checkValidation('account_number').errors}">
                                <ng-container *ngIf="checkValidation('account_number').errors">
                                    <ng-container *ngIf="checkValidation('account_number').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Bank_Account.Please provide Account Number' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('account_number').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Bank_Account.Please provide Numeric only' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Amount -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('amount').errors}">
                                <label>{{ 'Add_Bank_Account.Amount' | translate }}</label>
                                <input type="text" appOnlynumber name="amount" formControlName="amount"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Bank_Account.Enter_Amount' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('amount').errors}">

                                <ng-container *ngIf="checkValidation('amount').errors">
                                    <ng-container *ngIf="checkValidation('amount').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Bank_Account.Please provide Amount' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('amount').patternValidate">
                                    <span class="invalid-feedback">{{ 'Add_Vehicle.Please provider this format (10.00),(100.00),(1000.00) etc' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Date -->
                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('date').errors}">
                                <label for="date">{{ 'Add_Bank_Account.Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="datepicker form-control form-control-md"
                                    date-format="mm/dd/yyyy" name="date" formControlName="date"
                                    [ngClass]="{'is-invalid': checkValidation('date').errors}" />

                                <ng-container *ngIf="checkValidation('date').errors">
                                    <ng-container *ngIf="checkValidation('date').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Bank_Account.Date is Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div> -->
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"
                                ></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>

