// // Media Query
// @media(min-width:320px) {
//     .btn-primary {
//         width: 115px;
//     }
//     .btn-secondary {
//         width: 115px;
//     }
// }
// @media(min-width:360px) {
//     .btn-primary {
//         width: 135px;
//     }
//     .btn-secondary {
//         width: 135px;
//     }
// }
// @media(min-width:375px) {
//     .btn-primary {
//         width: 143px;
//     }
//     .btn-secondary {
//         width: 143px;
//     }
// }
// @media(min-width:393px) {
//     .btn-primary {
//         width: 152px;
//     }
//     .btn-secondary {
//         width: 152px;
//     }
// }
// @media(min-width:411px) {
//     .btn-primary {
//         width: 161px;
//     }
//     .btn-secondary {
//         width: 161px;
//     }
// }
// @media(min-width: 768px) {
//     .btn-primary {
//         width: 150px;
//     }
//     .btn-secondary {
//         width: 150px;
//     }
// }