<!-- <p>list-event works!</p> -->
<section id="list_event">
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Manage_Event.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Manage_Event.Event' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/add-event" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>



    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Manage_Event.ID' | translate }}</th>
                                <th width="25%">{{ 'List_Manage_Event.Code Even' | translate }}</th>
                                <th width="30%">{{ 'List_Manage_Event.Designation' | translate }}</th>
                                <th width="25%">{{ 'List_Manage_Event.Automatic' | translate }}</th>
                                <th width="10%">{{ 'List_Manage_Event.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="eventList.length !== 0; else emptyEvent">
                                <tr *ngFor="let item of eventList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.event_code}}</td>
                                    <td>{{item.designation}}</td>
                                    <td>{{item.method}}</td>
                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" [routerLink]="['/master/edit-event', item.event_id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(item.event_id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            
                            
                            <ng-template #emptyEvent>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align: center;">{{ 'List_Manage_Event.No Event Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_Manage_Event.ID' | translate }}</th>
                                <th width="25%">{{ 'List_Manage_Event.Code Even' | translate }}</th>
                                <th width="30%">{{ 'List_Manage_Event.Designation' | translate }}</th>
                                <th width="25%">{{ 'List_Manage_Event.Automatic' | translate }}</th>
                                <th width="10%">{{ 'List_Manage_Event.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>