<section id="reset_password">
    <div class="auth-wrapper align-items-stretch aut-bg-img">
        <div class="flex-grow-1">
            <div class="h-100 d-md-flex align-items-center auth-side-img">
                <div class="col-sm-10 auth-content w-auto mobile-responsive-hide">
                    <img src="assets/images/auth/logo_300x96.png" style="height: 70px;" alt="" class="img-fluid">
                    <h1 class="text-white my-4">Change securely!</h1>
                    <h4 class="text-white font-weight-normal">Change your account password and make your self more securely Next Dashboard Template.<br/>Do not forget to play with live customizer</h4>
                </div>
            </div>
            <div class="auth-side-form">
                <div class=" auth-content">
                    <img src="assets/images/auth/logo_300x96.png" style="height: 70px; width: 100%;" alt="" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
                    <h4 class="mb-3 f-w-400">Reset your password</h4>

                    <!-- Form Section -->
                    <form [formGroup]="reset_Client_Form">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend" [ngClass]="{'has-error': checkValidation('email').errors}">
                                <span class="input-group-text"><i class="feather icon-mail"></i></span>
                            </div>
                            <!-- <input type="email" class="form-control" placeholder="Email address"> -->
                            <input type="email" name="email" formControlName="email" required class="form-control" placeholder="Email address" [ngClass]="{'is-invalid': checkValidation('email').errors}">

                            <ng-container *ngIf="checkValidation('email').errors">
                                <ng-container *ngIf="checkValidation('email').required">
                                    <span class="invalid-feedback">email is required.</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="checkValidation('email').patternValidate">
                                <span class="invalid-feedback">Please provide Proper email only.</span>
                            </ng-container>

                        </div>
                        <button class="btn btn-block btn-primary mb-4" style="width: 100%;" (click)="reset_Client_Password()">Reset password</button>
                    </form>

                    <!-- <div class="text-center">
                        <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signin-v2']" class="f-w-400">Signin</a></p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</section>