<section id="add_invoice">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'add_invoice.dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-invoice" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'add_invoice.invoice' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'add_invoice.add invoice' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-invoice" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <form [formGroup]="filter_invoice_frm" enctype="multipart/form-data" >
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{'list_invoice.filter section' | translate}}" [options]="false">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date">{{ 'list_invoice.dated' | translate }}</label>
                                <input type="date"   class="form-control form-control-md" name="dated" formControlName="dated" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="date">{{ 'list_invoice.at' | translate }}</label>
                                <input type="date"  class="form-control form-control-md" name="at" formControlName="at" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" >
                                <label>{{ 'list_invoice.client' | translate }}</label>
                                <select class="form-control form-control-md" name="client" formControlName="client">
									<option value="">{{ 'list_invoice.select client' | translate }}</option>
									<option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
								</select>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                <div class="row">
                    <div class="col-sm-12" style="text-align: end;">
                        <button type="submit" (click)="invoiceCircuitList(1)" class="btn btn-primary" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                        <button type="submit" (click)="invoiceCircuitList(0)" class="btn btn-danger" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                    </div>
                    <!-- <div class="col-sm-1" style="text-align: end;">
                        <button type="submit" class="btn btn-secondary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                    </div> -->

                </div>
                </app-card>
            </div>
        </div>
    </form>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'list_invoice.select' | translate }}</th>
                                <th width="18%">{{ 'list_invoice.circuit' | translate }}</th>
                                <th width="22%">{{ 'list_invoice.client' | translate }}</th>
                                <th width="10%">{{ 'list_invoice.departure date' | translate }}</th>
                                <th width="15%">{{ 'list_invoice.vehicles' | translate }}</th>
                                <th width="15%">{{ 'list_invoice.amount' | translate }}</th>
                                <th width="10%">{{ 'list_invoice.View_Circuit' | translate }}</th>
                                <!-- <th width="10%">{{ 'list_invoice.action' | translate }}</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="invoice_circuit_list.length !== 0; else emptyInvoice">
                            <tr *ngFor="let item of invoice_circuit_list;let i=index">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" (change)="addRowIntoArray($event, item)" type="checkbox" id="gridCheck">
                                    </div>
                                </td>
                                <td>{{item.refrence}}</td>
                                <td>{{item.client_name}}</td>
                                <td>{{item.departure_date}}</td>
                                <td>{{item.vehicle}}</td>
                                <td>{{item.flat_rate}}</td>
                                <td>
                                    <div class="actions" style="text-align: center;">
                                        <a class="ng2-smart-action"  [routerLink]="['/accounts/view-invoice-circuit', item.circuit_id]" title="View Circuit Details"><i class="feather icon-eye" style="color: #a568ff !important; cursor: pointer;"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyInvoice>
                                <tr>
                                    <td colspan="7" class="empty-row" style="text-align:center">{{'list_invoice.no invoice list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'list_invoice.select' | translate }}</th>
                                <th width="18%">{{ 'list_invoice.circuit' | translate }}</th>
                                <th width="22%">{{ 'list_invoice.client' | translate }}</th>
                                <th width="10%">{{ 'list_invoice.departure date' | translate }}</th>
                                <th width="15%">{{ 'list_invoice.vehicles' | translate }}</th>
                                <th width="15%">{{ 'list_invoice.amount' | translate }}</th>
                                <th width="10%">{{ 'list_invoice.View_Circuit' | translate }}</th>
                                <!-- <th width="10%">{{ 'list_invoice.action' | translate }}</th> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row mt-3">
                    <div class="col-sm-12" style="text-align: end;">
                        <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                            data-toggle="tooltip" data-placement="bottom" title="Save" (click)="addInvoice()"><i
                                class="feather icon-save"></i></button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>
</section>