<section id="view_bank_account">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;"><a class="breadcrumb-font-style">Dashboard</a></li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-bank-account" style="cursor: pointer;"><a class="breadcrumb-font-style">Bank Account</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">View Bank Account</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-bank-account" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th width="50%" style="font-size: 18px;">{{ 'View_Bank_Account.Bank Name' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{account_details?.bank_name}}
                                            </td>
                                        </tr>
                
                                        <tr>
                                            <th width="50%" style="font-size: 18px;">{{ 'View_Bank_Account.Account Number' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{account_details?.account_number}}                            
                                            </td>
                                        </tr>
                
                                        <tr>
                                            <th width="50%" style="font-size: 18px;">{{ 'View_Bank_Account.Amount' | translate }} :</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{account_details?.amount}}                            
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>                                   

</section>