<section id="add_privilege">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Privilege.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/manage-privilege/list-privilege"
                            style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Privilege.Privileges' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Privilege.Add_Privilege' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/manage-privilege/list-privilege" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_privilege_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="Add Privilege Form" [options]="false">
                    <div class="row">
                        <!-- Function -->
                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('function').errors}">
                                <label>{{ 'Add_Privilege.Function' | translate }}</label>
                                <select class="form-control form-control-md" name="function" formControlName="function" [ngClass]="{'is-invalid': checkValidation('function').errors}">
                                    <option value="">{{ 'Add_Privilege.Select_Function' | translate }}</option>
                                    <option value="1">Account</option>
                                    <option value="2">Driver</option>
                                    <option value="3">Manager</option>
                                </select>

                                <ng-container *ngIf="checkValidation('function').errors">
                                    <ng-container *ngIf="checkValidation('function').required">
                                        <span class="invalid-feedback">{{ 'Add_Privilege.Please Select Function' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->
                        <!-- Staff Member Name -->
                        <div class="col-md-6">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('staff_member_name').errors}">
                                <label>{{ 'Add_Privilege.Staff_Member_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="staff_member_name"
                                    formControlName="staff_member_name"
                                    [ngClass]="{'is-invalid': checkValidation('staff_member_name').errors}">
                                    <!-- <option value="">{{ 'Add_Privilege.Select_Staff_Member_Name' | translate }}</option>
                                    <option value="1">Smith</option>
                                    <option value="2">Sammy</option>
                                    <option value="3">Jhon Wick</option>
                                    <option value="4">David</option> -->
                                    <option value="">{{ 'Add_Privilege.Select_Staff_Member_Name' | translate }}</option>
                                    <option [value]="item.id" *ngFor="let item of staff_members">{{item.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('staff_member_name').errors">
                                    <ng-container *ngIf="checkValidation('staff_member_name').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Privilege.Please Select Staff Member Name' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <hr>

                    <!-- Dashboard -->
                    <!-- <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Dashboard' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="dashboard" [options]="access" [multiple]="true" [allowClear]="true"> -->
                                <!-- <ng-template #optionTemplate let-option="option">
                                    {{option?.label}}
                                </ng-template> -->
                            <!-- </ng-select>
                        </div>
                    </div> -->

                    <!-- Manage Brand -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Brand' | translate }}</label>
                        </div>
                        <!-- {{ access[0].id | json}} -->
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Brand" [options]="master" [multiple]="true" [allowClear]="true">
                                <!-- <ng-template #optionTemplate let-option="option">
                                    {{option?.label}}
                                </ng-template> -->
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Region -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Region' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Region" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage City -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage City' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="City" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Vehicle Category -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Vehicle Category' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Vehicle_Category" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Vehicle Provider -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Vehicle Carrier' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Vehicle_Carrier" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Claim Category -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Claim Category' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Claim_Category" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage User Role -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage User Role' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="User_Type" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Client Category -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Client Category' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Client_Category" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Function -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Function' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Functions" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Vehicle Deadlines -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Vehicle Deadlines' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Vehicle_Deadline" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Units -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Units' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Units" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Vehicle Features -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Vehicle Features' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Vehicle_Features" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Events -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Events' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Manage_Events" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Movements -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Movements' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Movement" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Manage Locations -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Locations' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Location" [options]="master" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Vehicles -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Vehicles' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Vehicles" [options]="vehicle" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Clients -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Clients' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Clients" [options]="clients" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>
                    <!-- Staff Member -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Staff Member' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Staff_Member" [options]="staff_member" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Circuits -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Circuits' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Circuits" [options]="circuits" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Claim Circuit -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Claim Circuit' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Claim_Circuit" [options]="claim_circuit" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Expense Circuit -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Expense Circuit' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Expense_Circuit" [options]="expense_circuit" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Receipt Circuit -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Receipt Circuit' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Receipt_Circuit" [options]="receipt_circuit" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Event Circuit -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Event Circuit' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Event_Circuit" [options]="event_circuit" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Bank Account -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Bank Account' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Bank_Account" [options]="bank_account" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Invoice -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Invoice' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Invoices" [options]="invoices" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Pay Bills -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Pay Bills' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Pay_Bills" [options]="pay_bills" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Cash Movement -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Cash Movement' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Cash_Movement" [options]="cash_movement" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Statement -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Statement' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Statement" [options]="statement" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Manage Plannings -->
                    <!-- <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Plannings' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Plannings" [options]="access" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div> -->

                    <!-- Manage Cash Desk -->
                    <div class="row" style="margin-bottom: 1rem;">
                        <div class="col-md-3">
                            <label>{{ 'Add_Privilege.Manage Cash Desk' | translate }}</label>
                        </div>
                        <div class="col-md-9">
                            <ng-select [ngClass]="'ng-select'" formControlName="Cash_Desk" [options]="cash_desk" [multiple]="true" [allowClear]="true">
                            </ng-select>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>