<section id="city_list">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_City.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/master/list-city" style="cursor: pointer;"><a class="breadcrumb-font-style">City</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_City.List_City' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/add-city" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="Filter Section" [options]="false">
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label>{{ 'List_Staff_Members.Name' | translate }}</label>
                            <select class="form-control form-control-md" name="name">
                                <option value="">{{ 'List_Staff_Members.Select_Name' | translate }}</option>
                                <option value="1">Emad Jaweed</option>
                                <option value="2">Dom Ray</option>
                                <option value="3">Denial Jhon</option>
                                <option value="4">David Warner</option>
                            </select>
                        </div>
                    </div> -->

                    <div class="col-md-2">
                        <label style="margin-top: 0.3rem;">{{ 'List_City.Region' | translate }}</label>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <!-- <label>{{ 'List_City.Region' | translate }}</label> -->
                            <select class="form-control form-control-md" name="region"  [(ngModel)]="region_id"> 
                                <option value="">{{ 'List_City.Select_Region' | translate }}</option>
                                <option [value]="region.id" *ngFor="let region of regions">{{region.regions}}</option>
                                <!-- <option [value]="function.id" *ngFor="let function of staff_functions">{{function.function_name}}</option> -->
                            </select>
                        </div>
                    </div>
                <!-- </div> -->

                <!-- Button Section -->
                <!-- <div class="row"> -->
                    <div class="col-md-4" style="text-align: end;">
                        <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                        <button type="submit" class="btn btn-danger" (click)="cancelAction()" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                    </div>
                </div>
            </app-card>
        </div>
    </div>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr> 
                                <th width="10%">{{ 'List_City.ID' | translate }}</th>
                                <th width="35%">{{ 'List_City.City_Name' | translate }}</th>
                                <th width="35%">{{ 'List_City.Region_Name' | translate }}</th>
                                <!-- <th width="20%">{{ 'List_City.Country_Name' | translate }}</th> -->
                                <th width="10%">{{ 'List_City.Status' | translate }}</th>
                                <th width="10%">{{ 'List_City.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="cities_list.length !== 0; else emptyCity">
                                <tr *ngFor="let item of cities_list;let i=index">
                                    <td>{{ i+1 }}</td>
                                    <td>{{item.city_name}}</td>
                                    <td>{{item.region}}</td>
                                    <!-- <td>{{item.country}}</td> -->
                                    <td class="status">
                                        <div class="form-group" style="text-align: center; margin-bottom: 0px;">
                                            <div class="switch switch-primary d-inline">
                                                <input type="checkbox" id="{{item.city_id}}" [checked]="item.status == '1' ? true : false"  (change)="statusChange(i, item.city_id, $event)">
                                                <label for="{{item.city_id}}" class="cr"></label>
                                            </div>
                                            <!-- <label>Checked</label> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" ngClass="{{item.status == '0' ? 'a-disabled' : ''}}" [routerLink]="['/master/edit-city', item.city_id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <!-- <a class="ng2-smart-action" routerLink="/master/view-city"><i class="feather icon-eye" style="color: #a568ff;"></i></a> -->
                                            <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(item.city_id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            
                            <ng-template #emptyCity>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align: center;">{{'List_City.no city list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_City.ID' | translate }}</th>
                                <th width="35%">{{ 'List_City.City_Name' | translate }}</th>
                                <th width="35%">{{ 'List_City.Region_Name' | translate }}</th>
                                <!-- <th width="20%">{{ 'List_City.Country_Name' | translate }}</th> -->
                                <th width="10%">{{ 'List_City.Status' | translate }}</th>
                                <th width="10%">{{ 'List_City.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>