<section id="list_bank_account">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Bank_Account.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/accounts/list-bank-account" style="cursor: pointer;"><a class="breadcrumb-font-style">bank-account</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Bank_Account.Bank_Account' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/add-bank-account" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Bank_Account.ID' | translate }}</th>
                                <th width="30%">{{ 'List_Bank_Account.Bank Name' | translate }}</th>
                                <th width="30%">{{ 'List_Bank_Account.Account Number' | translate }}</th>
                                <th width="20%">{{ 'List_Bank_Account.Balance' | translate }}</th>
                                <!-- <th width="15%">{{ 'List_Bank_Account.Date' | translate }}</th> -->
                                <th width="10%">{{ 'List_Bank_Account.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="accounts_list.length !== 0; else emptyAccount">
                                <tr *ngFor="let item of accounts_list;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.bank_name}}</td>
                                    <td>{{item.account_number}}</td>
                                    <td>{{item.amount}}</td>
                                    <td>
                                        <div class="actions">
                                            <a data-toggle="tooltip" data-placement="bottom" [routerLink]="['/accounts/view-bank-account', item.id]" title="View Data" class="ng2-smart-action"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>    
                            <ng-template #emptyAccount>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align: center;">{{ 'List_Bank_Account.No Bank Account Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_Bank_Account.ID' | translate }}</th>
                                <th width="30%">{{ 'List_Bank_Account.Bank Name' | translate }}</th>
                                <th width="30%">{{ 'List_Bank_Account.Account Number' | translate }}</th>
                                <th width="20%">{{ 'List_Bank_Account.Balance' | translate }}</th>
                                <!-- <th width="15%">{{ 'List_Bank_Account.Date' | translate }}</th> -->
                                <th width="10%">{{ 'List_Bank_Account.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>