<section id="list_circuit">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80,
					138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid
						#e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'List_Circuit.dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/manage-circuit/list_circuit" style="cursor: pointer;"><a class="breadcrumb-font-style">{{
                                'List_Circuit.circuits' | translate }}</a></li> -->
                                <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{
                                    'List_Circuit.circuits' | translate }}</li>        
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-circuit/add-circuit" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->

    <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="{{'List_Circuit.Filter Section' | translate}}" [options]="false">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="date">{{ 'List_Circuit.from' | translate }}</label>
                            <input type="date"   class="form-control form-control-md" name="circuit_date_of" [(ngModel)]="from_date" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="date">{{ 'List_Circuit.at' | translate }}</label>
                            <input type="date"  class="form-control form-control-md" name="at" [(ngModel)]="to_date" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group" >
                            <label>{{ 'List_Circuit.Driver' | translate }}</label>
                            <select class="form-control form-control-md" name="driver" [(ngModel)]="driver">
                                <option value="">{{ 'List_Circuit.Select Driver' | translate }}</option>
                                <option [value]="driver.id" *ngFor="let driver of driver_filter">
                                    {{driver.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" >
                            <label>{{ 'List_Circuit.vehicle' | translate }}</label>
                            <select class="form-control form-control-md" name="vehicle" [(ngModel)]="vehicle">
                                <option value="">{{ 'List_Circuit.select vehicle' | translate }}</option>
                                <option [value]="vehilce.id" *ngFor="let vehilce of vehilces">
                                    {{vehilce.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" >
                            <label>{{ 'List_Circuit.status' | translate }}</label>
                            <select class="form-control form-control-md" name="status" [(ngModel)]="status">
                                <option value="">{{ 'List_Circuit.select status' | translate }}</option>
                                <option [value]="status.id" *ngFor="let status of statusArr">
                                    {{status.name}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Client -->
                    <div class="col-md-4">
                        <div class="form-group" >
                            <label>{{ 'List_Circuit.client' | translate }}</label>
                            <select class="form-control form-control-md" name="user" [(ngModel)]="client_id">
                                <option value="">{{ 'List_Circuit.select client' | translate }}</option>
                                <option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
                            </select>
                        </div>
                    </div>

                </div>
                <!-- Button Section -->
            <div class="row">
                <div class="col-sm-12" style="text-align: end;">
                    <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                    <button type="submit" class="btn btn-danger" (click)="cancelAction()" tyle="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                </div>
                <!-- <div class="col-sm-1" style="text-align: end;">
                    <button type="submit" class="btn btn-secondary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                </div> -->

            </div>
            </app-card>
        </div>
    </div>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="5%">{{ 'List_Circuit.id' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.clients' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.reference' | translate }}</th>
                                <th width="20%">{{ 'List_Circuit.path' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.departure date' | translate }}</th>
                                <th width="8%">{{ 'List_Circuit.arrival date' | translate }}</th>
                                <th width="8%">{{ 'List_Circuit.Driver' | translate }}</th>
                                <th width="8%">{{ 'List_Circuit.vehicle' | translate }}</th>
                                <th width="6%">{{ 'List_Circuit.Status' | translate }}</th>
                                <th width="5%">{{ 'List_Circuit.Setting' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="circuit_List.length !== 0; else emptyCircuit">
                                <tr *ngFor="let item of circuit_List;let i=index">
                                    <td>{{i + 1}}</td> 
                                    <td>{{item.client_name}}</td>
                                    <td>{{item.refrence}}</td>
                                    <td>{{item.route}}</td>
                                    <td>{{item.departure_date}}</td>
                                    <td>{{item.arrival_date}}</td>
                                    <td>{{item.driver}}</td>
                                    <td>{{item.vehicle}}</td>

                                    <!-- Status -->
                                    <td>
                                        <div class="actions">
                                            <div class="btn-group" style="width: inherit;" ngbDropdown [placement]="'bottom-bottom'">
                                                <button type="back" class="btn btn-primary" ngbDropdownToggle data-toggle="tooltip"
                                                    data-placement="bottom" title="Status Change" style="letter-spacing: 1px; height: 30px; margin-right: 15px; margin-left: 15px;">                               
                                                    {{item.circuit_state}}
                                                </button>
                                                <div ngbDropdownMenu> 
                                                    <a class="dropdown-item" style="letter-spacing: 1px; cursor: pointer;" ngClass="{{item.circuit_state == 'Circuit End' ? 'a-disabled' : ''}}" (click)="statusChange(2, item.circuit_id)">{{ 'List_Circuit.Canceled' | translate }}</a>
                                                    <a class="dropdown-item" style="letter-spacing: 1px; cursor: pointer;" ngClass="{{item.circuit_state == 'Circuit End' ? 'a-disabled' : ''}}" (click)="statusChange(3, item.circuit_id)">{{ 'List_Circuit.Rejected' | translate }}</a>
                                                    <a class="dropdown-item" style="letter-spacing: 1px; cursor: pointer;" ngClass="{{item.circuit_state == 'Circuit End' ? 'a-disabled' : ''}}" (click)="statusChange(4, item.circuit_id)">{{ 'List_Circuit.Postponed' | translate }}</a>
                                                    <a class="dropdown-item" style="letter-spacing: 1px; cursor: pointer;" ngClass="{{item.circuit_state == 'Circuit End' ? 'a-disabled' : ''}}" (click)="statusChange(5, item.circuit_id)">{{ 'List_Circuit.Accepted' | translate }}</a>
                                                    <a class="dropdown-item" style="letter-spacing: 1px; cursor: pointer;" ngClass="{{item.circuit_state == 'Circuit End' ? 'a-disabled' : ''}}" (click)="statusChange(6, item.circuit_id)">{{ 'List_Circuit.End Circuit' | translate }}</a>
                                                </div>

                                                <!-- <option [value]="status.id" *ngFor="let status of statusArr">
                                                    {{status.name}}</option> -->

                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="actions">
                                            <div class="btn-group" style="width: inherit;" ngbDropdown [placement]="'bottom-bottom'">
                                                <button type="back" class="btn btn-primary" ngbDropdownToggle data-toggle="tooltip"
                                                    data-placement="bottom" title="Add" style="letter-spacing: 1px; height: 30px; margin-right: 15px; margin-left: 15px;"><i class="feather icon-settings" style="color: #a568ff !important;"></i></button>
                                                <div ngbDropdownMenu> 
                                                    <a class="dropdown-item" style="letter-spacing: 1px;"
                                                        [routerLink]="['/manage-claim/list-claim-circuit', item.circuit_id]">{{ 'List_Circuit.Claim' | translate }}</a>
                                                    <a class="dropdown-item" style="letter-spacing: 1px;"
                                                    [routerLink]="['/events/list-event-circuit', item.circuit_id]">{{ 'List_Circuit.Event' | translate }}</a>
                                                    <a class="dropdown-item" style="letter-spacing: 1px;"
                                                    [routerLink]="['/expense-tracking/list-expense', item.circuit_id]">{{ 'List_Circuit.Expense' | translate }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" [routerLink]="['/manage-circuit/edit-circuit', item.circuit_id]" ngClass="{{item.circuit_state == 'Canceled' || item.circuit_state == 'Circuit End' || item.circuit_state == 'Refuse/ Rejected' ? 'a-disabled' : ''}}" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a class="ng2-smart-action" [routerLink]="['/manage-circuit/view-circuit', item.circuit_id]" title="View"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                            <a class="ng2-smart-action" style="cursor: pointer;" ngClass="{{item.circuit_state == 'Circuit End' ? 'a-disabled' : ''}}" (click)="deleteAction(item.circuit_id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            

                            <ng-template #emptyCircuit>
                                <tr>
                                    <td colspan="11" class="empty-row" style="text-align: center;">{{ 'List_Circuit.No Circuit list Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="5%">{{ 'List_Circuit.id' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.clients' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.reference' | translate }}</th>
                                <th width="20%">{{ 'List_Circuit.path' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.departure date' | translate }}</th>
                                <th width="8%">{{ 'List_Circuit.arrival date' | translate }}</th>
                                <th width="8%">{{ 'List_Circuit.Driver' | translate }}</th>
                                <th width="8%">{{ 'List_Circuit.vehicle' | translate }}</th>
                                <th width="6%">{{ 'List_Circuit.Status' | translate }}</th>
                                <th width="5%">{{ 'List_Circuit.Setting' | translate }}</th>
                                <th width="10%">{{ 'List_Circuit.action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>