<section id="add_city">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>
                                {{ 'Add_City.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/master/list-city" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_City.City' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_City.Add_City' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/master/list-city" data-toggle="tooltip" data-placement="bottom" title="Back"><i
                        class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_city_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <app-card cardTitle="{{ 'Add_City.Add City Form' | translate }}" [options]="false">
                    <!-- Country Name -->
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('country_name').errors}">
                                <label>{{ 'Add_City.Country_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="country_name"
                                    formControlName="country_name"
                                    [ngClass]="{'is-invalid': checkValidation('country_name').errors}">
                                    <option value="">{{ 'Add_City.Select_Country_Name' | translate }}</option>
                                    <option [value]="country.country_id" *ngFor="let country of countries">{{country.country_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('country_name').errors">
                                    <ng-container *ngIf="checkValidation('country_name').required">
                                        <span class="invalid-feedback">{{ 'Add_City.Please Select Country Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div> -->

                    <!-- City -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('city_name').errors}">
                                <label>{{ 'Add_City.City_Name' | translate }}</label>
                                <input type="text" name="city_name" formControlName="city_name"
                                    class=" form-control form-control-md"
                                    placeholder="{{ 'Add_City.Enter_City_Name' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('city_name').errors}">

                                <ng-container *ngIf="checkValidation('city_name').errors">
                                    <ng-container *ngIf="checkValidation('city_name').required">
                                        <span class="invalid-feedback">{{ 'Add_City.Please provide City Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Region Name -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('region_name').errors}">
                                <label>{{ 'Add_City.Region_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="region_name"
                                    formControlName="region_name"
                                    [ngClass]="{'is-invalid': checkValidation('region_name').errors}">
                                    <option value="">{{ 'Add_City.Select_Region_Name' | translate }}</option>
                                    <option [value]="region.id" *ngFor="let region of regions">{{region.regions}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('region_name').errors">
                                    <ng-container *ngIf="checkValidation('region_name').required">
                                        <span class="invalid-feedback">{{ 'Add_City.Please Select Region Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"
                                   ></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>