<section id="edit_claim_circuit">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'Edit_Claim_Circuit.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/manage-claim/list-claim-circuit" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Claim_Circuit.Manage_Claim' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Claim_Circuit.Claim_Circuit' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-claim/list-claim-circuit" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_claim_circuit_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Claim_Circuit.Edit Claim Circuit Form' | translate }}" [options]="false">
                    <div class="row">
                        <!-- Circuit -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('circuit').errors}">
                                <label>{{ 'Edit_Claim_Circuit.Circuit' | translate }}</label>
                                <select class="form-control form-control-md" name="circuit" formControlName="circuit" [ngClass]="{'is-invalid': checkValidation('circuit').errors}">
                                    <option value="">{{ 'Edit_Claim_Circuit.Select_Circuit' | translate }}</option>
                                    <option [value]="circuit.circuit_id" *ngFor="let circuit of circuits">
                                        {{circuit.refrence}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('circuit').errors">
                                    <ng-container *ngIf="checkValidation('circuit').required">
                                        <span class="invalid-feedback">{{ 'Edit_Claim_Circuit.Please Select Circuit' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Function Name -->
                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('function_name').errors}">
                                <label>{{ 'Edit_Claim_Circuit.Function_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="function_name" formControlName="function_name" [ngClass]="{'is-invalid': checkValidation('function_name').errors}">
									<option value="">{{ 'Edit_Claim_Circuit.Select_Function_Name' | translate }}</option>
                                    <option [value]="function.id" *ngFor="let function of staff_functions">{{function.function_name}}</option>
								</select>

                                <ng-container *ngIf="checkValidation('function_name').errors">
                                    <ng-container *ngIf="checkValidation('function_name').required">
                                        <span class="invalid-feedback">{{ 'Edit_Claim_Circuit.Please Select Function Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->
                        
                        <!-- Drivers -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('driver').errors}">
                                <label>{{ 'List_Claim_Circuit.Driver' | translate }}</label>
                                <select class="form-control form-control-md" name="driver" formControlName="driver" [ngClass]="{'is-invalid': checkValidation('driver').errors}">
                                    <option value="">{{ 'Edit_Claim_Circuit.Select_Driver' | translate }}</option>
                                    <option [value]="staff.id" *ngFor="let staff of staffs">{{staff.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('driver').errors">
                                    <ng-container *ngIf="checkValidation('driver').required">
                                        <span class="invalid-feedback">{{ 'Edit_Claim_Circuit.Please Select Driver' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                         <!-- Reclamination Type -->
                         <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('reclamination_type').errors}">
                                <label>{{ 'List_Claim_Circuit.Reclamination_Type' | translate }}</label>
                                <select class="form-control form-control-md" name="reclamination_type" formControlName="reclamination_type" [ngClass]="{'is-invalid': checkValidation('reclamination_type').errors}">
                                    <option value="">{{ 'Add_Claim_Circuit.Select_Reclamination_Type' | translate }}</option>
                                    <option [value]="claim_type.claim_id" *ngFor="let claim_type of claim_types">{{claim_type.type_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('reclamination_type').errors">
                                    <ng-container *ngIf="checkValidation('reclamination_type').required">
                                        <span class="invalid-feedback">{{ 'Add_Claim_Circuit.Please Select Reclamination Type' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Claim Priority -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('claim_priority').errors}">
                                <label>{{ 'List_Claim_Circuit.Claim_Priority' | translate }}</label>
                                <select class="form-control form-control-md" name="claim_priority" formControlName="claim_priority" [ngClass]="{'is-invalid': checkValidation('claim_priority').errors}">
                                    <option value="">{{ 'Add_Claim_Circuit.Select_Claim_Priority' | translate }}</option>
                                    <option [value]="priority.id" *ngFor="let priority of priorityArr">{{priority.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('claim_priority').errors">
                                    <ng-container *ngIf="checkValidation('claim_priority').required">
                                        <span class="invalid-feedback">{{ 'Add_Claim_Circuit.Please Select Claim Priority' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Description -->
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('description').errors}">
                                <label for="description">{{ 'Edit_Claim_Circuit.Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="description" [ngClass]="{'is-invalid': checkValidation('description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('description').errors">
                                    <ng-container *ngIf="checkValidation('description').required">
                                        <span class="invalid-feedback">{{ 'Edit_Claim_Circuit.Description is required' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>