<section id="add_clients">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Clients.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/user/list-clients" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Clients.Clients' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Clients.Add_Clients' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/user/list-clients" data-toggle="tooltip" data-placement="bottom" title="Back"><i
                        class="feather icon-arrow-left" ></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_clients_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Add_Clients.add client form' | translate }}" [options]="false">
                    <div class="row">
                        <!-- Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('name').errors}">
                                <label>{{ 'Add_Clients.name' | translate }}</label>
                                <input type="text" name="name" formControlName="name"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Clients.Enter_name' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('name').errors}">

                                <ng-container *ngIf="checkValidation('name').errors">
                                    <ng-container *ngIf="checkValidation('name').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please provide Name' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('name').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'Add_Clients.Please provide alphabetical characters only' | translate}}</span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Client Category -->
                        <div class="col-md-6">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('client_category').errors}">
                                <label>{{ 'Add_Clients.Client_Category' | translate }}</label>
                                <select class="form-control form-control-md" name="client_category"
                                    formControlName="client_category"
                                    [ngClass]="{'is-invalid': checkValidation('client_category').errors}">
                                    <option value="">{{ 'Add_Clients.Select_Client_Category' | translate }}</option>
                                    <option [value]="client_category.id" *ngFor="let client_category of client_categories">{{client_category.client_category}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('client_category').errors">
                                    <ng-container *ngIf="checkValidation('client_category').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please Select Client Category' | translate}}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Email -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('email').errors}">
                                <label>{{ 'Add_Clients.Email' | translate }}</label>
                                <input type="text" name="email" formControlName="email"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Clients.Enter_Email' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                <ng-container *ngIf="checkValidation('email').errors">
                                    <ng-container *ngIf="checkValidation('email').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please provide email' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('email').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'Add_Clients.Please provide Proper email' | translate}}.</span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Password -->
                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('password').errors}">
                                <label>{{ 'Add_Clients.Password' | translate }}</label>
                                <input type="password" name="password" formControlName="password"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Clients.Enter_Password' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('password').errors}">

                                <ng-container *ngIf="checkValidation('password').errors">
                                    <ng-container *ngIf="checkValidation('password').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please provide Password' | translate}}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('password').minLengthValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Clients.accept minimum 8 numeric character only' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div> -->

                        <!-- Phone Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('phone').errors}">
                                <label>{{ 'Add_Clients.Phone' | translate }}</label>
                                <input type="text" name="phone" formControlName="phone"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Clients.Enter_Phone' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('phone').errors}">

                                <ng-container *ngIf="checkValidation('phone').errors">
                                    <ng-container *ngIf="checkValidation('phone').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please provide Phone' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('phone').patternValidate">
                                    <span
                                        class="invalid-feedback">{{'Add_Clients.Please provide valid 10 digit phone number' | translate}}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Region Name -->
                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('region_name').errors}">
                                <label>{{ 'Add_Clients.Region_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="region_name"
                                    formControlName="region_name"
                                    [ngClass]="{'is-invalid': checkValidation('region_name').errors}">
                                    <option value="">{{ 'Add_Clients.Select_Region_Name' | translate }}</option>
                                    <option [value]="region.id" *ngFor="let region of regions">{{region.regions}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('region_name').errors">
                                    <ng-container *ngIf="checkValidation('region_name').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please Select Region Name' | translate}}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->
                        <!-- Country Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('country_name').errors}">
                                <label>{{ 'Add_Clients.Country_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="country_name"
                                    formControlName="country_name"
                                    [ngClass]="{'is-invalid': checkValidation('country_name').errors}">
                                    <option value="">{{ 'Add_Clients.Select_Country_Name' | translate }}</option>
                                    <option [value]="country.country_id" *ngFor="let country of countries">{{country.country_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('country_name').errors">
                                    <ng-container *ngIf="checkValidation('country_name').required">
                                        <span class="invalid-feedback">{{ 'Add_Clients.Please Select Country Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- City Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('city_name').errors}">
                                <label>{{ 'Add_Clients.City_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="city_name"
                                    formControlName="city_name"
                                    [ngClass]="{'is-invalid': checkValidation('city_name').errors}">
                                    <option value="">{{ 'Add_Clients.Select_City_Name' | translate }}</option>
                                    <option [value]="city.city_id" *ngFor="let city of cities">{{city.city_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('city_name').errors">
                                    <ng-container *ngIf="checkValidation('city_name').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please Select City Name' | translate}}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Address -->
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('address').errors}">
                                <label for="address">{{ 'Add_Clients.Address' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="address" [ngClass]="{'is-invalid': checkValidation('address').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('address').errors">
                                    <ng-container *ngIf="checkValidation('address').required">
                                        <span class="invalid-feedback">{{ 'Add_Clients.Address is required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- User Role -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('user_role').errors}">
                                <label>{{ 'Add_Clients.User_Role' | translate }}</label>
                                <select class="form-control form-control-md" name="user_role"
                                    formControlName="user_role"
                                    [ngClass]="{'is-invalid': checkValidation('user_role').errors}">
                                    <option value="">{{ 'Add_Clients.Select_User_Role' | translate }}</option>
                                    <option [value]="user_role.id" *ngFor="let user_role of user_roles">{{user_role.role}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('user_role').errors">
                                    <ng-container *ngIf="checkValidation('user_role').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please Select User Role' | translate}}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Currency -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('currency').errors}">
                                <label>{{ 'Add_Clients.Currency' | translate }}</label>
                                <input type="text" name="currency" formControlName="currency"
                                    class="form-control form-control-md" disabled
                                    placeholder="{{ 'Add_Clients.Enter_Currency' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('currency').errors}">

                                <ng-container *ngIf="checkValidation('currency').errors">
                                    <ng-container *ngIf="checkValidation('currency').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please provide Currency' | translate}}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Number of days -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('nb_day').errors}">
                                <label>{{ 'Add_Clients.Number of days' | translate }}</label>
                                <input type="text" name="nb_day" formControlName="nb_day"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Clients.Enter_Number_of_days' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('nb_day').errors}">

                                <ng-container *ngIf="checkValidation('nb_day').errors">
                                    <ng-container *ngIf="checkValidation('nb_day').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Clients.Please provide Number of days' | translate}}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- mode of invoicing -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('invoice_mode').errors}">
                                <label>{{ 'Add_Clients.Mode of Invoicing' | translate }}</label>
                                <select class="form-control form-control-md" name="invoice_mode" formControlName="invoice_mode" [ngClass]="{'is-invalid': checkValidation('invoice_mode').errors}">
                                    <option value="">{{ 'Add_Clients.Select Invoice Mode' | translate }}</option>
                                    <option [value]="invoiceMode.id" *ngFor="let invoiceMode of invoiceModeArr">{{invoiceMode.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('invoice_mode').errors">
                                    <ng-container *ngIf="checkValidation('invoice_mode').required">
                                        <span class="invalid-feedback">{{'Add_Clients.Please Select Invoice Mode' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"
                                    ></i></button>
                        </div>
                    </div>

                </app-card>
            </div>
        </div>
    </form>
</section>