<section id="view_vehicle_provider">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0
                    rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white;
                        border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'View_Vehicle_Provider.Dashboard' | translate }}</a></li>
                        <li class="breadcrumb-item" routerLink="/master/list-vehicle-provider" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'View_Vehicle_Provider.Vehicle_Provider' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'View_Vehicle_Provider.View_Vehicle_Provider' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/list-vehicle-provider" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <tbody>
                                        <!-- Name -->
                                        <tr>
                                            <th width="20%" style="font-size: 18px;">{{ 'View_Vehicle_Provider.Name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{provider?.name}}
                                            </td>

                                        <!-- Email -->
                                            <th width="20%" style="font-size: 18px;">{{ 'View_Vehicle_Provider.Email' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{provider?.email}}
                                            </td>
                                        </tr>

                                        <!-- Mobile Number -->
                                        <tr>
                                            <th width="20%" style="font-size: 18px;">{{ 'View_Vehicle_Provider.Mobile' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{provider?.mobile}}
                                            </td>

                                        <!-- Telephone Number -->
                                            <th width="20%" style="font-size: 18px;">{{ 'View_Vehicle_Provider.Telephone' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{provider?.telephone}}
                                            </td>
                                        </tr>

                                        <!-- City Name -->
                                        <tr>
                                            <th width="20%" style="font-size: 18px;">{{ 'View_Vehicle_Provider.City_Name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{provider?.city_name}}
                                            </td>

                                        <!-- Address -->
                                            <th width="20%" style="font-size: 18px;">{{ 'View_Vehicle_Provider.Address' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{provider?.address}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>                                    

</section>