<section id="add_vehicle">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Vehicle.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/manage-vehicle/list-vehicle" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">{{ 'Add_Vehicle.Vehicle' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Vehicle.Add_Vehicle' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/manage-vehicle/list-vehicle" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_vehicle_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Add_Vehicle.Add Vehicle Form' | translate }}" [options]="false">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('vehicle_name').errors}">
                                <label>{{ 'Add_Vehicle.Designation' | translate }}</label>
                                <input type="text" name="vehicle_name" formControlName="vehicle_name"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.Enter_Designation' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('vehicle_name').errors}">

                                <ng-container *ngIf="checkValidation('vehicle_name').errors">
                                    <ng-container *ngIf="checkValidation('vehicle_name').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please provide Designation' | translate }}</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('registration_number').errors}">
                                <label>{{ 'Add_Vehicle.Registration_Number' | translate }}</label>
                                <input type="text" name="registration_number" formControlName="registration_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.Enter_Registration_Number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('registration_number').errors}">

                                <ng-container *ngIf="checkValidation('registration_number').errors">
                                    <ng-container *ngIf="checkValidation('registration_number').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please provide Registration Number' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                                <ng-container *ngIf="checkValidation('registration_number').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Vehicle.Accept Numeric only' | translate }}.</span>
                                </ng-container>

                            </div>
                        </div>

                        

                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('designation').errors}">
                                <label>{{ 'Add_Vehicle.Designation' | translate }}</label>
                                <input type="text" name="designation" formControlName="designation"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.Enter_Designation' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('designation').errors}">

                                <ng-container *ngIf="checkValidation('designation').errors">
                                    <ng-container *ngIf="checkValidation('designation').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please provide Designation' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->
                    </div>

                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('vehicle_category').errors}">
                                <label>{{ 'Add_Vehicle.Vehicle_Category' | translate }}</label>
                                <select class="form-control form-control-md" name="vehicle_category"
                                    formControlName="vehicle_category"
                                    [ngClass]="{'is-invalid': checkValidation('vehicle_category').errors}">
                                    <option value="">{{ 'Add_Vehicle.Select_Vehicle_Category' | translate }}</option>
                                    <option [value]="vehicle_category.id"
                                        *ngFor="let vehicle_category of vehicle_categorys">
                                        {{vehicle_category.category_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('vehicle_category').errors">
                                    <ng-container *ngIf="checkValidation('vehicle_category').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please Select Vehicle Category' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('capacity').errors}">
                                <label>{{ 'Add_Vehicle.Capacity' | translate }}</label>
                                <input type="text" name="capacity" formControlName="capacity"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.Enter_Capacity' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('capacity').errors}">

                                <ng-container *ngIf="checkValidation('capacity').errors">
                                    <ng-container *ngIf="checkValidation('capacity').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please provide Capacity' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('features').errors}">
                                <label>{{ 'Add_Vehicle.Features' | translate }}</label>
                                <input type="text" name="features" formControlName="features" class="form-control form-control-md" placeholder="{{ 'Add_Vehicle.Enter_Features' | translate }}" [ngClass]="{'is-invalid': checkValidation('features').errors}">

                                <ng-container *ngIf="checkValidation('features').errors">
                                    <ng-container *ngIf="checkValidation('features').required">
                                        <span class="invalid-feedback">Please provide Features</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->

                        <!-- <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('features').errors}">
                                <label *ngFor="let order of ordersFormArray; let i = index">{{ 'Add_Vehicle.Features' | translate }}</label>
                                <input type="checkbox" name="features" formControlName="features" class="form-control form-control-md" placeholder="{{ 'Add_Vehicle.Enter_Features' | translate }}" [ngClass]="{'is-invalid': checkValidation('features').errors}">
                            </div>
                        </div> -->

                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('brand').errors}">
                                <label>{{ 'Add_Vehicle.Brand_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="brand" formControlName="brand"
                                    [ngClass]="{'is-invalid': checkValidation('brand').errors}">
                                    <option value="">{{ 'Add_Vehicle.Select_Brand_Name' | translate }}</option>
                                    <option [value]="brand.id" *ngFor="let brand of brands">{{brand.brand_name}}
                                    </option>
                                </select>

                                <ng-container *ngIf="checkValidation('brand').errors">
                                    <ng-container *ngIf="checkValidation('brand').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please Select Brand Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('provider').errors}">
                                <label>{{ 'Add_Vehicle.Vehicle_Provider' | translate }}</label>
                                <select class="form-control form-control-md" name="provider" formControlName="provider"
                                    [ngClass]="{'is-invalid': checkValidation('provider').errors}">
                                    <option value="">{{ 'Add_Vehicle.Select_Vehicle_Provider' | translate }}</option>
                                    <option [value]="Vehicle_Provider.id"
                                        *ngFor="let Vehicle_Provider of Vehicle_Providers">{{Vehicle_Provider.name}}
                                    </option>
                                </select>

                                <ng-container *ngIf="checkValidation('provider').errors">
                                    <ng-container *ngIf="checkValidation('provider').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please Select Vehicle Provider' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Acquisition Date -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('acquisition_date').errors}">
                                <label for="date">{{ 'Add_Vehicle.Acquisition_Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md" name="acquisition_date" formControlName="acquisition_date" [ngClass]="{'is-invalid': checkValidation('acquisition_date').errors}" />

                                <ng-container *ngIf="checkValidation('acquisition_date').errors">
                                    <ng-container *ngIf="checkValidation('acquisition_date').required">
                                        <span class="invalid-feedback">{{ 'Add_Vehicle.permit validate acquisition date Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Acquisition Cost -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('acquisition_cost').errors}">
                                <label>{{ 'Add_Vehicle.Acquisition_Cost' | translate }}</label>
                                <input type="text" name="acquisition_cost" formControlName="acquisition_cost"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.Enter_acquisition_cost' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('acquisition_cost').errors}">

                                <ng-container *ngIf="checkValidation('acquisition_cost').errors">
                                    <ng-container *ngIf="checkValidation('acquisition_cost').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Please provide Acquisition Cost' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('acquisition_cost').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Vehicle.Please provider this format (10.00),(100.00),(1000.00) etc' | translate }}.</span>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- File Number -->                        
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('file_number').errors}">
                                <label style="margin-top: 0.5rem;">{{ 'Add_Vehicle.file_number' | translate }}</label>
                                <input type="text" name="file_number" formControlName="file_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.enter_file_number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('file_number').errors}">

                                <ng-container *ngIf="checkValidation('file_number').errors">
                                    <ng-container *ngIf="checkValidation('file_number').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Vehicle.please provide file number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Authorization Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('authorization_number').errors}">
                                <label style="margin-top: 0.5rem;">{{ 'Add_Vehicle.authorization_number' | translate }}</label>
                                <input type="text" name="authorization_number" formControlName="authorization_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Vehicle.enter_authorization_number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('authorization_number').errors}">

                                <ng-container *ngIf="checkValidation('authorization_number').errors">
                                    <ng-container *ngIf="checkValidation('authorization_number').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Vehicle.please provide authorization number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('provider').errors}">
                                <label>{{ 'Add_Vehicle.Provider' | translate }}</label>
                                <input type="text" name="provider" formControlName="provider" class="form-control form-control-md" placeholder="{{ 'Add_Vehicle.Enter_Provider' | translate }}" [ngClass]="{'is-invalid': checkValidation('provider').errors}">

                                <ng-container *ngIf="checkValidation('provider').errors">
                                    <ng-container *ngIf="checkValidation('provider').required">
                                        <span class="invalid-feedback">{{ 'Add_Vehicle.Please provide provider' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> --> 

                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('description').errors}">
                                <label for="description">{{ 'Add_Vehicle.Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="description"
                                    [ngClass]="{'is-invalid': checkValidation('description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('description').errors">
                                    <ng-container *ngIf="checkValidation('description').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Description is required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('deadline').errors}">
                                <label>{{ 'Edit_Vehicle.DeadLine' | translate }}</label>
                                <select class="form-control form-control-md" name="deadline" formControlName="deadline" [ngClass]="{'is-invalid': checkValidation('deadline').errors}">
                                    <option value="">{{ 'Edit_Vehicle.Select_Deadline' | translate }}</option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                </select>
                                <ng-container *ngIf="checkValidation('deadline').errors">
                                    <ng-container *ngIf="checkValidation('deadline').required">
                                        <span class="invalid-feedback">{{ 'Edit_Vehicle.Please provide Deadline' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->
                    </div>



                    <!-- <div class="row">
                       
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('nb_month').errors}">
                                <label>{{ 'Add_Vehicle.Number_of_Month' | translate }}</label>
                                <select class="form-control form-control-md" name="nb_month" formControlName="nb_month" [ngClass]="{'is-invalid': checkValidation('nb_month').errors}">
                                    <option value="">{{ 'Add_Vehicle.Select_Number_of_Month' | translate }}</option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                </select>

                                <ng-container *ngIf="checkValidation('nb_month').errors">
                                    <ng-container *ngIf="checkValidation('nb_month').required">
                                        <span class="invalid-feedback">{{ 'Add_Vehicle.Please Select Number of Month' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->
                    <!-- Number of Killometer -->
                    <!-- <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('nb_killometer').errors}">
                                <label>{{ 'Add_Vehicle.Number_of_Killometer' | translate }}</label>
                                <select class="form-control form-control-md" name="nb_killometer" formControlName="nb_killometer" [ngClass]="{'is-invalid': checkValidation('nb_killometer').errors}">
                                    <option value="">{{ 'Add_Vehicle.Select_Number_of_Killometer' | translate }}</option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                </select>

                                <ng-container *ngIf="checkValidation('nb_killometer').errors">
                                    <ng-container *ngIf="checkValidation('nb_killometer').required">
                                        <span class="invalid-feedback">{{ 'Add_Vehicle.Please Select Number of Killometer' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div> -->

                    <div class="row mt-5">
                        <div class="col-md-12">
                            <label>{{ 'Add_Vehicle.Features' | translate }}</label>
                        </div>
                        <!-- <div class="col-md-4" *ngFor="let checkbox of checkboxData; let i = index">
                            <div class="form-group ">
                                <input type="checkbox" name="features" (change)="triggerSomeEvent(i, checkbox.isDisabled)" />
                                <label style="margin-left: 6px; margin-bottom: 0px;">{{checkbox.name}}</label>
                                <input type="text" name="featuresTxt"  [disabled]="checkbox.isDisabled" style="margin-left: 1rem;"/>
                                
                            </div>
                        </div> -->
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{'Add_Vehicle.no' | translate}}</th>
                                            <th>{{'Add_Vehicle.feature' | translate}}</th>
                                            <th>{{'Add_Vehicle.qty' | translate}}</th>
                                            <th>{{'Add_Vehicle.unit' | translate}}</th>
                                            <th>{{'Add_Vehicle.action' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="features">
                                        <tr *ngFor="let feat of add_vehicle_frm['controls'].features['controls']; let i = index;"
                                            [formGroupName]="i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <select class="form-control form-control-md mobile-responsive" name="feature_id"
                                                    formControlName="feature_id" [ngClass]="{'is-invalid': (feat.controls.feature_id.touched || 
                                              feat.controls.feature_id.dirty) && 
                                              !feat.controls.feature_id.valid }" (change)="featureChanged(feat.controls.feature_id.value, feat.controls.unit, feat.controls.unit_id)">
                                                    <option value="">{{ 'Add_Vehicle.select feature' | translate }}</option>
                                                    <option [value]="feature.id" *ngFor="let feature of features">
                                                        {{feature.feature}}</option>
                                                </select>
    
                                                <ng-container *ngIf="(feat.controls.feature_id.touched || 
                                          feat.controls.feature_id.dirty) && 
                                          !feat.controls.feature_id.valid">
                                                    <ng-container *ngIf="feat.controls.feature_id.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.please select feature' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="quantity" [ngClass]="{'is-invalid': (feat.controls.quantity.touched || 
                                              feat.controls.quantity.dirty) && 
                                              !feat.controls.quantity.valid }"
                                                    placeholder="{{'Add_Vehicle.enter qty' | translate}}"
                                                    class="form-control mobile-responsive" type="text" />
                                                <ng-container *ngIf="(feat.controls.quantity.touched || 
                                              feat.controls.quantity.dirty) && 
                                              !feat.controls.quantity.valid">
                                                    <ng-container *ngIf="feat.controls.quantity.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.qty is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="feat.controls.quantity.errors?.pattern">
                                                    <span
                                                        class="invalid-feedback">{{ 'Add_Vehicle.Please provide Numeric only' | translate }}</span>
                                                </ng-container>
                                            </td>
                                            <td>
                                                
                                                <input formControlName="unit" disabled
                                                    placeholder="{{'Add_Vehicle.enter unit' | translate}}"
                                                    class="form-control mobile-responsive" type="text" />
                                                <ng-container *ngIf="(feat.controls.unit.touched || 
                                                feat.controls.unit.dirty) && 
                                                !feat.controls.unit.valid">
                                                    <ng-container *ngIf="feat.controls.unit.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.unit is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                                <!-- <ng-container *ngIf="feat.controls.unit.errors?.pattern">
                                                  <span
                                                      class="invalid-feedback">{{ 'Add_Vehicle.Please provide Numeric only' | translate }}</span>
                                              </ng-container>     -->
                                            </td>
                                            <td (click)="deleteFeatureRow(i)" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-trash fa-2x"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td (click)="addFeatureRow()" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-plus fa-2x"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12">
                            <label>{{ 'Add_Vehicle.list of deadline' | translate }}</label>
                        </div>
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>{{'Add_Vehicle.no' | translate}}</th>
                                            <th>{{'Add_Vehicle.deadline' | translate}}</th>
                                            <th>{{'Add_Vehicle.value' | translate}}</th>
                                            <th>{{'Add_Vehicle.type' | translate}}</th>
                                            <th>{{'Add_Vehicle.organization' | translate}}</th>
                                            <th>{{'Add_Vehicle.amount' | translate}}</th>
                                            <th>{{'Add_Vehicle.action' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="deadlines">
                                        <tr *ngFor="let dead of add_vehicle_frm['controls'].deadlines['controls']; let i = index;"
                                            [formGroupName]="i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <select class="form-control form-control-md mobile-responsive" name="deadline_id"
                                                    formControlName="deadline_id" [ngClass]="{'is-invalid': (dead.controls.deadline_id.touched || 
                                              dead.controls.deadline_id.dirty) && 
                                              !dead.controls.deadline_id.valid }" (change)="deadlineChanged(dead.controls.deadline_id.value, dead.controls.deadline_type, dead.controls.type)">
                                                    <option value="">{{ 'Add_Vehicle.select deadline' | translate }}
                                                    </option>
                                                    <option [value]="deadline.id" *ngFor="let deadline of deadlines">
                                                        {{deadline.deadlines}}</option>
                                                </select>
    
                                                <ng-container *ngIf="(dead.controls.deadline_id.touched || 
                                          dead.controls.deadline_id.dirty) && 
                                          !dead.controls.deadline_id.valid">
                                                    <ng-container *ngIf="dead.controls.deadline_id.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.please select deadline' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="value" [ngClass]="{'is-invalid': (dead.controls.value.touched || 
                                              dead.controls.value.dirty) && 
                                              !dead.controls.value.valid }"
                                                    placeholder="{{'Add_Vehicle.enter value' | translate}}"
                                                    class="form-control mobile-responsive" type="text" />
                                                <ng-container *ngIf="(dead.controls.value.touched || 
                                              dead.controls.value.dirty) && 
                                              !dead.controls.value.valid">
                                                    <ng-container *ngIf="dead.controls.value.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.value is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="dead.controls.value.errors?.pattern">
                                                    <span
                                                        class="invalid-feedback">{{ 'Add_Vehicle.Please provide Numeric only' | translate }}</span>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="deadline_type" disabled
                                                    placeholder="{{'Add_Vehicle.enter type' | translate}}"
                                                    class="form-control mobile-responsive" type="text" />
                                                <ng-container *ngIf="(dead.controls.deadline_type.touched || 
                                                dead.controls.deadline_type.dirty) && 
                                                !dead.controls.deadline_type.valid">
                                                    <ng-container *ngIf="dead.controls.deadline_type.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.type is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="dead.controls.deadline_type.errors?.pattern">
                                                    <span
                                                        class="invalid-feedback">{{ 'Add_Vehicle.Please provide Numeric only' | translate }}</span>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="organization" [ngClass]="{'is-invalid': (dead.controls.organization.touched || 
                                                dead.controls.organization.dirty) && 
                                                !dead.controls.organization.valid }"
                                                    placeholder="{{'Add_Vehicle.enter organization' | translate}}"
                                                    class="form-control mobile-responsive" organization="text" />
                                                <ng-container *ngIf="(dead.controls.organization.touched || 
                                                dead.controls.organization.dirty) && 
                                                !dead.controls.organization.valid">
                                                    <ng-container *ngIf="dead.controls.organization.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.organization is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="amount" [ngClass]="{'is-invalid': (dead.controls.amount.touched || 
                                                dead.controls.amount.dirty) && 
                                                !dead.controls.amount.valid }"
                                                    placeholder="{{'Add_Vehicle.enter amount' | translate}}"
                                                    class="form-control mobile-responsive" amount="text" />
                                                <ng-container *ngIf="(dead.controls.amount.touched || 
                                                dead.controls.amount.dirty) && 
                                                !dead.controls.amount.valid">
                                                    <ng-container *ngIf="dead.controls.amount.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'Add_Vehicle.amount is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="dead.controls.amount.errors?.pattern">
                                                    <span class="invalid-feedback">{{ 'Add_Vehicle.Please provider this format (10.00),(100.00),(1000.00) etc' | translate }}.</span>
                                                </ng-container>
                                            </td>
                                            <td (click)="deleteDeadlineRow(i)" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-trash fa-2x"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td (click)="addDeadlineRow()" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-plus fa-2x"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('description').errors}">
                                <label for="description">{{ 'Add_Vehicle.Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="description"
                                    [ngClass]="{'is-invalid': checkValidation('description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('description').errors">
                                    <ng-container *ngIf="checkValidation('description').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Vehicle.Description is required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div> -->

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>