<section id="list_privilege">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Privilege.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/manage-privilege/list-privilege" style="cursor: pointer;"><a class="breadcrumb-font-style">Privilege</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Privilege.Privilege' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-privilege/add-privilege" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_Privilege.ID' | translate }}</th>
                                <th width="40%">{{ 'List_Privilege.Staff_Member' | translate }}</th>
                                <th width="20%">{{ 'List_Privilege.Created_Date' | translate }}</th>
                                <th width="20%">{{ 'List_Privilege.Updated_Date' | translate }}</th>
                                <th width="10%">{{ 'List_Privilege.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="privilege_list.length !== 0; else emptyPrivilege">
                                <tr *ngFor="let item of privilege_list;let i=index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.created_date | date}}</td>
                                    <td>{{item.update_date | date}}</td>
                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" [routerLink]="['/manage-privilege/edit-privilege', item.id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>

                            <ng-template #emptyPrivilege>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align: center;">{{ 'List_Privilege.No Privilege Available.' | translate }}.</td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_Privilege.ID' | translate }}</th>
                                <th width="40%">{{ 'List_Privilege.Staff_Member' | translate }}</th>
                                <th width="20%">{{ 'List_Privilege.Created_Date' | translate }}</th>
                                <th width="20%">{{ 'List_Privilege.Updated_Date' | translate }}</th>
                                <th width="10%">{{ 'List_Privilege.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>