<section id="add_movement">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'add_movement.dashboard' | translate }}
                            </a>
                        </li> 
                        <li class="breadcrumb-item" routerLink="/master/list-movement"
                            style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'add_movement.movement' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'add_movement.add movement' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/master/list-movement" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_movement_frm" (submit)="save()" enctype="multipart/form-data">

        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{'add_movement.add movement' | translate}}" [options]="false">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('movement_name').errors}">
                                <label for="description">{{ 'add_movement.root name' | translate }}</label>
                                <input type="text" class="form-control" rows="1" formControlName="movement_name"
                                    [ngClass]="{'is-invalid': checkValidation('movement_name').errors}" placeholder="{{'add_movement.enter root name' | translate}}">

                                <ng-container *ngIf="checkValidation('movement_name').errors">
                                    <ng-container *ngIf="checkValidation('movement_name').required">
                                        <span
                                            class="invalid-feedback">{{ 'add_movement.root name is required' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('no_of_days').errors}">
                                <label for="description">{{ 'add_movement.no of days' | translate }}</label>
                                <input type="text" class="form-control" rows="1" formControlName="no_of_days"
                                    [ngClass]="{'is-invalid': checkValidation('no_of_days').errors}" placeholder="{{'add_movement.enter number of days' | translate}}">

                                <ng-container *ngIf="checkValidation('no_of_days').errors">
                                    <ng-container *ngIf="checkValidation('no_of_days').required">
                                        <span
                                            class="invalid-feedback">{{ 'add_movement.number of days is required' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('no_of_days').patternValidate">
                                    <span class="invalid-feedback">{{ 'add_movement.Please provide Numeric only' | translate }}</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">    
                                    <thead>    
                                        <tr>    
                                            <th width="10%">{{'add_movement.orders' | translate}}</th>    
                                            <th width="40%">{{'add_movement.city' | translate}}</th>
                                            <th width="40%">{{'add_movement.no of days' | translate}}</th>    
                                            <th width="10%">{{'add_movement.action' | translate}}</th>    
                                        </tr>    
                                    </thead>    
                                    <tbody formArrayName="arrayRow">    
                                         <tr *ngFor="let dynamic of add_movement_frm['controls'].arrayRow['controls']; let i = index;" [formGroupName]="i">      
                                            <td>    
                                              {{i+1}}    
                                            </td>    
                                            <td>    
                                              <!-- <input  formControlName="city" class="form-control" type="text" />  -->
                                              <select class="form-control form-control-md mobile-responsive"  name="city_id"
                                              formControlName="city_id"
                                              [ngClass]="{'is-invalid': (dynamic.controls.city_id.touched || 
                                              dynamic.controls.city_id.dirty) && 
                                              !dynamic.controls.city_id.valid }">
                                              <option value="">{{ 'add_movement.select city' | translate }}</option>
                                              <option [value]="city.city_id" *ngFor="let city of cities">{{city.city_name}}</option>
                                          </select>
          
                                          <ng-container *ngIf="(dynamic.controls.city_id.touched || 
                                          dynamic.controls.city_id.dirty) && 
                                          !dynamic.controls.city_id.valid">
                                              <ng-container *ngIf="dynamic.controls.city_id.errors?.required">
                                                  <span
                                                      class="invalid-feedback">{{ 'add_movement.please select city' | translate }}</span>
                                              </ng-container>
                                          </ng-container>   
                                            </td>    
                                            <td>    
                                              <input formControlName="no_of_days"
                                              [ngClass]="{'is-invalid': (dynamic.controls.no_of_days.touched || 
                                              dynamic.controls.no_of_days.dirty) && 
                                              !dynamic.controls.no_of_days.valid }"
                                              placeholder="{{'add_movement.enter number of days' | translate}}" 
                                              class="form-control mobile-responsive" type="text"/> 
                                              <ng-container *ngIf="(dynamic.controls.no_of_days.touched || 
                                              dynamic.controls.no_of_days.dirty) && 
                                              !dynamic.controls.no_of_days.valid">
                                                  <ng-container *ngIf="dynamic.controls.no_of_days.errors?.required">
                                                      <span
                                                          class="invalid-feedback">{{ 'add_movement.number of days is required' | translate }}</span>
                                                  </ng-container>
                                              </ng-container> 
                                              <ng-container *ngIf="dynamic.controls.no_of_days.errors?.pattern">
                                                <span
                                                    class="invalid-feedback">{{ 'add_movement.Please provide Numeric only' | translate }}</span>
                                            </ng-container>    
                                            </td>
                                            <td (click)="deleteRow(i)" style="text-align: center;">    
                                                <a class="ng2-smart-action"><i class="fa fa-trash fa-2x"></i></a>    
                                            </td>      
                                        </tr>    
                                        <tr>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td (click)="addRow()"  style="text-align: center;">    
                                                <a class="ng2-smart-action"><i class="fa fa-plus fa-2x"></i></a>    
                                            </td>    
                                        </tr>    
                                    </tbody>    
                                </table> 
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"
                                ></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>