<section id="planning-filter">
	<!-- Filter Section -->

    <form [formGroup]="filter_planning_form" (submit)="filterAction()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="Filter Section" [options]="false">
                    <div class="row">
                        <!-- Vehicle -->
                        <div class="col-md-5">
                            <label>{{ 'planning.vehicle' | translate }}</label>
                        
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('vehicle').errors}">
                                
                                <select class="form-control form-control-md" name="vehicle" formControlName="vehicle"
                                    [ngClass]="{'is-invalid': checkValidation('vehicle').errors}">
                                    <option value="">{{ 'planning.select vehicle' | translate }}</option>
                                    <option [value]="vehilce.id" *ngFor="let vehilce of vehilces">
                                        {{vehilce.name}}</option>
                                </select> 

                                <ng-container *ngIf="checkValidation('vehicle').errors">
                                    <ng-container *ngIf="checkValidation('vehicle').required">
                                        <span
                                            class="invalid-feedback">{{'planning.please select vehicle' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- <div class="col-md-5">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('client').errors}">
                                <label>{{ 'planning.Client' | translate }}</label>
                                <select class="form-control form-control-md" name="client" formControlName="client" [ngClass]="{'is-invalid': checkValidation('client').errors}">
                                    <option value="">{{ 'planning.Select_Client' | translate }}</option>
                                    <option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('client').errors">
                                    <ng-container *ngIf="checkValidation('client').required">
                                        <span class="invalid-feedback">{{ 'planning.Please Select Client' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->
                        <div class="col-md-7" style="text-align: end; margin-top: 28px;">
                            <button type="submit" class="btn btn-primary" style="width: auto;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                            <!-- <button type="submit" class="btn btn-danger" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button> -->
                        </div>
                    </div>

                    <!-- Button Section -->
                    <!-- <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                        </div>
                    </div> -->
                </app-card>
            </div>
        </div>
    </form>
</section>

<div class="row">
	<div class="col-sm-12">
		<app-card cardTitle="{{ 'Full_Calendar.Full_Calendar' | translate }}" cardClass="elite-calendar" [options]="false">
			<div class='app' *ngIf="!notSupported">
				<div class='app-calendar' *ngIf="calendarVisible">
					<!-- <full-calendar #calendar defaultView="dayGridMonth" [header]="{
						left: 'prev,next today',
						center: 'title',
						right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
						}" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents">
                    </full-calendar> -->
                    <full-calendar #calendar defaultView="dayGridMonth" [header]="{
						left: 'prev,next today',
						center: 'title',
						right: 'dayGridMonth'
						}" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents">
					</full-calendar>
					<!-- <full-calendar #calendar defaultView="dayGridMonth" [header]="{
						left: 'prev,next today',
						center: 'title',
						right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
						}" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"
						(dateClick)="handleDateClick($event)">
					</full-calendar> -->
				</div>
			</div>
			<div class="col-sm-12 text-center" *ngIf="notSupported">
				<div class="alert alert-danger"><code>css-animator</code> does not support in IE.</div>
			</div>
		</app-card>
	</div>
</div>