<section id="edit_expense">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'Edit_Expense.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/expense-tracking/list-expense" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Expense.Expense_Tracking' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Expense.Expense' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/expense-tracking/list-expense" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_expense_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Expense.Edit Expense Form' | translate }}" [options]="false">
                    <div class="row">
                        <!-- Circuit -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('circuit').errors}">
                                <label>{{ 'Edit_Expense.Circuit' | translate }}</label>
                                <select class="form-control form-control-md" name="circuit" formControlName="circuit" [ngClass]="{'is-invalid': checkValidation('circuit').errors}">
                                    <option value="">{{ 'Edit_Expense.Select_Circuit' | translate }}</option>
                                    <option [value]="circuit.circuit_id" *ngFor="let circuit of circuits">
                                        {{circuit.refrence}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('circuit').errors">
                                    <ng-container *ngIf="checkValidation('circuit').required">
                                        <span class="invalid-feedback">{{ 'Edit_Expense.Please Select Circuit' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Drivers -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('driver').errors}">
                                <label>{{ 'List_Expense.Driver' | translate }}</label>
                                <select class="form-control form-control-md" name="driver" formControlName="driver" [ngClass]="{'is-invalid': checkValidation('driver').errors}">
                                    <option value="">{{ 'Edit_Expense.Select_Driver' | translate }}</option>
                                    <option [value]="driver.id" *ngFor="let driver of drivers">
                                        {{driver.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('driver').errors">
                                    <ng-container *ngIf="checkValidation('driver').required">
                                        <span class="invalid-feedback">{{ 'Edit_Expense.Please Select Driver' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Operation -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('operation').errors}">
                                <label>{{ 'List_Expense.Operation' | translate }}</label>
                                <!-- <select class="form-control form-control-md" name="operation" formControlName="operation" [ngClass]="{'is-invalid': checkValidation('operation').errors}">
                                    <option value="">{{ 'Edit_Expense.Select_Operation' | translate }}</option>
                                    <option [value]="operation.id" *ngFor="let operation of operations">
                                        {{operation.movement_code}}</option>
                                </select> -->

                                <input type="text" name="operation" formControlName="operation"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Edit_Receipt_Circuit.Enter_operation' | translate }}" >

                                <ng-container *ngIf="checkValidation('operation').errors">
                                    <ng-container *ngIf="checkValidation('operation').required">
                                        <span class="invalid-feedback">{{ 'Edit_Expense.Please Select Operation' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Reference -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('reference').errors}">
                                <label>{{ 'Add_Expense.Reference' | translate }}</label>
                                <input type="text" name="reference" formControlName="reference"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Expense.Enter_Reference' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('reference').errors}">

                                <ng-container *ngIf="checkValidation('reference').errors">
                                    <ng-container *ngIf="checkValidation('reference').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Expense.Please provide Reference' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Amount -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('amount').errors}">
                                <label>{{ 'Edit_Expense.Amount' | translate }}</label>
                                <input type="text" name="amount" formControlName="amount" class="form-control form-control-md" placeholder="{{ 'Edit_Expense.Enter_Amount' | translate }}" [ngClass]="{'is-invalid': checkValidation('amount').errors}">

                                <ng-container *ngIf="checkValidation('amount').errors">
                                    <ng-container *ngIf="checkValidation('amount').required">
                                        <span class="invalid-feedback">{{ 'Edit_Expense.Please provide Amount' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('amount').patternValidate">
                                    <span class="invalid-feedback">{{ 'Add_Vehicle.Please provider this format (10.00),(100.00),(1000.00) etc' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('opration_date').errors}">
                                <label for="date">{{ 'Edit_Expense.Opration_date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    name="opration_date" formControlName="opration_date"
                                    [ngClass]="{'is-invalid': checkValidation('opration_date').errors}" />

                                <ng-container *ngIf="checkValidation('opration_date').errors">
                                    <ng-container *ngIf="checkValidation('opration_date').required">
                                        <span
                                            class="invalid-feedback">{{ 'Edit_Expense.permit validate payment dateopration date Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Description -->
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('description').errors}">
                                <label for="description">{{ 'Edit_Expense.Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="description" [ngClass]="{'is-invalid': checkValidation('description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('description').errors">
                                    <ng-container *ngIf="checkValidation('description').required">
                                        <span class="invalid-feedback">{{ 'Edit_Expense.Description is required' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>