<section id="add_event_circuit">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Event_Circuit.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/events/list-event-circuit" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Event_Circuit.Event Circuit' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Event_Circuit.Add Event Circuit' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/events/list-event"
                    data-toggle="tooltip" data-placement="bottom" title="Back"><i
                        class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_event_circuit_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Add_Event_Circuit.Add Event Circuit Form' | translate }}" [options]="false">
                    <div class="row">
                        <!-- Circuit -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('circuit').errors}">
                                <label>{{ 'Add_Event_Circuit.Circuit' | translate }}</label>
                                <select class="form-control form-control-md" name="circuit" formControlName="circuit" [ngClass]="{'is-invalid': checkValidation('circuit').errors}">
                                    <option value="null">{{ 'Add_Event_Circuit.Select_Circuit' | translate }}</option>
                                    <option [value]="circuit.circuit_id" *ngFor="let circuit of circuits">
                                        {{circuit.refrence}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('circuit').errors">
                                    <ng-container *ngIf="checkValidation('circuit').required">
                                        <span class="invalid-feedback">{{ 'Add_Event_Circuit.Please Select Circuit' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Event Circuit -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('event_circuit').errors}">
                                <label>{{ 'Add_Event_Circuit.Event_Circuit' | translate }}</label>
                                <select class="form-control form-control-md" name="event_circuit" formControlName="event_circuit"
                                    [ngClass]="{'is-invalid': checkValidation('event_circuit').errors}">
                                    <option value="">{{ 'Add_Event_Circuit.Select Event Circuit' | translate }}</option>
                                    <option [value]="event_circuit.event_id" *ngFor="let event_circuit of event_circuits">
                                        {{event_circuit.designation}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('event_circuit').errors">
                                    <ng-container *ngIf="checkValidation('event_circuit').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Event_Circuit.please select Event Circuit' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Date -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('date').errors}">
                                <label for="date">{{ 'Add_Event_Circuit.Date' | translate }}</label>
                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    name="date" formControlName="date"
                                    [ngClass]="{'is-invalid': checkValidation('date').errors}" />

                                <ng-container *ngIf="checkValidation('date').errors">
                                    <ng-container *ngIf="checkValidation('date').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Event_Circuit.permit validate Date Required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Hour -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('hour').errors}">
                                <label>{{ 'Add_Event_Circuit.Hour' | translate }}</label>
                                <input type="text" name="hour" formControlName="hour"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Event_Circuit.Enter_Hour' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('hour').errors}">

                                <ng-container *ngIf="checkValidation('hour').errors">
                                    <ng-container *ngIf="checkValidation('hour').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Event_Circuit.Please provide Hour' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('date_creation').errors}">
                                <label>{{ 'Add_Event_Circuit.date creation' | translate }}</label>
                                <input type="date" name="date_creation" formControlName="date_creation"
                                    class="form-control form-control-md"
                                    [ngClass]="{'is-invalid': checkValidation('date_creation').errors}">

                                <ng-container *ngIf="checkValidation('date_creation').errors">
                                    <ng-container *ngIf="checkValidation('date_creation').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Event_Circuit.Please provide date creation' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('time_creation').errors}">
                                <label>{{ 'Add_Event_Circuit.Time Creation' | translate }}</label>
                                <input type="text" name="time_creation" formControlName="time_creation"
                                    class="form-control form-control-md"
                                    [ngClass]="{'is-invalid': checkValidation('time_creation').errors}">

                                <ng-container *ngIf="checkValidation('time_creation').errors">
                                    <ng-container *ngIf="checkValidation('time_creation').required">
                                        <span
                                            class="invalid-feedback">{{'Add_Event_Circuit.Please provide Time Creation' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <!-- Description -->
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('description').errors}">
                                <label for="description">{{ 'Add_Event_Circuit.Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="description"
                                    [ngClass]="{'is-invalid': checkValidation('description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('description').errors">
                                    <ng-container *ngIf="checkValidation('description').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Event_Circuit.Description is required' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>