.breadcrumb-font-style {
    color: #97a7c1;
    font-weight: bold;
    font-size: initial;
     :hover {
        color: #323258;
        font-weight: bold;
        font-size: initial;
    }
}

.breadcrumb-active {
    color: #323258;
    font-weight: bold;
    font-size: 15px;
}

// .form-control {
//     color: #a4b6c9;
// }

.ng2-smart-action {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem !important;
    color: #a4abb3;
    i.fa {
        font-size: 18px !important;
    }
    &:hover {
        text-decoration: none;
        // color: #a568ff;
    }
}