<section id="edit_deadline">

    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'Edit_Deadline.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/master/list-deadline" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Deadline.Deadline' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Deadline.Edit_Deadline' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/list-deadline" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_deadline_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <app-card cardTitle="{{ 'Edit_Deadline.Edit Deadline Form' | translate }}" [options]="false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('deadline').errors}">
                                <label>{{ 'Edit_Deadline.Deadline_Name' | translate }}</label>
                                <input type="text" name="deadline" formControlName="deadline" class="form-control form-control-md" placeholder="{{ 'Edit_Deadline.Enter_Deadline' | translate }}" [ngClass]="{'is-invalid': checkValidation('deadline').errors}">

                                <ng-container *ngIf="checkValidation('deadline').errors">
                                    <ng-container *ngIf="checkValidation('deadline').required">
                                        <span class="invalid-feedback">{{ 'Edit_Deadline.Please provide Deadline' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Radio Button -->
                    <div class="row">
                        <div class="col-md-12" >
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" [value]="1" class="custom-control-input"
                                    formControlName="radiobutton" [checked]="deadline?.type == '1' ? true : false">
                                <label class="custom-control-label" for="customRadioInline1">{{ 'Edit_Deadline.Number of
                                    Killometer' | translate }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" [value]="2" class="custom-control-input"
                                    formControlName="radiobutton" [checked]="deadline?.type == '2' ? true : false">
                                <label class="custom-control-label" for="customRadioInline2">{{ 'Edit_Deadline.Number of Month' | translate }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- Number of month -->
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('nb_month').errors}">
                                <label>{{ 'Edit_Deadline.Number_of_Month' | translate }}</label>
                                <input type="text" name="nb_month" formControlName="nb_month" class="form-control form-control-md" placeholder="{{ 'Edit_Deadline.Enter_Deadline_Name' | translate }}" [ngClass]="{'is-invalid': checkValidation('nb_month').errors}">

                                <ng-container *ngIf="checkValidation('nb_month').errors">
                                    <ng-container *ngIf="checkValidation('nb_month').required">
                                        <span class="invalid-feedback">{{ 'Edit_Deadline.Please provide Number of Month' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div> -->
                    <!-- Number of killometer  -->
                    <!-- <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('nb_killometer').errors}">
                                <label>{{ 'Edit_Deadline.Number_of_killometer' | translate }}</label>
                                <input type="text" name="nb_killometer" formControlName="nb_killometer" class="form-control form-control-md" placeholder="{{ 'Edit_Deadline.Enter_Number_of_Month' | translate }}" [ngClass]="{'is-invalid': checkValidation('nb_killometer').errors}">

                                <ng-container *ngIf="checkValidation('nb_killometer').errors">
                                    <ng-container *ngIf="checkValidation('nb_killometer').required">
                                        <span class="invalid-feedback">{{ 'Edit_Deadline.Please provide Number of killometer' | translate }}.</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div> -->
                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-md-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>