<section id="add_circuit">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'add_circuit.dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/manage-circuit/list-circuit" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">{{ 'add_circuit.circuits' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'add_circuit.add circuit' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary"
                    routerLink="/manage-circuit/list-circuit" data-toggle="tooltip" data-placement="bottom"
                    title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_circuit_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{'add_circuit.add circuit form' | translate}}" [options]="false">
                    <div class="row">
                        <!-- Reference -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.reference' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('reference').errors}">
                                <input type="text" name="reference" formControlName="reference"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter reference' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('reference').errors}">

                                <ng-container *ngIf="checkValidation('reference').errors">
                                    <ng-container *ngIf="checkValidation('reference').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.Please provide Reference' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <!-- <ng-container *ngIf="checkValidation('reference').patternValidate">
                                        <span class="invalid-feedback">Please provide alphabetical characters only.</span>
                                    </ng-container> -->
                            </div>
                        </div>

                        <!-- Client -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.client' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('client').errors}">

                                <select class="form-control form-control-md" name="client" formControlName="client"
                                    [ngClass]="{'is-invalid': checkValidation('client').errors}">
                                    <option value="">{{ 'add_circuit.select client' | translate }}</option>
                                    <option value="{{user.id}}" *ngFor="let user of users">{{user.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('client').errors">
                                    <ng-container *ngIf="checkValidation('client').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select client' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Date Creation -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.date creation' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('date_creation').errors}">

                                <input type="date" name="date_creation" formControlName="date_creation"
                                    class="form-control form-control-md"
                                    [ngClass]="{'is-invalid': checkValidation('date_creation').errors}">

                                <ng-container *ngIf="checkValidation('date_creation').errors">
                                    <ng-container *ngIf="checkValidation('date_creation').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.Please provide date creation' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- path -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.path' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('path').errors}">

                                <select class="form-control form-control-md" name="path" formControlName="path"
                                    (change)="changeRoot()" [ngClass]="{'is-invalid': checkValidation('path').errors}">
                                    <option value="">{{ 'add_circuit.select path' | translate }}</option>
                                    <option value="{{root.id}}" *ngFor="let root of root_list">{{root.route_name}}
                                    </option>
                                </select>

                                <ng-container *ngIf="checkValidation('path').errors">
                                    <ng-container *ngIf="checkValidation('path').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select path' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Location type -->
                        <!--<div class="col-md-2">

                        </div> 
                            <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('location_type').errors}">
                                <label style="margin-top: 0.5rem;">{{ 'add_circuit.location type' | translate }}</label>
                                <select class="form-control form-control-md" name="location_type"
                                    formControlName="location_type"
                                    [ngClass]="{'is-invalid': checkValidation('location_type').errors}">
                                    <option value="">{{ 'add_circuit.select location type' | translate }}</option>
                                    <option [value]="locationType.id" *ngFor="let locationType of locationTypeArr">
                                        {{locationType.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('location_type').errors">
                                    <ng-container *ngIf="checkValidation('location_type').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select location type' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div> -->

                        <!-- Location type -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.location type' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('location_type').errors}">

                                <select class="form-control form-control-md" name="location_type"
                                    formControlName="location_type"
                                    [ngClass]="{'is-invalid': checkValidation('location_type').errors}">
                                    <option value="">{{ 'add_circuit.select location type' | translate }}</option>
                                    <option [value]="locationType.id" *ngFor="let locationType of location_types">
                                        {{locationType.location_type}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('location_type').errors">
                                    <ng-container *ngIf="checkValidation('location_type').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select location type' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Status -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.status' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('status_name').errors}">

                                <input type="text" name="status_name" formControlName="status_name"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter status_name' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('status_name').errors}">

                                <ng-container *ngIf="checkValidation('status_name').errors">
                                    <ng-container *ngIf="checkValidation('status_name').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.Please provide status' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- departure date -->
                        <div class="col-md-2">
                            <label for="date">{{ 'add_circuit.departure date' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('departure_date').errors}">

                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    [min]="departureMinDate" name="departure_date" formControlName="departure_date"
                                    data-mindate="minDate"
                                    [ngClass]="{'is-invalid': checkValidation('departure_date').errors}"
                                    (change)="departureDateChange()" />

                                <ng-container *ngIf="checkValidation('departure_date').errors">
                                    <ng-container *ngIf="checkValidation('departure_date').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select departure date' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Arrival Date -->
                        <div class="col-md-2">
                            <label for="date">{{ 'add_circuit.arrival date' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('arrival_date').errors}">

                                <input type="date" placeholder="Date" class="form-control form-control-md"
                                    [min]="arrivalMinDate" name="arrival_date" formControlName="arrival_date"
                                    [ngClass]="{'is-invalid': checkValidation('arrival_date').errors}"
                                    (change)="arrivalDateChange()" />

                                <ng-container *ngIf="checkValidation('arrival_date').errors">
                                    <ng-container *ngIf="checkValidation('arrival_date').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select arrival date' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Function Name -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.staff function' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('function_name').errors}">

                                <select class="form-control form-control-md" name="function_name"
                                    formControlName="function_name"
                                    [ngClass]="{'is-invalid': checkValidation('function_name').errors}"
                                    (change)="staffChange()">
                                    <option value="">{{ 'add_circuit.select staff function' | translate }}</option>
                                    <option [value]="function.id" *ngFor="let function of staff_functions">
                                        {{function.function_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('function_name').errors">
                                    <ng-container *ngIf="checkValidation('function_name').required">
                                        <span
                                            class="invalid-feedback">{{ 'add_circuit.please select staff function' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Driver -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.driver' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('driver').errors}">

                                <select class="form-control form-control-md" name="driver" formControlName="driver"
                                    [ngClass]="{'is-invalid': checkValidation('driver').errors}">
                                    <option value="">{{ 'add_circuit.select driver' | translate }}</option>
                                    <option [value]="function.id" *ngFor="let function of driver">{{function.name}}
                                    </option>
                                </select>

                                <ng-container *ngIf="checkValidation('driver').errors">
                                    <ng-container *ngIf="checkValidation('driver').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select driver' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Vehicle -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.vehicle' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('vehicle').errors}">

                                <select class="form-control form-control-md" name="vehicle" formControlName="vehicle"
                                    [ngClass]="{'is-invalid': checkValidation('vehicle').errors}"
                                    (change)="check_vehicle_avilibility()">
                                    <option value="">{{ 'add_circuit.select vehicle' | translate }}</option>
                                    <option [value]="vehilce.id" *ngFor="let vehilce of vehilces">
                                        {{vehilce.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('vehicle').errors">
                                    <ng-container *ngIf="checkValidation('vehicle').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select vehicle' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- passenger Number -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.passenger_number' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('passenger_number').errors}">

                                <input type="text" name="passenger_number" formControlName="passenger_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter_passenger_number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('passenger_number').errors}">

                                <ng-container *ngIf="checkValidation('passenger_number').errors">
                                    <ng-container *ngIf="checkValidation('passenger_number').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please provide passenger number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('passenger_number').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'add_circuit.Please provide Numeric only' | translate }}</span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Tourist Country -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.tourist_country' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <!-- <div class="form-group" [ngClass]="{'has-error': checkValidation('tourist_country').errors}">
                                
                                <input type="text" name="tourist_country" formControlName="tourist_country"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter_tourist_country' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('tourist_country').errors}"> -->
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('tourist_country').errors}">
                                <select class="form-control form-control-md" name="tourist_country"
                                    formControlName="tourist_country"
                                    [ngClass]="{'is-invalid': checkValidation('tourist_country').errors}">
                                    <option value="">{{ 'add_circuit.Select_tourist_country' | translate }}</option>
                                    <option [value]="country.country_id" *ngFor="let country of countries">
                                        {{country.country_name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('tourist_country').errors">
                                    <ng-container *ngIf="checkValidation('tourist_country').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please provide tourist country' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- File Number -->
                        <!-- <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.file_number' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('file_number').errors}">
                                
                                <input type="text" name="file_number" formControlName="file_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter_file_number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('file_number').errors}">

                                <ng-container *ngIf="checkValidation('file_number').errors">
                                    <ng-container *ngIf="checkValidation('file_number').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please provide file number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div> -->

                        <!-- Authorization Number -->
                        <!-- <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.authorization_number' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('authorization_number').errors}">
                                
                                <input type="text" name="authorization_number" formControlName="authorization_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter_authorization_number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('authorization_number').errors}">

                                <ng-container *ngIf="checkValidation('authorization_number').errors">
                                    <ng-container *ngIf="checkValidation('authorization_number').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please provide authorization number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div> -->

                        <!-- Commarcial -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.commarcial' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('commarcial').errors}">

                                <select class="form-control form-control-md" name="commarcial"
                                    formControlName="commarcial"
                                    [ngClass]="{'is-invalid': checkValidation('commarcial').errors}">
                                    <option value="">{{ 'add_circuit.select commarcial' | translate }}</option>
                                    <option value="{{staff_member.id}}" *ngFor="let staff_member of staff_members">
                                        {{staff_member.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('commarcial').errors">
                                    <ng-container *ngIf="checkValidation('commarcial').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select commarcial' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Payment mode -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.payment mode' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('payment_mode').errors}">

                                <select class="form-control form-control-md" name="payment_mode"
                                    formControlName="payment_mode"
                                    [ngClass]="{'is-invalid': checkValidation('payment_mode').errors}">
                                    <option value="">{{ 'add_circuit.select payment mode' | translate }}</option>
                                    <option [value]="payment.id" *ngFor="let payment of paymentModeArr">{{payment.name}}
                                    </option>
                                </select>

                                <ng-container *ngIf="checkValidation('payment_mode').errors">
                                    <ng-container *ngIf="checkValidation('payment_mode').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select payment mode' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- Type of invoicing -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.type of invoicing' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('invoice_type').errors}">

                                <select class="form-control form-control-md" name="invoice_type"
                                    formControlName="invoice_type" (change)="enableFlatRate()"
                                    [ngClass]="{'is-invalid': checkValidation('invoice_type').errors}">
                                    <option value="">{{ 'add_circuit.select invoice type' | translate }}</option>
                                    <option [value]="invoiceMode.id" *ngFor="let invoiceMode of invoiceModeArr">
                                        {{invoiceMode.name}}</option>
                                </select>

                                <ng-container *ngIf="checkValidation('invoice_type').errors">
                                    <ng-container *ngIf="checkValidation('invoice_type').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please select invoice type' | translate}}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                        <!-- flat rate -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.flat rate' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('flat_rate').errors}">

                                <input type="text" name="flat_rate" formControlName="flat_rate"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter flat rate' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('flat_rate').errors}">

                                <ng-container *ngIf="checkValidation('flat_rate').errors">
                                    <ng-container *ngIf="checkValidation('flat_rate').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please provide flat rate' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('nb_km').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'add_circuit.Please provide Numeric only' | translate }}</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- nb km -->
                        <div class="col-md-2">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.nb km' | translate }}</label>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('nb_km').errors}">

                                <input type="text" name="nb_km" formControlName="nb_km"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'add_circuit.enter nb km' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('nb_km').errors}">

                                <ng-container *ngIf="checkValidation('nb_km').errors">
                                    <ng-container *ngIf="checkValidation('nb_km').required">
                                        <span
                                            class="invalid-feedback">{{'add_circuit.please provide nb km' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('nb_km').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'add_circuit.Please provide Numeric only' | translate }}</span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Location Description -->
                        <div class="col-md-12">
                            <div class="form-group"
                                [ngClass]="{'has-error': checkValidation('location_description').errors}">
                                <label
                                    for="location_description">{{ 'add_circuit.Location Description' | translate }}</label>
                                <textarea class="form-control" rows="3" formControlName="location_description"
                                    [ngClass]="{'is-invalid': checkValidation('location_description').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('location_description').errors">
                                    <ng-container *ngIf="checkValidation('location_description').required">
                                        <span
                                            class="invalid-feedback">{{ 'add_circuit.Location Description is required' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- If country is Morocco then display this Table otherwise hide the table -->
                    <ng-container *ngIf="add_circuit_frm.get('tourist_country').value == 148">
                        <!-- Passenger Table -->
                        <div class="row">
                            <div class="col-sm-12">
                                <label
                                    style="margin-top: 0.5rem;">{{ 'add_circuit.Passenger_List' | translate }}</label>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="10%">{{'add_circuit.ID' | translate}}</th>
                                                <th width="25%">{{'add_circuit.Full Name' | translate}}</th>
                                                <th width="20%">{{'add_circuit.Mobile No' | translate}}</th>
                                                <th width="17%">{{'add_circuit.Age' | translate}}</th>
                                                <th width="18%">{{'add_circuit.Gender' | translate}}</th>
                                                <th width="10%">{{'add_circuit.action' | translate}}</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="passenger_list">
                                            <tr *ngFor="let passenger of add_circuit_frm['controls'].passenger_list['controls']; let i = index;"
                                                [formGroupName]="i">
                                                <td>
                                                    {{i+1}}
                                                </td>
                                                <!-- Full Name -->
                                                <td>
                                                    <input formControlName="Full_Name" [ngClass]="{'is-invalid': (passenger.controls.Full_Name.touched || 
                                                passenger.controls.Full_Name.dirty) && 
                                                !passenger.controls.Full_Name.valid }"
                                                        placeholder="{{'add_circuit.enter full name' | translate}}"
                                                        class="form-control mobile-responsive" type="text" />
                                                    <ng-container *ngIf="(passenger.controls.Full_Name.touched || 
                                                passenger.controls.Full_Name.dirty) && 
                                                !passenger.controls.Full_Name.valid">
                                                        <ng-container
                                                            *ngIf="passenger.controls.Full_Name.errors?.required">
                                                            <span
                                                                class="invalid-feedback">{{ 'add_circuit.full name is required' | translate }}</span>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="passenger.controls.Full_Name.errors?.pattern">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.Accept character only' | translate }}.</span>
                                                    </ng-container>
                                                </td>
                                                <!-- Mobile No -->
                                                <td>
                                                    <input formControlName="Mobile_No" [ngClass]="{'is-invalid': (passenger.controls.Mobile_No.touched || 
                                                passenger.controls.Mobile_No.dirty) && 
                                                !passenger.controls.Mobile_No.valid }"
                                                        placeholder="{{'add_circuit.enter Mobile No' | translate}}"
                                                        class="form-control mobile-responsive" type="text" />
                                                    <ng-container *ngIf="(passenger.controls.Mobile_No.touched || 
                                                passenger.controls.Mobile_No.dirty) && 
                                                !passenger.controls.Mobile_No.valid">
                                                        <ng-container
                                                            *ngIf="passenger.controls.Mobile_No.errors?.required">
                                                            <span
                                                                class="invalid-feedback">{{ 'add_circuit.Mobile No is required' | translate }}</span>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="passenger.controls.Mobile_No.errors?.pattern">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.15 digit Mobile number' | translate }}</span>
                                                    </ng-container>
                                                </td>
                                                <!-- Age -->
                                                <td>
                                                    <input formControlName="Age" [ngClass]="{'is-invalid': (passenger.controls.Age.touched || 
                                                passenger.controls.Age.dirty) && 
                                                !passenger.controls.Age.valid }"
                                                        placeholder="{{'add_circuit.Age' | translate}}"
                                                        class="form-control mobile-responsive" type="text" />
                                                    <ng-container *ngIf="(passenger.controls.Age.touched || 
                                                    passenger.controls.Age.dirty) && 
                                                    !passenger.controls.Age.valid">
                                                        <ng-container *ngIf="passenger.controls.Age.errors?.required">
                                                            <span
                                                                class="invalid-feedback">{{ 'add_circuit.Age is required' | translate }}</span>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="passenger.controls.Age.errors?.pattern">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.Numeric only' | translate }}</span>
                                                    </ng-container>
                                                </td>
                                                <!-- Gender -->
                                                <td>
                                                    <select
                                                        class="form-control form-control-md mobile-responsive laptop-responsive"
                                                        name="Gender" formControlName="Gender" [ngClass]="{'is-invalid': (passenger.controls.Gender.touched || 
                                                    passenger.controls.Gender.dirty) && 
                                                    !passenger.controls.Gender.valid }">
                                                        <option value="">{{ 'add_circuit.select gender' | translate }}
                                                        </option>
                                                        <option value="Male">{{"Male" | translate}}</option>
                                                        <option value="Female">{{"Female" | translate}}</option>
                                                    </select>
                                                    <ng-container *ngIf="(passenger.controls.Gender.touched || 
                                                    passenger.controls.Gender.dirty) && 
                                                    !passenger.controls.Gender.valid">
                                                        <ng-container
                                                            *ngIf="passenger.controls.Gender.errors?.required">
                                                            <span
                                                                class="invalid-feedback">{{'add_circuit.please select Gender' | translate}}</span>
                                                        </ng-container>
                                                    </ng-container>
                                                </td>
                                                <td (click)="deletePassengerRow(i)" style="text-align: center;">
                                                    <a class="ng2-smart-action"><i class="fa fa-trash fa-2x"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="display: none;"></td>
                                                <td style="display: none;"></td>
                                                <td style="display: none;"></td>
                                                <td (click)="addPassengerRow()" style="text-align: center;">
                                                    <a class="ng2-smart-action"><i class="fa fa-plus fa-2x"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                    <!-- <div class="row mt-5">
                        <div class="col-md-12">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.path' | translate }}</label>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="path_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10%">{{ 'add_circuit.order' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.city' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.scheduled date' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.actual date' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Paris</td>
                                            <td>08/08/2020</td>
                                            <td>02/08/2020</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        </div> -->

                    <!-- Path Table -->
                    <div class="row">
                        <div class="col-sm-12">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.path' | translate }}</label>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10%">{{'add_circuit.order' | translate}}</th>
                                            <th width="30%">{{'add_circuit.city' | translate}}</th>
                                            <th width="25%">{{'add_circuit.scheduled date' | translate}}</th>
                                            <th width="25%">{{'add_circuit.actual date' | translate}}</th>
                                            <th width="10%">{{'add_circuit.action' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="root_movement">
                                        <tr *ngFor="let root of add_circuit_frm['controls'].root_movement['controls']; let i = index;"
                                            [formGroupName]="i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <!-- <input formControlName="destination" [ngClass]="{'is-invalid': (root.controls.destination.touched || 
                                                    root.controls.destination.dirty) && 
                                                    !root.controls.destination.valid }"
                                                    placeholder="{{'add_circuit.enter city name' | translate}}"
                                                    class="form-control" type="text" /> -->
                                                <!-- <input formControlName="destination_name" 
                                                    placeholder="{{'add_circuit.enter city name' | translate}}"
                                                    class="form-control mobile-responsive" type="text" />
                                                <ng-container *ngIf="(root.controls.destination_name.touched || 
                                                    root.controls.destination_name.dirty) && 
                                                    !root.controls.destination_name.valid">
                                                    <ng-container
                                                        *ngIf="root.controls.destination_name.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.city name is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container> -->

                                                <select class="form-control form-control-md" name="destination"
                                                    formControlName="destination">
                                                    <option value="">{{ 'add_circuit.select city name' | translate }}
                                                    </option>
                                                    <option [value]="city.city_id" *ngFor="let city of cities">
                                                        {{city.city_name}}</option>
                                                </select>
                                                <ng-container *ngIf="(root.controls.destination.touched || 
                                                root.controls.destination.dirty) && 
                                                !root.controls.destination.valid">
                                                    <ng-container *ngIf="root.controls.destination.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{'add_circuit.please select city name' | translate}}</span>
                                                    </ng-container>
                                                </ng-container>

                                            </td>
                                            <td>
                                                <input formControlName="schedule_date" [ngClass]="{'is-invalid': (root.controls.schedule_date.touched || 
                                                  root.controls.schedule_date.dirty) && 
                                                  !root.controls.schedule_date.valid }"
                                                    class="form-control mobile-responsive" type="date"
                                                    [min]="minimumDate" [max]="maximumDate" />
                                                <ng-container *ngIf="(root.controls.schedule_date.touched || 
                                                  root.controls.schedule_date.dirty) && 
                                                  !root.controls.schedule_date.valid">
                                                    <ng-container *ngIf="root.controls.schedule_date.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.please select schedule date' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input type="date" placeholder="Date"
                                                    class="form-control form-control-md mobile-responsive"
                                                    name="actual_date" formControlName="actual_date" [ngClass]="{'is-invalid': (root.controls.actual_date.touched || 
                                                        root.controls.actual_date.dirty) && 
                                                        !root.controls.actual_date.valid }" [min]="minimumDate"
                                                    [max]="maximumDate" />

                                                <ng-container *ngIf="(root.controls.actual_date.touched || 
                                                        root.controls.actual_date.dirty) && 
                                                        !root.controls.actual_date.valid">
                                                    <ng-container *ngIf="root.controls.actual_date.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{'add_circuit.please select actual date' | translate}}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td (click)="deleteRootRow(i)" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-trash fa-2x"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td (click)="addRootRow()" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-plus fa-2x"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row mt-5">
                        <div class="col-md-12">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.affection detail' | translate }}</label>
                            <div class="table-responsive">
                                <table datatable [dtOptions]="path_table"
                                    class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10%">{{ 'add_circuit.vehicle' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.dated' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.date at' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.km start' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.km arrival' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.driver' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.comment' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>audi</td>
                                            <td>08/08/2020</td>
                                            <td>02/08/2020</td>
                                            <td>1100</td>
                                            <td>11000</td>
                                            <td>warner</td>
                                            <td>good</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> -->

                    <!-- Affection detail -->
                    <div class="row">
                        <div class="col-sm-12">
                            <label style="margin-top: 0.5rem;">{{ 'add_circuit.affection detail' | translate }}</label>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th width="10%">{{ 'add_circuit.order' | translate }}</th>
                                            <th width="20%">{{ 'add_circuit.vehicle' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.dated' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.date at' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.km start' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.km arrival' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.driver' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.comment' | translate }}</th>
                                            <th width="10%">{{ 'add_circuit.action' | translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="affection_details">
                                        <tr *ngFor="let affect of add_circuit_frm['controls'].affection_details['controls']; let i = index;"
                                            [formGroupName]="i">
                                            <td>
                                                {{i+1}}
                                            </td>
                                            <td>
                                                <!-- <input formControlName="vehicle" [ngClass]="{'is-invalid': (affect.controls.vehicle.touched || 
                                                    affect.controls.vehicle.dirty) && 
                                                    !affect.controls.vehicle.valid }"
                                                    placeholder="{{'add_circuit.enter vehicle name' | translate}}"
                                                    class="form-control" type="text" /> -->
                                                <select
                                                    class="form-control form-control-md mobile-responsive laptop-responsive"
                                                    name="vehicle" formControlName="vehicle" [ngClass]="{'is-invalid': (affect.controls.vehicle.touched || 
                                                    affect.controls.vehicle.dirty) && 
                                                    !affect.controls.vehicle.valid }"
                                                    (change)="check_vehicle_avilibility()">
                                                    <option value="">{{ 'add_circuit.select vehicle' | translate }}
                                                    </option>
                                                    <option [value]="vehilce.id" *ngFor="let vehilce of vehilces">
                                                        {{vehilce.name}}</option>
                                                </select>
                                                <ng-container *ngIf="(affect.controls.vehicle.touched || 
                                                    affect.controls.vehicle.dirty) && 
                                                    !affect.controls.vehicle.valid">
                                                    <ng-container *ngIf="affect.controls.vehicle.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{'add_circuit.please select vehicle' | translate}}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="from_date" [ngClass]="{'is-invalid': (affect.controls.from_date.touched || 
                                                  affect.controls.from_date.dirty) && 
                                                  !affect.controls.from_date.valid }"
                                                    class="form-control mobile-responsive laptop-responsive" type="date"
                                                    [min]="minimumDate" [max]="maximumDate" />
                                                <ng-container *ngIf="(affect.controls.from_date.touched || 
                                                  affect.controls.from_date.dirty) && 
                                                  !affect.controls.from_date.valid">
                                                    <ng-container *ngIf="affect.controls.from_date.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.please select from date' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input type="date" placeholder="Date"
                                                    class="form-control form-control-md mobile-responsive laptop-responsive"
                                                    name="actual_date" formControlName="to_date" [ngClass]="{'is-invalid': (affect.controls.to_date.touched || 
                                                        affect.controls.to_date.dirty) && 
                                                        !affect.controls.to_date.valid }" [min]="minimumDate"
                                                    [max]="maximumDate" />

                                                <ng-container *ngIf="(affect.controls.to_date.touched || 
                                                        affect.controls.to_date.dirty) && 
                                                        !affect.controls.to_date.valid">
                                                    <ng-container *ngIf="affect.controls.to_date.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{'add_circuit.please select to date' | translate}}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="km_start" [ngClass]="{'is-invalid': (affect.controls.km_start.touched || 
                                                affect.controls.km_start.dirty) && 
                                                !affect.controls.km_start.valid }"
                                                    placeholder="{{'add_circuit.enter km start' | translate}}"
                                                    class="form-control mobile-responsive laptop-responsive"
                                                    type="text" />
                                                <ng-container *ngIf="(affect.controls.km_start.touched || 
                                                affect.controls.km_start.dirty) && 
                                                !affect.controls.km_start.valid">
                                                    <ng-container *ngIf="affect.controls.km_start.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.km start is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="affect.controls.km_start.errors?.pattern">
                                                    <span
                                                        class="invalid-feedback">{{ 'add_circuit.Please provide Numeric only' | translate }}</span>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="km_arrival" [ngClass]="{'is-invalid': (affect.controls.km_arrival.touched || 
                                                affect.controls.km_arrival.dirty) && 
                                                !affect.controls.km_arrival.valid }"
                                                    placeholder="{{'add_circuit.enter km arrival' | translate}}"
                                                    (change)="calcualteKM()"
                                                    class="form-control mobile-responsive laptop-responsive"
                                                    type="text" />
                                                <ng-container *ngIf="(affect.controls.km_arrival.touched || 
                                                affect.controls.km_arrival.dirty) && 
                                                !affect.controls.km_arrival.valid">
                                                    <ng-container *ngIf="affect.controls.km_arrival.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.km arrival is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="affect.controls.km_arrival.errors?.pattern">
                                                    <span
                                                        class="invalid-feedback">{{ 'add_circuit.Please provide Numeric only' | translate }}</span>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <!-- <input formControlName="driver" [ngClass]="{'is-invalid': (affect.controls.driver.touched || 
                                                    affect.controls.driver.dirty) && 
                                                    !affect.controls.driver.valid }"
                                                    placeholder="{{'add_circuit.enter driver name' | translate}}"
                                                    class="form-control" type="text" /> -->
                                                <select
                                                    class="form-control form-control-md mobile-responsive laptop-responsive"
                                                    name="driver" formControlName="driver" [ngClass]="{'is-invalid': (affect.controls.driver.touched || 
                                                    affect.controls.driver.dirty) && 
                                                    !affect.controls.driver.valid }">
                                                    <option value="">{{ 'add_circuit.select driver' | translate }}
                                                    </option>
                                                    <option [value]="function.id" *ngFor="let function of driver">
                                                        {{function.name}}</option>
                                                </select>
                                                <ng-container *ngIf="(affect.controls.driver.touched || 
                                                    affect.controls.driver.dirty) && 
                                                    !affect.controls.driver.valid">
                                                    <ng-container *ngIf="affect.controls.driver.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{'add_circuit.please select driver' | translate}}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td>
                                                <input formControlName="comment" [ngClass]="{'is-invalid': (affect.controls.comment.touched || 
                                                    affect.controls.comment.dirty) && 
                                                    !affect.controls.comment.valid }"
                                                    placeholder="{{'add_circuit.enter comment' | translate}}"
                                                    class="form-control mobile-responsive laptop-responsive"
                                                    type="text" />
                                                <ng-container *ngIf="(affect.controls.comment.touched || 
                                                    affect.controls.comment.dirty) && 
                                                    !affect.controls.comment.valid">
                                                    <ng-container *ngIf="affect.controls.comment.errors?.required">
                                                        <span
                                                            class="invalid-feedback">{{ 'add_circuit.comment is required' | translate }}</span>
                                                    </ng-container>
                                                </ng-container>
                                            </td>
                                            <td (click)="deleteAffectionRow(i)" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-trash fa-2x"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td style="display: none;"></td>
                                            <td (click)="addAffectionRow()" style="text-align: center;">
                                                <a class="ng2-smart-action"><i class="fa fa-plus fa-2x"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row" style="margin-top: 1rem;">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>