<section id="clients_list">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-10 col-md-10 col-lg-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Clients.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/user/list-clients" style="cursor: pointer;"><a class="breadcrumb-font-style">clients</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_tourism_company.List_Companies' | translate }}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-1 mb-2">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/user/add-tourism-company" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                    <!-- <table datatable [dtOptions]="paginationTop" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover"> -->
                        <thead>
                            <tr>
                                <th width="10%">{{ 'List_tourism_company.ID' | translate }}</th>
                                <th width="25%">{{ 'List_tourism_company.tourism company name' | translate }}</th>
                                <th width="25%">{{ 'List_Clients.Email' | translate }}</th>
                                <th width="20%">{{ 'List_Clients.Phone' | translate }}</th>
                                <th width="10%">{{ 'List_Clients.Status' | translate }}</th>
                                <th width="10%">{{ 'List_Clients.Action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="tourism_company_list.length !== 0; else emptyTourismCompany"></ng-container>
                            <tr *ngFor="let item of tourism_company_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.phone}}</td>
                                <td class="status">
                                    <div class="form-group" style="text-align: center; margin-bottom: 0px;">
                                        <div class="switch switch-primary d-inline">
                                            <input type="checkbox" id="{{item.id}}" [checked]="item.status == '1' ? true : false" (change)="statusChange(i, item.id, $event)">
                                            <label for="{{item.id}}" class="cr"></label>
                                        </div>
                                        <!-- <label>Checked</label> -->
                                    </div>
                                </td>
                                <td>
                                    <div class="actions">
                                        <a class="ng2-smart-action" ngClass="{{item.status == '0' ? 'a-disabled' : ''}}" [routerLink]="['/user/edit-tourism-company', item.id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                        <a class="ng2-smart-action" [routerLink]="['/user/view-tourism-company', item.id]" title="View"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                        <!-- <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a> -->
                                    </div>
                                </td>
                            </tr>

                            <ng-template #emptyTourismCompany>
                                <tr>
                                    <td colspan="6" class="empty-row" style="text-align: center;">{{ 'List_tourism_company.No Companies Available' | translate }}.</td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="10%">{{ 'List_tourism_company.ID' | translate }}</th>
                                <th width="25%">{{ 'List_tourism_company.tourism company name' | translate }}</th>
                                <th width="25%">{{ 'List_Clients.Email' | translate }}</th>
                                <th width="20%">{{ 'List_Clients.Phone' | translate }}</th>
                                <th width="10%">{{ 'List_Clients.Status' | translate }}</th>
                                <th width="10%">{{ 'List_Clients.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>