<section id="view_vehicle">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'view_vehicle.Dashboard' | translate }}</a></li>
                        <li class="breadcrumb-item" routerLink="/manage-vehicle/list-vehicle" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'view_vehicle.Vehicle' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'view_vehicle.View Vehicle' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <!-- <div class="col-sm-2">
                <button type="back" style="width: inherit;" class="btn btn-lg btn-primary" routerLink="/manage-vehicle/list-vehicle">Back to List</button>
            </div> -->
            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-vehicle/list-vehicle" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <tbody>
                                        
                                        <tr>
                                             <!-- Designation -->
                                             <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Designation' | translate }}</th>
                                             <td style="font-weight: bold; font-size: 18px;">
                                                 {{vehicle_details?.details?.name}}
                                             </td>
                                             <!-- Registration Number -->
                                            <th width="10%" style="border-bottom: 1px solid #e2e5e8; font-size: 18px;">{{ 'view_vehicle.Registration Number' | translate }}</th>
                                            <td style="border-bottom: 1px solid #e2e5e8; font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.registration}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- Vehicle Category -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Vehicle Category' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.category}}
                                            </td>
                                            <!-- Capacity -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Capacity' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.capacity}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- Brand Name -->
                                            <th width="10%" style="border-bottom: 1px solid #e2e5e8; font-size: 18px;">{{ 'view_vehicle.Brand Name' | translate }}</th>
                                            <td style="border-bottom: 1px solid #e2e5e8; font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.brand_name}}
                                            </td>
                                            <!-- Vehicle Provider -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Vehicle Provider' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.provider_name}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- Acquisition Date -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Acquisition Date' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.acquisition_date}}
                                            </td>
                                            <!-- Acquisition Cost -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Acquisition Cost' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.acquisition_cost}}
                                            </td>
                                        </tr>
                                            
                                        <tr>
                                            <!-- File Number -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.File Number' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.file_number}}
                                            </td>
                                            <!-- Authorization Number -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Authorization Number' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.autorisation_number}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- Description -->
                                            <th width="10%" style="font-size: 18px;">{{ 'view_vehicle.Description' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{vehicle_details?.details?.discription}}
                                            </td>
                                        </tr>
                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'view_vehicle.Vehicle Deadline Table' | translate }}</h5>
                    </div>
                </div>

                <div class="table-responsive" id="feature">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'view_vehicle.id' | translate }}</th>
                                <th width="30%">{{ 'view_vehicle.deadline' | translate }}</th>
                                <th width="20%">{{ 'view_vehicle.deadline_value' | translate }}</th>
                                <th width="20%">{{ 'view_vehicle.organization' | translate }}</th>
                                <th width="20%">{{ 'view_vehicle.amount' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="vehicle_deadline_list.length !== 0; else emptyDeadline">
                            <tr *ngFor="let item of vehicle_deadline_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.deadline}}</td>
                                <td>{{item.deadline_value}}</td>
                                <td>{{item.organization}}</td>
                                <td>{{item.amount}}</td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyDeadline>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align:center">{{'view_vehicle.no deadline list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5>{{ 'view_vehicle.Vehicle Feature Table' | translate }}</h5>
                    </div>
                </div>

                <div class="table-responsive" id="feature">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="10%">{{ 'view_vehicle.id' | translate }}</th>
                                <th width="30%">{{ 'view_vehicle.feature' | translate }}</th>
                                <th width="30%">{{ 'view_vehicle.quantity' | translate }}</th>
                                <th width="30%">{{ 'view_vehicle.unit' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="vehicle_feature_list.length !== 0; else emptyFeature">
                            <tr *ngFor="let item of vehicle_feature_list;let i=index">
                                <td>{{i + 1}}</td>
                                <td>{{item.feature}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.unit}}</td>
                            </tr>
                        </ng-container>
                            <ng-template #emptyFeature>
                                <tr>
                                    <td colspan="5" class="empty-row" style="text-align:center">{{'view_vehicle.no feature list available' | translate}}</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                            </ng-template>

                        </tbody>
                    </table>
                </div>

            </app-card>
        </div>
    </div>
    
</section>