<section id="edit_receipt">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'Edit_Receipt.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-receipt" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Receipt.Accounts' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Receipt.Receipt' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-receipt" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_receipt_frm" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Receipt.Edit Receipt Form' | translate }}" [options]="false">
                    <div class="row">

                        <!-- MVT Code -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('mvt_code').errors}">
                                <label>{{ 'Edit_Receipt.MVT Code' | translate }}</label>
                                <input type="text" name="mvt_code" formControlName="mvt_code" class="form-control form-control-md" placeholder="{{ 'Edit_Receipt.Enter_Mvt_Code' | translate }}" [ngClass]="{'is-invalid': checkValidation('mvt_code').errors}">

                                <ng-container *ngIf="checkValidation('mvt_code').errors">
                                    <ng-container *ngIf="checkValidation('mvt_code').required">
                                        <span class="invalid-feedback">{{ 'Edit_Receipt.Please provide MVT Code' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Designation -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('designation').errors}">
                                <label>{{ 'Edit_Receipt.Designation' | translate }}</label>
                                <input type="text" name="designation" formControlName="designation" class="form-control form-control-md" placeholder="{{ 'Edit_Receipt.Enter_Designation' | translate }}" [ngClass]="{'is-invalid': checkValidation('designation').errors}">

                                <ng-container *ngIf="checkValidation('designation').errors">
                                    <ng-container *ngIf="checkValidation('designation').required">
                                        <span class="invalid-feedback">{{ 'Edit_Receipt.Please provide Designation' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Account -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('account_number').errors}">
                                <label>{{ 'Edit_Receipt.Account_Number' | translate }}</label>
                                <input type="text" appOnlynumber name="account_number" formControlName="account_number" class="form-control form-control-md" placeholder="{{ 'Edit_Receipt.Enter_Account_Number' | translate }}" [ngClass]="{'is-invalid': checkValidation('account_number').errors}">

                                <ng-container *ngIf="checkValidation('account_number').errors">
                                    <ng-container *ngIf="checkValidation('account_number').required">
                                        <span class="invalid-feedback">{{ 'Edit_Receipt.Please provide Account Number' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('account_number').patternValidate">
                                    <span class="invalid-feedback">{{ 'Edit_Receipt.Please provide Numeric only' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Meaning -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('meaning').errors}">
                                <label>{{ 'Edit_Receipt.Meaning' | translate }}</label>
                                <select class="form-control form-control-md" name="meaning" formControlName="meaning" [ngClass]="{'is-invalid': checkValidation('meaning').errors}">
                                    <option value="">{{ 'Edit_Receipt.Select_Meaning' | translate }}</option>
                                    <option value="1">Credit</option>
                                    <option value="2">Debit</option>
                                </select>

                                <ng-container *ngIf="checkValidation('meaning').errors">
                                    <ng-container *ngIf="checkValidation('meaning').required">
                                        <span class="invalid-feedback">{{ 'Edit_Receipt.Please Select Meaning' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Active -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('active').errors}">
                                <label>{{ 'Edit_Receipt.Active' | translate }}</label>
                                <select class="form-control form-control-md" name="active" formControlName="active" [ngClass]="{'is-invalid': checkValidation('active').errors}">
                                    <option value="">{{ 'Edit_Receipt.Select_Active' | translate }}</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>

                                <ng-container *ngIf="checkValidation('active').errors">
                                    <ng-container *ngIf="checkValidation('active').required">
                                        <span class="invalid-feedback">{{ 'Edit_Receipt.Please Select Active' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>