<section id="change-password">
    <!-- Breadcrum section -->
    <!-- <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-10">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'Change_Password.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/master/list-brand" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Change_Password.Brand' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Change_Password.Change_Password' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-2">
                <button type="back" style="width: inherit;" class="btn btn-lg btn-primary" routerLink="/master/list-brand">{{ 'Change_Password.Button_Back_To_List' | translate }}</button>
            </div>
        </div>
    </section> -->

    <!-- Form Section -->
    <form [formGroup]="Change_Password_frm" (ngSubmit)="changePassword()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="Change Passowrd Form" [options]="false">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('old_password').errors}">
                                <label>{{ 'Change_Password.Old_Password' | translate }}</label>
                                <input type="text" name="old_password" formControlName="old_password" class="form-control form-control-md" placeholder="{{ 'Change_Password.Enter_Old_Password' | translate }}" [ngClass]="{'is-invalid': checkValidation('old_password').errors}">

                                <ng-container *ngIf="checkValidation('old_password').errors">
                                    <ng-container *ngIf="checkValidation('old_password').required">
                                        <span class="invalid-feedback">Please provide Old Password</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('new_password').errors}">
                                <label>{{ 'Change_Password.New_Password' | translate }}</label>
                                <input type="text" name="new_password" formControlName="new_password" class="form-control form-control-md" placeholder="{{ 'Change_Password.Enter_New_Password' | translate }}" [ngClass]="{'is-invalid': checkValidation('new_password').errors}">

                                <ng-container *ngIf="checkValidation('new_password').errors">
                                    <ng-container *ngIf="checkValidation('new_password').required">
                                        <span class="invalid-feedback">Please provide New Password</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('confirm_password').errors}">
                                <label>{{ 'Change_Password.Confirm_Password' | translate }}</label>
                                <input type="text" name="confirm_password" formControlName="confirm_password" class="form-control form-control-md" placeholder="{{ 'Change_Password.Enter_Confirm_Password' | translate }}" [ngClass]="{'is-invalid': checkValidation('confirm_password').errors}">

                                <ng-container *ngIf="checkValidation('confirm_password').errors">
                                    <ng-container *ngIf="checkValidation('confirm_password').required">
                                        <span class="invalid-feedback">Please provide Confirm Password</span>

                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-lg btn-primary">{{ 'Change_Password.Button_Save' | translate }}</button>
                            <button type="cancel" class="btn btn-lg btn-secondary" routerLink="/dashboard/analytics">{{ 'Change_Password.Button_Cancel' | translate }}</button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>