<section id="list_staff_members">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 0.5rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i> {{ 'List_Staff_Members.Dashboard' | translate }}
                            </a>
                        </li>
                        <!-- <li class="breadcrumb-item" routerLink="/manage-staff/list-staff-members" style="cursor: pointer;"><a class="breadcrumb-font-style">staff-members</a></li> -->
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'List_Staff_Members.List_Staff_Members' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/manage-staff/add-staff-members" data-toggle="tooltip" data-placement="bottom" title="Add"><i class="feather icon-plus"></i></button>
            </div>
        </div>
    </section>

    <!-- Filter Section -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardTitle="Filter Section" [options]="false">
                <div class="row">
                    <div class="col-md-1">
                        <label style="margin-top: 0.3rem;">{{ 'List_Staff_Members.Function' | translate }}</label>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <select class="form-control form-control-md" name="function" [(ngModel)]="function_id">
                                <option value="">{{ 'Add_Staff_Members.Select_Function_Name' | translate }}</option>
                                    <option [value]="function.id" *ngFor="let function of staff_functions">{{function.function_name}}</option>
                            </select>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="col-md-4" style="text-align: end;">
                        <button type="submit" class="btn btn-primary" (click)="filterAction()" style="width: auto; margin-right: 8px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                        <button type="submit" class="btn btn-danger" (click)="cancelAction()" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Cancel"><i class="feather icon-x"></i></button>
                    </div>
                    <!-- <div class="col-sm-1" style="text-align: end;">
                        <button type="submit" class="btn btn-secondary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Filter"><i class="feather icon-filter"></i></button>
                    </div> -->

                </div>
            </app-card>
        </div>
    </div>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="table-responsive">
                    <table datatable [dtOptions]="dtExportButtonOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th width="5%">{{ 'List_Staff_Members.ID' | translate }}</th>
                                <th width="15%">{{ 'List_Staff_Members.Name' | translate }}</th>
                                <th width="12%">{{ 'List_Staff_Members.Function' | translate }}</th>
                                <th width="15%">{{ 'List_Staff_Members.Contract_Type' | translate }}</th>
                                <th width="10%">{{ 'List_Staff_Members.Marital_status' | translate }}</th>
                                <th width="15%">{{ 'List_Staff_Members.Phone' | translate }}</th>
                                <th width="8%">{{ 'List_Staff_Members.Access' | translate }}</th>
                                <th width="10%">{{ 'List_Staff_Members.Status' | translate }}</th>
                                <th width="10%">{{ 'List_Staff_Members.Action' | translate }}</th>
                            </tr>
                        </thead> 
                        <tbody>
                            <ng-container *ngIf="staff_members_list.length !== 0; else emptyStaffMember">
                                <tr *ngFor="let item of staff_members_list;let i=index">
                                    <td>{{i + 1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.function_name}}</td>
                                    <td>{{item.contract_type}}</td>
                                    <td>{{item.marital_status}}</td> 
                                    <td>{{item.phone}}</td>
                                    <!-- Ternary Operator -->
                                    <td>{{item.accesibility == '1' ? 'No' : 'Yes' }}</td>
                                    <td class="status">
                                        <div class="form-group" style="text-align: center; margin-bottom: 0px;">
                                            <div class="switch switch-primary d-inline">
                                                <input type="checkbox" id="{{item.id}}" [checked]="item.status == '1' ? true : false"  (change)="statusChange(i, item.id, $event)">
                                                <label for="{{item.id}}" class="cr"></label>
                                            </div>
                                            <!-- <label>Checked</label> -->
                                        </div>
                                    </td>
                                    <td>
                                        <div class="actions">
                                            <a class="ng2-smart-action" ngClass="{{item.status == '0' ? 'a-disabled' : ''}}" [routerLink]="['/manage-staff/edit-staff-members', item.id]" title="Edit"><i class="feather icon-edit" style="color: #009DA0 !important;"></i></a>
                                            <a class="ng2-smart-action" [routerLink]="['/manage-staff/view-staff-members', item.id]" title="View"><i class="feather icon-eye" style="color: #a568ff;"></i></a>
                                            <!-- <a class="ng2-smart-action" style="cursor: pointer;" (click)="deleteAction(id)" title="Delete"><i class="feather icon-trash" style="color: #FF586B !important;"></i></a> -->
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            
                            <ng-template #emptyStaffMember>
                                <tr>
                                    <td colspan="9" class="empty-row" style="text-align: center;">{{ 'List_Staff_Members.No Staff Members Available' | translate }}.</td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                    <td style="display: none;"></td>
                                </tr>
                            </ng-template>

                        </tbody>
                        <tfoot>
                            <tr>
                                <th width="5%">{{ 'List_Staff_Members.ID' | translate }}</th>
                                <th width="15%">{{ 'List_Staff_Members.Name' | translate }}</th>
                                <th width="12%">{{ 'List_Staff_Members.Function' | translate }}</th>
                                <th width="15%">{{ 'List_Staff_Members.Contract_Type' | translate }}</th>
                                <th width="10%">{{ 'List_Staff_Members.Marital_status' | translate }}</th>
                                <th width="15%">{{ 'List_Staff_Members.Phone' | translate }}</th>
                                <th width="8%">{{ 'List_Staff_Members.Access' | translate }}</th>
                                <th width="10%">{{ 'List_Staff_Members.Status' | translate }}</th>
                                <th width="10%">{{ 'List_Staff_Members.Action' | translate }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </app-card>
        </div>
    </div>
</section>