.card-header {
    padding: 20px 25px !important;
}

@media (max-width: 1000px) and (min-width: 768px) {
    .cards-style{
        margin-left: 11px;
        font-size: 14px;
    }
} 

@media (max-width: 1366px) and (min-width: 1024px) {
    .card-style{
        margin-left: 11px;
        font-size: 13px;
    }
}

@media (min-width: 1400px) {
    .card-style{
        margin-left: 11px;
        font-size: 20px;
    }
}