<div class="row">
	<!-- Admin Cards -->
	<ng-container *ngIf="this.global.currentUser.user_role == '1'">
		<div class="col-sm-12">
			<div class="row no-gutters">
				<div class="col-md-4">
					<app-card [hidHeader]="true">
						<div class="row">
							<div class="col-md-3">
								<i class="far fa-building"
									style="color: #a568ff; font-size: 50px; text-align: start"></i>
							</div>
							<div class="col-md-5">
								<h5 style="margin-top: 10px; text-align: center" class="cards-style card-style">
									{{ 'Dashboards.Company' | translate }}
								</h5>
							</div>
							<div class="col-md-4">
								<h2 style="text-align: end;">{{dashboard_list?.users}}</h2>
							</div>
						</div>

					</app-card>
				</div>

				<div class="col-md-4">
					<app-card [hidHeader]="true">
						<div class="row">
							<div class="col-md-3">
								<i class="fas fa-file-invoice"
									style="color: #a568ff; font-size: 50px; text-align: start"></i>
							</div>
							<div class="col-md-5">
								<h5 style="margin-top: 10px; text-align: center" class="cards-style card-style">
									{{ 'Dashboards.Invoice' | translate }}
								</h5>
							</div>
							<div class="col-md-4">
								<h2 style="text-align: end;">{{dashboard_list?.invoice}}</h2>
							</div>
						</div>

					</app-card>
				</div>

				<div class="col-md-4">
					<app-card [hidHeader]="true">
						<div class="row">
							<div class="col-md-3">
								<i class="far fa-map" style="color: #a568ff; font-size: 50px; text-align: start"></i>
							</div>
							<div class="col-md-5">
								<h5 style="margin-top: 10px; text-align: center" class="cards-style card-style">
									{{ 'Dashboards.Circuits' | translate }}
								</h5>
							</div>
							<div class="col-md-4">
								<h2 style="text-align: end;">{{dashboard_list?.circuit}}</h2>
							</div>
						</div>

					</app-card>
				</div>
			</div>
		</div>
	</ng-container>

	<!-- Tourism company cards -->
	<ng-container *ngIf="this.global.currentUser.user_role == '2'">
		<div class="col-sm-12">
			<div class="row no-gutters">
				<div class="col-md-4">
					<app-card [hidHeader]="true">
						<div class="row">
							<div class="col-md-3">
								<i class="fas fa-car" style="color: #a568ff; font-size: 50px; text-align: start"></i>
							</div>
							<div class="col-md-5">
								<h5 style="margin-top: 10px; text-align: center" class="cards-style card-style">
									{{ 'Dashboards.Vehicles' | translate }}
								</h5>
							</div>
							<div class="col-md-4">
								<h2 style="text-align: end;">{{dashboard_list?.vehicles}}</h2>
							</div>
						</div>
					</app-card>
				</div>

				<div class="col-md-4">
					<app-card [hidHeader]="true">
						<div class="row">
							<div class="col-md-3">
								<i class="fas fa-file-invoice"
									style="color: #a568ff; font-size: 50px; text-align: start"></i>
							</div>
							<div class="col-md-5">
								<h5 style="margin-top: 10px; text-align: center" class="cards-style card-style">
									{{ 'Dashboards.Invoice' | translate }}
								</h5>
							</div>
							<div class="col-md-4">
								<h2 style="text-align: end;">{{dashboard_list?.invoice}}</h2>
							</div>
						</div>

					</app-card>
				</div>

				<div class="col-md-4">
					<app-card [hidHeader]="true">
						<div class="row">
							<div class="col-md-3">
								<i class="far fa-map" style="color: #a568ff; font-size: 50px; text-align: start"></i>
							</div>
							<div class="col-md-5">
								<h5 style="margin-top: 10px; text-align: center" class="cards-style card-style">
									{{ 'Dashboards.Circuits' | translate }}
								</h5>
							</div>
							<div class="col-md-4">
								<h2 style="text-align: end;">{{dashboard_list?.circuit}}</h2>
							</div>
						</div>

					</app-card>
				</div>
			</div>
		</div>
	</ng-container>

	<!-- {{bar1CAC | json}} -->

	<!-- Graph Section -->
	<ng-container *ngIf="this.global.currentUser.user_role == '1' ||this.global.currentUser.user_role == '2'">
		<div class="table-responsive">
			<div class="col-xl-12">
				<app-card cardTitle="TurnOver Chart" [options]="false">
					<app-apex-chart chartID="bar-chart-1-cac"></app-apex-chart>
				</app-card>
			</div>
		</div>
	</ng-container>

	<!-- Cities and region List -->
	<ng-container *ngIf="this.global.currentUser.user_role == '1' ||this.global.currentUser.user_role == '2'">
		<div class="col-xl-12">
			<app-card cardTitle="City, Region, and Creator" [options]="false" blockClass="table-border-style">
				<div class="table-responsive">
					<table class="table table-lg table-hover m-0">
						<thead>
							<tr>
								<th>{{ 'Dashboards.SR NO' | translate }}</th>
								<th>{{ 'Dashboards.City' | translate }}</th>
								<th>{{ 'Dashboards.Region' | translate }}</th>
								<!-- <th>{{ 'Dashboards.Creator' | translate }}</th> -->
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="cities_list.length !== 0;">
								<tr *ngFor="let item of cities_list;let i=index">
									<td>{{i+1}}</td>
									<td>{{item.city_name}}</td>
									<td>{{item.region}}</td>
									<!-- <td>{{item.creator}}</td> -->
								</tr>
							</ng-container>

						</tbody>
					</table>
				</div>
			</app-card>
		</div>
	</ng-container>
	

	<!-- Customer Lists -->
	<ng-container *ngIf="this.global.currentUser.user_role == '2'">
		<div class="col-xl-12">
			<app-card cardTitle="List of Clients" [options]="false" blockClass="table-border-style invoice-summary">
				<div class="table-responsive">
					<table class="table table-lg table-hover m-0">
						<thead>
							<tr>
								<th width="20%">{{ 'Dashboards.SR NO' | translate }}</th>
								<th width="30%">{{ 'Dashboards.Name' | translate }}</th>
								<th width="25%">{{ 'Dashboards.Email' | translate }}</th>
								<th width="25%">{{ 'Dashboards.Phone NO' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="clients_list.length !== 0;">
								<tr *ngFor="let item of clients_list;let i=index">
									<td>{{i + 1}}</td>
									<td>{{item.name}}</td>
									<td>{{item.email}}</td>
									<td>{{item.phone}}</td>
								</tr>
							</ng-container>

						</tbody>
					</table>
				</div>
			</app-card>
		</div>
	</ng-container>

	<!-- Touriism Company Lists -->
	<ng-container *ngIf="this.global.currentUser.user_role == '1'">
		<div class="col-xl-12">
			<app-card cardTitle="List of Tourism COmpany" [options]="false"
				blockClass="table-border-style invoice-summary">
				<div class="table-responsive">
					<table class="table table-lg table-hover m-0">
						<thead>
							<tr>
								<th width="20%">{{ 'Dashboards.SR NO' | translate }}</th>
								<th width="30%">{{ 'Dashboards.Name' | translate }}</th>
								<th width="25%">{{ 'Dashboards.Email' | translate }}</th>
								<th width="25%">{{ 'Dashboards.Phone NO' | translate }}</th>
							</tr>
						</thead>
						<tbody>
							<ng-container *ngIf="clients_list.length !== 0;">
								<tr *ngFor="let item of clients_list;let i=index">
									<td>{{i + 1}}</td>
									<td>{{item.name}}</td>
									<td>{{item.email}}</td>
									<td>{{item.phone}}</td>
								</tr>
							</ng-container>

						</tbody>
					</table>
				</div>
			</app-card>
		</div>
	</ng-container>
</div>