<section id="edit_contact_info">

    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Edit_Contact_Info.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/profile-details/view-profile-info" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Contact_Info.Profile Details' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Contact_Info.Edit_Contact_Info' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/profile-details/view-profile-info" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_contact_info_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Contact_Info.Edit Contact Info Form' | translate }}" [options]="false">
                    <div class="row" id="1">
                        <!-- Phone Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('phone').errors}">
                                <label>{{ 'Edit_Contact_Info.Phone' | translate }}</label>
                                <input type="text" name="phone" formControlName="phone" class="form-control form-control-md" placeholder="{{ 'Edit_Contact_Info.Enter_Phone' | translate }}" [ngClass]="{'is-invalid': checkValidation('phone').errors}">

                                <ng-container *ngIf="checkValidation('phone').errors">
                                    <ng-container *ngIf="checkValidation('phone').required">
                                        <span class="invalid-feedback">{{ 'Edit_Contact_Info.Please provide Phone' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('phone').patternValidate">
                                    <span class="invalid-feedback">{{ 'Edit_Contact_Info.Please provide valid 10 digit phone number' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('email').errors}">
                                <label>{{ 'Edit_Contact_Info.Email' | translate }}</label>
                                <input type="text" name="email" formControlName="email" class="form-control form-control-md" placeholder="{{ 'Edit_Contact_Info.Enter_Email' | translate }}" [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                <ng-container *ngIf="checkValidation('email').errors">
                                    <ng-container *ngIf="checkValidation('email').required">
                                        <span class="invalid-feedback">{{ 'Edit_Contact_Info.Please provide email' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('email').patternValidate">
                                    <span class="invalid-feedback">{{ 'Edit_Contact_Info.Please provide Proper email' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row" id="2">
                        <!-- Web Site -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('website').errors}">
                                <label>{{ 'Edit_Contact_Info.Website' | translate }}</label>
                                <input type="text" name="website" formControlName="website"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Edit_Contact_Info.Enter_website' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('website').errors}">

                                <ng-container *ngIf="checkValidation('website').errors">
                                    <ng-container *ngIf="checkValidation('website').required">
                                        <span
                                            class="invalid-feedback">{{'Edit_Contact_Info.please provide Website' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Fax Number -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('fax_number').errors}">
                                <label>{{ 'Edit_Contact_Info.Fax_Number' | translate }}</label>
                                <input type="text" name="fax_number" formControlName="fax_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Edit_Contact_Info.Enter_Fax_Number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('fax_number').errors}">

                                <ng-container *ngIf="checkValidation('fax_number').errors">
                                    <ng-container *ngIf="checkValidation('fax_number').required">
                                        <span
                                            class="invalid-feedback">{{'Edit_Contact_Info.please provide Fax Number' | translate}}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-md-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>