<section id="edit_vehicle_provider">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home" style="margin-right: 2px;"></i>{{ 'Edit_Vehicle_Provider.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/master/list-vehicle-provider" style="cursor: pointer;"><a class="breadcrumb-font-style">{{ 'Edit_Vehicle_Provider.Vehicle_Provider' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'Edit_Vehicle_Provider.Edit_Vehicle_Provider' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/master/list-vehicle-provider" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="edit_vehicle_provider_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Edit_Vehicle_Provider.Edit Vehicle Provider Form' | translate }}" [options]="false">
                    <div class="row" id="1">
                        <!-- Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('name').errors}">
                                <label>{{ 'Edit_Vehicle_Provider.Name' | translate }}</label>
                                <input type="text" name="name" formControlName="name" class="form-control form-control-md" placeholder="{{ 'Edit_Vehicle_Provider.Enter_Name' | translate }}" [ngClass]="{'is-invalid': checkValidation('name').errors}">

                                <ng-container *ngIf="checkValidation('name').errors">
                                    <ng-container *ngIf="checkValidation('name').required">
                                        <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Please provide Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('name').patternValidate">
                                    <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Accept Characters only' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('email').errors}">
                                <label>{{ 'Edit_Vehicle_Provider.Email' | translate }}</label>
                                <input type="email" name="email" formControlName="email" class="form-control form-control-md" placeholder="{{ 'Edit_Vehicle_Provider.Enter_Email' | translate }}" [ngClass]="{'is-invalid': checkValidation('email').errors}">

                                <ng-container *ngIf="checkValidation('email').errors">
                                    <ng-container *ngIf="checkValidation('email').required">
                                        <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Please provide Email' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('email').patternValidate">
                                    <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Please provide Proper Email' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="2">
                        <!-- Mobile -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('mobile').errors}">
                                <label>{{ 'Edit_Vehicle_Provider.Mobile' | translate }}</label>
                                <input type="text" name="mobile" formControlName="mobile" class="form-control form-control-md" placeholder="{{ 'Edit_Vehicle_Provider.Enter_Mobile' | translate }}" [ngClass]="{'is-invalid': checkValidation('mobile').errors}">

                                <ng-container *ngIf="checkValidation('mobile').errors">
                                    <ng-container *ngIf="checkValidation('mobile').required">
                                        <span class="invalid-feedback">{{ 'Add_Vehicle_Provider.Please provide Mobile Number' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="checkValidation('mobile').patternValidate"> 
                                    <span class="invalid-feedback">{{ 'Add_Vehicle_Provider.Please provide valid 15 digit Mobile number' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>
                        <!-- Telephone -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('telephone').errors}">
                                <label>{{ 'Edit_Vehicle_Provider.Telephone' | translate }}</label>
                                <input type="text" name="telephone" formControlName="telephone" class="form-control form-control-md" placeholder="{{ 'Edit_Vehicle_Provider.Enter_Telephone' | translate }}" [ngClass]="{'is-invalid': checkValidation('telephone').errors}">

                                <ng-container *ngIf="checkValidation('telephone').errors">
                                    <ng-container *ngIf="checkValidation('telephone').required">
                                        <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Please provide Telephone Number' | translate }}.</span>
                                    </ng-container>
                                    <ng-container *ngIf="checkValidation('telephone').patternValidate">
                                        <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Accept Only Numeric' | translate }}.</span>
                                    </ng-container>
                                    <ng-container *ngIf="checkValidation('telephone').maxLengthValidate"> 
                                        <span
                                            class="invalid-feedback">{{ 'Edit_Vehicle_Provider.accept 21 character only' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="3">
                        <!-- City Name -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('city_name').errors}">
                                <label>{{ 'Edit_Vehicle_Provider.City_Name' | translate }}</label>
                                <select class="form-control form-control-md" name="city_name" formControlName="city_name" [ngClass]="{'is-invalid': checkValidation('city_name').errors}">
									<option value="">{{ 'Edit_Vehicle_Provider.Select_City_Name' | translate }}</option>
									<option [value]="city.city_id" *ngFor="let city of cities">{{city.city_name}}</option>
								</select>

                                <ng-container *ngIf="checkValidation('city_name').errors">
                                    <ng-container *ngIf="checkValidation('city_name').required">
                                        <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Please Select City Name' | translate }}.</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>

                        <!-- Address -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('address').errors}">
                                <label for="address">{{ 'Edit_Vehicle_Provider.Address' | translate }}</label>
                                <textarea class="form-control" rows="1" formControlName="address" [ngClass]="{'is-invalid': checkValidation('address').errors}"></textarea>

                                <ng-container *ngIf="checkValidation('address').errors">
                                    <ng-container *ngIf="checkValidation('address').required">
                                        <span class="invalid-feedback">{{ 'Edit_Vehicle_Provider.Address is required' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;" data-toggle="tooltip" data-placement="bottom" title="Save"><i class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>