<section id="view_clients">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0
                    rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white;
                        border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'View_Clients.Dashboard' | translate }}</a></li>
                        <li class="breadcrumb-item" routerLink="/user/list-clients" style="cursor:
                            pointer;"><a class="breadcrumb-font-style">{{ 'View_Clients.Clients' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">{{ 'View_Clients.View_Clients' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <!-- <div class="col-sm-2">
                <button type="back" style="width: inherit;" class="btn btn-lg
                    btn-primary" routerLink="/user/list-clients">{{ 'View_Clients.Button_Back_To_List' | translate }}</button>
            </div> -->
            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/user/list-clients" data-toggle="tooltip" data-placement="bottom" title="Back"><i class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Table Data -->
    <div class="row">
        <div class="col-sm-12">
            <app-card cardClass="card-datatable" [options]="false">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-12 table-responsive">
                                <table class="table">
                                    <tbody>
                                        
                                        <tr>
                                            <!-- First Name -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.First_Name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.name}}
                                            </td>

                                            <!-- Client Category -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.Client_Category' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.category}}
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <!-- Email -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.Email' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.email}}
                                            </td>

                                            <!-- Phone Number -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.Phone' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.phone}}
                                            </td>
                                        </tr>

                                        
                                        <tr>
                                        <!-- Country Name -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.Country Name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.country_name}}
                                            </td>

                                            <!-- City Name -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.City_Name' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.city_name}}
                                            </td>
                                        </tr>
                                      
                                        <tr>
                                            <!-- Number of Days -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.Number of Days' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.nb_days}}
                                            </td>

                                            <!-- User Role -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.User_Role' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.role_type}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <!-- Invoicing -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.Invoicing' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.invoicing}}
                                            </td>
                                            <!-- Address -->
                                            <th width="25%" style="font-size: 18px;">{{ 'View_Clients.Address' | translate }}</th>
                                            <td style="font-weight: bold; font-size: 18px;">
                                                {{client?.address}} 
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </app-card>
        </div>
    </div>                                   

</section>