<section id="add_receipt">
    <!-- Breadcrum section -->
    <section class="breadcrums">
        <div class="row" style="margin-bottom: 1rem;">
            <div class="col-sm-11">
                <nav aria-label="breadcrumb" style="box-shadow: 0 1px 3px 0 rgba(54, 80, 138, 0.3);">
                    <ol class="breadcrumb" style="background-color: white; border: 1px solid #e2e5e8;">
                        <li class="breadcrumb-item" routerLink="/dashboard/analytics" style="cursor: pointer;">
                            <a class="breadcrumb-font-style">
                                <i class="feather icon-home"
                                    style="margin-right: 2px;"></i>{{ 'Add_Receipt.Dashboard' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" routerLink="/accounts/list-receipt" style="cursor: pointer;"><a
                                class="breadcrumb-font-style">{{ 'Add_Receipt.Accounts' | translate }}</a></li>
                        <li class="breadcrumb-item active breadcrumb-active" aria-current="page">
                            {{ 'Add_Receipt.Receipt' | translate }}</li>
                    </ol>
                </nav>
            </div>

            <div class="col-sm-1">
                <button type="back" style="width: inherit;" class="btn btn-primary" routerLink="/accounts/list-receipt"
                    data-toggle="tooltip" data-placement="bottom" title="Back"><i
                        class="feather icon-arrow-left"></i></button>
            </div>
        </div>
    </section>

    <!-- Form Section -->
    <form [formGroup]="add_receipt_frm" (submit)="save()" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-12">
                <app-card cardTitle="{{ 'Add_Receipt.Add Receipt Form' | translate }}" [options]="false">
                    <div class="row">

                        <!-- MVT Code -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('mvt_code').errors}">
                                <label>{{ 'Add_Receipt.MVT Code' | translate }}</label>
                                <input type="text" name="mvt_code" formControlName="mvt_code"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Receipt.Enter_Mvt_Code' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('mvt_code').errors}">

                                <ng-container *ngIf="checkValidation('mvt_code').errors">
                                    <ng-container *ngIf="checkValidation('mvt_code').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Receipt.Please provide MVT Code' | translate }}</span>
                                    </ng-container>
                                    <ng-container *ngIf="checkValidation('mvt_code').patternValidate">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Receipt.please provide character only' | translate }}.</span>
                                    </ng-container>
                                    <ng-container *ngIf="checkValidation('mvt_code').maxLengthValidate">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Receipt.accept 4 character only' | translate }}.</span>
                                    </ng-container>
                                </ng-container>
                               
                            </div>
                        </div>

                        <!-- Designation -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('designation').errors}">
                                <label>{{ 'Add_Receipt.Designation' | translate }}</label>
                                <input type="text" name="designation" formControlName="designation"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Receipt.Enter_Designation' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('designation').errors}">

                                <ng-container *ngIf="checkValidation('designation').errors">
                                    <ng-container *ngIf="checkValidation('designation').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Receipt.Please provide Designation' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- Account -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('account_number').errors}">
                                <label>{{ 'Add_Receipt.TRN_Number' | translate }}</label>
                                <input type="text" appOnlynumber name="account_number" formControlName="account_number"
                                    class="form-control form-control-md"
                                    placeholder="{{ 'Add_Receipt.Enter_TRN_Number' | translate }}"
                                    [ngClass]="{'is-invalid': checkValidation('account_number').errors}">

                                <ng-container *ngIf="checkValidation('account_number').errors">
                                    <ng-container *ngIf="checkValidation('account_number').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Receipt.Please provide TRN Number' | translate }}</span>
                                    </ng-container>
                                </ng-container>
                                <!-- <ng-container *ngIf="checkValidation('account_number').patternValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Receipt.Please provide 12 digits Numeric only' | translate }}.</span>
                                </ng-container> -->
                                <ng-container *ngIf="checkValidation('account_number').minLengthValidate">
                                    <span
                                        class="invalid-feedback">{{ 'Add_Receipt.accept minimum 12 numeric character only' | translate }}.</span>
                                </ng-container>
                            </div>
                        </div>

                        <!-- Meaning -->
                        <div class="col-md-6">
                            <div class="form-group" [ngClass]="{'has-error': checkValidation('meaning').errors}">
                                <label>{{ 'Add_Receipt.Meaning' | translate }}</label>
                                <select class="form-control form-control-md" name="meaning" formControlName="meaning"
                                    [ngClass]="{'is-invalid': checkValidation('meaning').errors}">
                                    <option value="">{{ 'Add_Receipt.Select_Meaning' | translate }}</option>
                                    <option value="1">Plus (+)</option>
                                    <option value="2">Minus (-)</option>
                                </select>

                                <ng-container *ngIf="checkValidation('meaning').errors">
                                    <ng-container *ngIf="checkValidation('meaning').required">
                                        <span
                                            class="invalid-feedback">{{ 'Add_Receipt.Please Select Meaning' | translate }}</span>
                                    </ng-container>
                                </ng-container>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <label>{{ 'Add_Receipt.Active' | translate }}</label>
                        </div>
                        <div class="col-md-6">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline1" [value]="1" class="custom-control-input"
                                    formControlName="active" [checked]='true'>
                                <label class="custom-control-label"
                                    for="customRadioInline1">{{ 'Add_Receipt.yes' | translate }}</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="customRadioInline2" [value]="2" class="custom-control-input"
                                    formControlName="active">
                                <label class="custom-control-label"
                                    for="customRadioInline2">{{ 'Add_Receipt.no' | translate }}</label>
                            </div>
                        </div>
                    </div>

                    <!-- Button Section -->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: end;">
                            <button type="submit" class="btn btn-primary" style="width: auto; margin-right: 0px;"
                                data-toggle="tooltip" data-placement="bottom" title="Save"><i
                                    class="feather icon-save"></i></button>
                        </div>
                    </div>
                </app-card>
            </div>
        </div>
    </form>
</section>